<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="frmCentre_ResetPassword" styleClass="ui-login">
        <p:spacer height="30" />

        <p:panel styleClass="ui-login" header="#{msg['navPasswordReset']}" style="width: 460px;">

            <h:panelGrid id="resetInfoPanel" columns="2">
                <!-- Account ID -->
                <h:outputText value="#{msg['AccountID']}" />
                <p:inputText id="accountID" value="#{pageManager.passwordResetAccountID}" size="8" ></p:inputText>
                <p:spacer></p:spacer>
                <p:message for="accountID" ></p:message>

                <!-- EMail Address -->
                <h:outputText value="#{msg['EMail']}" />
                <p:inputText id="email" 
                             value="#{pageManager.passwordResetEmail}" 
                             required="true"
                             requiredMessage="#{msg['promptForEmail']}"
                             validatorMessage="#{msg['invalidEmailFormat']}"
                             >
                    <f:validateRegex
                        pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                </p:inputText>
                <p:spacer></p:spacer>
                <p:message for="accountID" ></p:message>
                <p:spacer></p:spacer>

                <!-- Submit -->
                <p:commandButton actionListener="#{pageManager.processPasswordReset}" 
                                 value="#{pageManager.navPasswordReset.caption}"  
                                 ajax="true" 
                                 update="@all">
                </p:commandButton>

                <p:focus for="accountID"/>
            </h:panelGrid>

        </p:panel>

    </h:form>
</ui:composition>