<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="frmCentrePage" >  
        <p:panel  styleClass="nameValuePairBox">

            <p:fieldset legend="#{msg['GeneralInformation']}" styleClass="sectionHeader" >
                <p:panelGrid styleClass="nameValuePairBox" >
                    <!-- ++++++++++++ -->
                    <!--   GENERAL    -->
                    <!-- ++++++++++++ -->    
                    <p:row >
                        <!-- Title -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Title']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.title}" />
                        </p:column>
                        <!-- Initials -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['Initials']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.initials}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <!-- First name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['FirstName']}" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.firstname}" />
                        </p:column>                    
                        <!-- Preferred Name -->
                        <p:column styleClass="inlineHeadingStyle"  >
                            <h:outputText  value="#{msg['PreferredName']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.preferredName}" />
                        </p:column>                    
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Second Name -->
                        <p:column styleClass="inlineHeadingStyle"  >
                            <h:outputText  value="#{msg['SecondName']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.secondname}" />
                        </p:column>
                        <!-- Last Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['LastName']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle">
                            <h:outputText  value="#{pageManager.company.employeeManager.selectedEmployee.surname}" />
                        </p:column>
                    </p:row>
                    <p:row>

                        <!-- Gender -->
                        <p:column styleClass="inlineHeadingStyle"  >
                            <h:outputText  value="#{msg['Gender']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.gender}"  />
                        </p:column>
                        <!-- Marital Status -->
                        <p:column styleClass="inlineHeadingStyle"  >                        
                            <h:outputText  value="#{msg['MaritalStatus']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.maritalStatus}"  />
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row  >

                        <!-- Home Language -->
                        <p:column styleClass="inlineHeadingStyle"  >                        
                            <h:outputText  value="#{msg['HomeLanguage']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.homeLanguage}" />
                        </p:column>
                        <!-- Preferred Name -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['PreferredName']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.preferredName}" />
                        </p:column>
                    </p:row>    
                </p:panelGrid>
            </p:fieldset> 
            <!-- ++++++++++++ -->
            <!--   NUMBERS AND DATES    -->
            <!-- ++++++++++++ -->
            <p:fieldset legend="#{msg['NumbersAndDates']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox"   >
                    <!-- ***************************** -->
                    <p:row>
                        <!-- ID Number -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['IDNumber']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.idNumber}" />
                        </p:column>
                        <!-- Tax Number -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['TaxNumber']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.taxNumber}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <!-- Passport Number -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['PassportNumber']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.passportNumber}" />
                        </p:column>
                        <!-- Date Of Birth -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['DateOfBirth']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.dateOfBirthString}" />
                        </p:column>
                    </p:row>
                    <p:row>

                        <!-- Date of Engagement -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['DateOfEmployment']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.dateOfEngagementString}"  />
                        </p:column>
                        <!-- Group Join Date -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['GroupJoinDate']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.groupJoinDateString}" />
                        </p:column>
                    </p:row>
                    <p:row rendered="#{pageManager.company.employeeManager.selectedEmployee.dateOfDischarge!=null}">

                        <!-- Date of Discharge -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['DateOfDischarge']}:" style="color: #ff0000"/><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.dateOfDischargeString}"  />
                        </p:column>
                        <!-- Discharge Reason -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText  value="#{msg['DischargeReason']}:" style="color: #ff0000"/><p:spacer width="5" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.dischargeReason}" />
                        </p:column>
                    </p:row>                    
                    
                </p:panelGrid>
            </p:fieldset>

            <!-- ++++++++++++ -->
            <!--     COMPANY RELATED    -->
            <!-- ++++++++++++ -->
            <p:fieldset  legend="#{msg['CompanyRelated']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox"  >
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Cost Centre -->
                        <p:column  styleClass="inlineHeadingStyle"  >                        
                            <h:outputText  value="#{msg['CostCentre']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.costCentreName}" />
                        </p:column>
                        <!-- Role -->
                        <p:column  styleClass="inlineHeadingStyle"  >                        
                            <h:outputText  value="#{msg['JobTitle']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.jobTitle}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <!-- Payroll -->
                        <p:column  styleClass="inlineHeadingStyle"  >                        
                            <h:outputText  value="#{msg['Payroll']}:" /><p:spacer width="5" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.payrollName}" />
                        </p:column>
                        <!-- Calculation Status -->
                        <p:column  styleClass="inlineHeadingStyle"  >                        
                            <h:outputText  value="#{msg['CalculationStatus']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.runStatusCaption}" />
                            <p:spacer width="5" />
                            <p:commandLink action="#{pageManager.company.employeeManager.selectedEmployee.redoPayCalc}" 
                                           oncomplete="javascript:window.location.reload()">
                                <!-- Employee can still be calculated -->
                                <h:graphicImage rendered="#{!pageManager.company.employeeManager.selectedEmployee.closedForRun}"
                                                id="reloadCalc" url="./images/icon-reload.png" 
                                                height="30"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 5px !important;"
                                                title="Recalculate">
                                    <p:tooltip id="ttRecalc" for="reloadCalc" value="#{msg['tooltipRecalculate']}"
                                               showEffect="clip" hideEffect="explode" />
                                </h:graphicImage>
                                <!-- Employee CLOSED for this run -->
                                <h:graphicImage rendered="#{pageManager.company.employeeManager.selectedEmployee.closedForRun}"
                                                id="noReloadCalc" url="./images/icon-noreload.png" 
                                                height="30"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 5px !important;"
                                                title="Unable to recalculate">
                                    <p:tooltip id="ttNoRecalc" for="noReloadCalc" value="#{msg['tooltipNoRecalculate']}"
                                               showEffect="clip" hideEffect="explode" />
                                </h:graphicImage>
                            </p:commandLink>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset>
            <!-- ++++++++++++ -->
            <!--     Account Information    -->
            <!-- ++++++++++++ -->
            <p:fieldset  legend="#{msg['AccountDetails']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox "  >
                    <!-- ++++++++++++ -->
                    <!--   Bank Account    -->
                    <!-- ++++++++++++ -->    
                    <p:row  >
                        <!-- Type -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['AccountType']}:"  />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountType}" />
                        </p:column>
                        <!-- Name -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['AccountName']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountName}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <!-- Account Number -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['AccountNumber']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountNumber}" />
                        </p:column>
                        <!-- Line Number -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['LineNumber']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountLineNumber}" />
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Bank -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['Bank']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBank}" />
                        </p:column>
                        <!-- Bank Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['BankCode']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBankCode}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <!-- Branch -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['Branch']}:"  />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBranch}" />
                        </p:column>
                        <!-- Branch Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText  value="#{msg['BranchCode']}:" />
                        </p:column>
                        <p:column   styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBranchCode}" />
                        </p:column>
                    </p:row>

                </p:panelGrid>
            </p:fieldset>


        </p:panel>
    </h:form>
</ui:composition>