<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset legend="#{msg['navUserPreferences']}" styleClass="sectionHeader">
                <!-- +++++++++++++++++++++ -->
                <!--      Preferences      -->
                <!-- +++++++++++++++++++++ -->    
                <p:panelGrid styleClass="nameValuePairBox"  >
                    <p:row  >
                        <!-- Theme -->
                        <p:column >
                            <h:outputText value="#{msg['DisplayTheme']}" styleClass="inlineHeadingStyle"  /><p:spacer width="15" />

                            <h:selectOneMenu value="#{pageManager.sessionUser.theme}" 
                                             valueChangeListener="#{pageManager.sessionUser.themeChanged}" >
                                <f:selectItems value="#{pageManager.listManager.listItems_Theme}" /> 
                                <f:ajax immediate="true"  />
                                <p:ajax update="@all"  />
                            </h:selectOneMenu>
                        </p:column>
 
                        <!-- Language -->
                        <p:column>
                            <h:outputText value="#{msg['DisplayLanguage']}" styleClass="inlineHeadingStyle"  /><p:spacer width="15" />
                            <h:selectOneMenu value="#{pageManager.sessionUser.localeDefinition.displayName}" 
                                             valueChangeListener="#{pageManager.sessionUser.countryLocaleNameChanged}" >
                                <f:selectItems value="#{pageManager.listManager.listItems_LocalDefinitions}" /> 
                                <f:ajax immediate="true"  />
                                <p:ajax update="@all"  />
                            </h:selectOneMenu>
                            <p:spacer width="5" />
                            <h:outputText value="#{msg['noteRequiresToLogInAgain']}" style="font-style: italic"  />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset>
        </p:panel>
    </h:form>
</ui:composition>