<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="frmCentre_RegisterAccount" styleClass="ui-login">

        <p:fieldset legend="Create a new account" styleClass="sectionHeader">
            <!-- ++++++++++++ -->
            <!--   GENERAL    -->
            <!-- ++++++++++++ -->  
            <p:panelGrid styleClass="nameValuePairBox"  >
                <p:row  >

                    <!-- Company Name -->
                    <p:column styleClass="inlineHeadingStyle">
                        <h:outputText value="Company:" />

                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText id="txtCompany"
                                     value="#{pageManager.newAccount.companyName}"
                                     required="true"
                                     size="30"
                                     requiredMessage="You need to specify a name for your company" />
                        <p:watermark for="txtCompany" value="For domestic use, type in your surname" />  
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>

                </p:row>
                <!-- ***************************** -->
                <p:row>
                    <!-- Firstname -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="Your name:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText id="txtFirstname"
                                     value="#{pageManager.newAccount.userFirstName}"
                                     required="true"
                                     requiredMessage="Please provide us with your name." />
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                    <!-- Surname -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="Your surname:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.newAccount.userSurname}"
                                     required="true"
                                     requiredMessage="Please provide us with your surname." />
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                </p:row>
                <!-- ***************************** -->
                <p:row>
                    <!-- username -->
                    <p:column styleClass="inlineHeadingStyle"  >
                        <h:outputText value="Login name:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.newAccount.userLogin}"
                                     required="true"
                                     requiredMessage="You need a valid login name">
                            <p:ajax immediate="true" />
                        </p:inputText>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>

                    <!-- password -->
                    <p:column styleClass="inlineHeadingStyle" width="20" >
                        <h:outputText value="Password (make it a good one):" />
                    </p:column>

                    <p:column>
                        <p:password styleClass="inlineValueStyle" 
                                    value="#{pageManager.newAccount.userPwd}" 
                                    feedback="true"
                                    required="true"
                                    requiredMessage="You need a valid password"
                                    weakLabel="This is an easy one to crack.  I'm sure you can do better."
                                    goodLabel="Not too bad." 
                                    strongLabel="Great password!"
                                    promptLabel="We need you to enter a password that you will use to log into PeopleWeb with."
                                    redisplay="true"
                                    label="Password" >

                            <p:ajax immediate="true" />
                            <f:validateLength minimum="5" />
                        </p:password>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>

                </p:row>
                <p:row>
                    <p:column styleClass="inlineHeadingStyle" width="20" >
                        <h:outputText value="&nbsp;"  />
                    </p:column>
                    <p:column styleClass="inlineValueStyle">
                        <h:outputText value="&nbsp;"  />
                    </p:column>
                    <p:column styleClass="inlineHeadingStyle" width="20" >
                        <h:outputText value="#{msg['Confirm']}:"  />
                    </p:column>
                    <p:column>
                        <p:password styleClass="inlineValueStyle"  
                                    value="#{pageManager.newAccount.userPwdVerified}" 
                                    required="true"
                                    requiredMessage="'#{msg['AdminPassword']}' #{msg['IsACompulsoryField']}"
                                    redisplay="true"
                                    promptLabel="#{msg['ReenterPassword']}"
                                    label="#{msg['AdminPassword']}">
                            <p:ajax immediate="true" />
                        </p:password>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                </p:row>
                <p:row>
                    <!-- Email -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="Email where we can contact you:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.newAccount.userEmail}"
                                     required="true"
                                     requiredMessage="We need your email address too."
                                     validatorMessage="This does not seem to be a valid email address."
                                     >
                            <f:validateRegex
                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            <p:ajax immediate="true" />
                        </p:inputText>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                    <!-- Phone number -->
                    <p:column styleClass="inlineHeadingStyle" style="width: 80px;">
                        <h:outputText value="Phone number (for telephone support):"  style="width: 80px;"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.newAccount.userPhone}"
                                     required="true"
                                     requiredMessage="We need your phone number for telephone support."
                                     validatorMessage="This does not seem to be a valid phone number. Please use international code."
                                     >
                            <f:validateRegex
                                pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$" />
                            <p:ajax immediate="true" />
                        </p:inputText>
                        <h:outputText styleClass="compulsoryIndicator" value="* Please use international code" />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset> 


        <p:fieldset legend="Create a payroll" styleClass="sectionHeader">
            <!-- Information on the need to create a payroll -->
            <p:panelGrid style="width:90%;height:10px;text-align: center;border: none;font-size: larger" >
                <p:row  >
                    <p:column>
                        <h:outputText value="In order to proceed, we need to create at least one payroll. We will add you as an employee to this payroll. " />
                    </p:column>
                </p:row>
                <p:row >
                    <p:column>
                        <h:outputText  value="Once the account is created, you can proceed to create more payrolls and start capturing your employees. " />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid style="width:90%;height:10px;text-align: center;border: none;" >
                <!--                  -->
                <!-- CREATE A PAYROLL -->
                <!--                  -->
                <p:row >
                    <!-- Payroll Name -->
                    <p:column styleClass="inlineHeadingStyle"  >
                        <h:outputText value="Name of payroll:" styleClass="inlineHeadingStyle" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" style="text-align: left">
                        <p:inputText  styleClass="inlineValueStyle" 
                                      value="#{pageManager.newAccount.payrollName}"  
                                      style="width:140px"
                                      required="true"
                                      requiredMessage="We need a name for your first payroll." >
                        </p:inputText>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                    <!-- Payroll Type -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="Payroll Type:" styleClass="inlineHeadingStyle"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" style="text-align: left" >
                        <h:outputText value="Monthly" />
                    </p:column>
                </p:row>
                <!--     -->
                <!-- ROW -->
                <!--     -->
                <p:row  >



                    <!-- Tax Country -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['TaxCountry']}:" styleClass="inlineHeadingStyle"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" style="text-align: left">
                        <h:selectOneMenu value="#{pageManager.newAccount.payrollCountry}" 
                                         style="width:160px">
                            <f:selectItem itemLabel="South Africa" itemValue="SOUTH AFRICA" />
                            <f:selectItem itemLabel="Angola" itemValue="ANGOLA" />
                            <f:selectItem itemLabel="Botswana" itemValue="BOTSWANA" />
                            <f:selectItem itemLabel="Eritrea" itemValue="ERITREA" />
                            <f:selectItem itemLabel="Ghana" itemValue="GHANA" />
                            <f:selectItem itemLabel="Kenya" itemValue="KENYA" />
                            <f:selectItem itemLabel="Lesotho" itemValue="LESOTHO" />
                            <f:selectItem itemLabel="Malawi" itemValue="MALAWI" />
                            <f:selectItem itemLabel="Morocco" itemValue="MOROCCO" />
                            <f:selectItem itemLabel="Mozambique" itemValue="MOZAMBIQUE" />
                            <f:selectItem itemLabel="Namibia" itemValue="NAMIBIA" />
                            <f:selectItem itemLabel="Nigeria" itemValue="NIGERIA" />
                            <f:selectItem itemLabel="Senegal" itemValue="SENEGAL" />
                            <f:selectItem itemLabel="Swaziland" itemValue="SWAZILAND" />
                            <f:selectItem itemLabel="Tanzania" itemValue="TANZANIA" />
                            <f:selectItem itemLabel="Zambia" itemValue="ZAMBIA" />
                            <f:selectItem itemLabel="Zimbabwe" itemValue="ZIMBABWE" />

                        </h:selectOneMenu> 

                    </p:column>

                    <p:column />
                    <p:column />
                </p:row>
                <p:row >
                    <!-- Tax Year Start -->
                    <p:column styleClass="inlineHeadingStyle" style="text-align: right">
                        <h:outputText value="Your country's tax year start date:" styleClass="inlineHeadingStyle"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" style="text-align: left">

                        <p:calendar id="calTYStart"
                                    pattern="yyyy/MM/dd" 
                                    required="true"
                                    requiredMessage="We need to know when your payroll's tax year starts"
                                    mask="true"
                                    size="10"
                                    navigator="true"
                                    immediate="true"
                                    value="#{pageManager.newAccount.payrollTaxYearStart}"
                                    mode="popup"
                                    maxdate="2020/01/01">
                            <p:ajax immediate="true"
                                    update="frmCentre_RegisterAccount:openPeriods"/>
                            <p:ajax global = "false" 
                                    event="dateSelect"
                                    update="frmCentre_RegisterAccount:openPeriods" />
                        </p:calendar> 
                        <h:outputText styleClass="compulsoryIndicator" value="*" />

                    </p:column>
                    <!-- Open Period -->
                    <p:column styleClass="inlineHeadingStyle" style="text-align: right">
                        <h:outputText value="In which month of this tax year would you like to start working:" styleClass="inlineHeadingStyle"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" style="text-align: left">
                        <h:selectOneMenu id="openPeriods"
                                         style="width:120px"
                                         required="true"
                                         value="#{pageManager.newAccount.requestedOpenPeriod}"
                                         requiredMessage="When creating a new payroll, you have to define which month in that payroll you'd like to start with.">

                            <f:selectItems value="#{pageManager.newAccount.periodStartDates}"  />
                            <p:ajax immediate="true" />
                        </h:selectOneMenu> 
                        <p:spacer width="5" />

                    </p:column>
                </p:row>


            </p:panelGrid>
        </p:fieldset>
        <p:toolbar styleClass="#{pageManager.styleClassForHeader}" style="width: 99%" >
            <f:facet name="right" >
                <p:commandButton   styleClass="editFormButton"  value="#{msg['Continue']}"  icon="ui-icon-check" 
                                   actionListener="#{pageManager.saveChanges}" 
                                   update="@all"/>  
                <p:spacer width="10"/>
                <p:commandButton  styleClass="editFormButton" value="#{msg['Cancel']}"  icon="ui-icon-cancel" 
                                  actionListener="#{pageManager.cancelChanges}" 
                                  update="@all" immediate="true"/>  
            </f:facet>
        </p:toolbar>
    </h:form>
</ui:composition>                    