<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="frmCentrePage" > 
        <p:panel  styleClass="nameValuePairBox">
            <p:fieldset legend="#{msg['SystemOverview']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox" >
                    <!-- ++++++++++++ -->
                    <!--   Server    -->
                    <!-- ++++++++++++ -->    
                    <p:row >
                        <!-- URL -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['navConnectionURL']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >
                            <h:outputText value="#{pageManager.connectionURL}" />
                        </p:column>
                        <!-- Credits -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Credits']}:" />

                        </p:column>   
                        <p:column styleClass="inlineValueStyle" >
                            <h:outputText rendered="#{pageManager.creditBelowThreshold_Payroll}" 
                                          style="color: red;" 
                                          value="#{pageManager.payrollCredits}" />

                            <!-- Hint -->
                            <p:spacer width="5" />
                            <h:graphicImage rendered="#{pageManager.creditBelowThreshold_Payroll}" 
                                            id="toolTip" url="./images/info.png" 
                                            height="15" style="position: relative !important;vertical-align: middle !important;bottom: 2px !important;"/>
                            <p:tooltip id="ttComponent" 
                                       for="toolTip" 
                                       value="#{msg['hint_RenewCredits']}"
                                       showEffect="clip" 
                                       hideEffect="explode" 
                                       />
                            <h:outputText rendered="#{!pageManager.creditBelowThreshold_Payroll}" 
                                          value="#{pageManager.payrollCredits}" />
                        </p:column>   
                        <!-- TeamViewer Link -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="Remote Support:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >
                            <p:commandLink onclick="window.open('http://get.teamviewer.com/fa5bgky', '');" >
                                <!-- Employee CLOSED for this run -->
                                <p:graphicImage id="showTeamViewer" url="./images/teamviewer.png" 
                                                height="40">
                                </p:graphicImage>
                                <p:tooltip id="ttTeamViewer" 
                                           for="showTeamViewer" 
                                           value="This is a paid-for service (English Only).  Kindly use the online chat (below) to request remote assistance."
                                           showEffect="clip" 
                                           hideEffect="explode" 
                                           />
                            </p:commandLink>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset> 
            <!-- ++++++++++++ -->
            <!--   Company    -->
            <!-- ++++++++++++ -->
            <p:fieldset legend="#{msg['Company']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox"   >
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Company Name -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText value="#{msg['CompanyName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.name}" />
                        </p:column>
                        <!-- Telephone -->
                        <p:column  styleClass="inlineHeadingStyle" >                        
                            <h:outputText value="#{msg['Phone']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.phone}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <!-- Fax -->
                        <p:column  styleClass="inlineHeadingStyle" >                        
                            <h:outputText value="#{msg['Fax']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.fax}" />
                        </p:column>
                        <!-- Email -->
                        <p:column  styleClass="inlineHeadingStyle" >                        
                            <h:outputText value="#{msg['EMail']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.email}" />
                        </p:column>
                    </p:row>

                    <p:row>
                        <!--   -->
                        <p:column styleClass="inlineHeadingStyle"  >                        
                            <h:outputText value="#{msg['RegistrationNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.registrationNo}" />
                        </p:column>
                        <!--  -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText value="#{msg['TaxNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.taxNo}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <!--  -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText value="#{msg['PensionNumber']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.pensionNo}" />
                        </p:column>
                        <!--  -->
                        <p:column styleClass="inlineHeadingStyle" >                        
                            <h:outputText value="#{msg['DiplomaticIndemnity']}:" />
                        </p:column>
                        <p:column  styleClass="inlineValueStyle" >                        
                            <h:outputText value="#{pageManager.company.diplomaticIndemnity}" />
                        </p:column>
                    </p:row>


                    <p:row>
                        <!-- MAIN BUSINESS  -->
                        <p:column styleClass="inlineHeadingStyle">                        
                            <h:outputText value="#{msg['MainBusinessActivity']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle"  >                        
                            <h:outputText value="#{pageManager.company.mainBusinessActivity}" />
                        </p:column>
                    </p:row>



                </p:panelGrid>
            </p:fieldset>

            <p:fieldset legend="#{msg['PhysicalAddress']}"  styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox" >
                    <!-- ++++++++++++++++++++ -->
                    <!--   COMPANY ADDRESS    -->
                    <!-- ++++++++++++++++++++ -->    
                    <p:row >
                        <!--  -->
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Country']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physCountry}" />
                        </p:column>

                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Province']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physProvince}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['City']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physCity}" />
                        </p:column>

                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Suburb']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physSuburb}" />
                        </p:column>
                    </p:row>
                    <p:row >
                        <!--  -->
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['StreetNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physStreetNo}" />
                        </p:column>

                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Street']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physStreet}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Complex']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physComplex}" />
                        </p:column>

                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['UnitNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.physUnitNo}" />
                        </p:column>

                    </p:row>
                    <p:row>
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['PostalSameAsPhysical']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.postalSameAsPhysical}" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset> 
            <p:fieldset legend="#{msg['PostalAddress']}" styleClass="sectionHeader" rendered="#{!pageManager.company.postalSameAsPhysical}">
                <p:panelGrid styleClass="nameValuePairBox" >
                    <!-- ++++++++++++++++++++ -->
                    <!--   COMPANY POSTAL ADDRESS    -->
                    <!-- ++++++++++++++++++++ -->    
                    <p:row >
                        <!--  -->
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Country']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.postalCountry}" />
                        </p:column>

                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Province']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.postalProvince}" />
                        </p:column>               
                    </p:row>
                    <p:row>
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['City']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.postalCity}" />
                        </p:column>

                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Suburb']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.postalSuburb}" />
                        </p:column>
                    </p:row>
                    <p:row >
                        <!--  -->
                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['Address']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.postalAddress}" />
                        </p:column>

                        <p:column styleClass="inlineHeadingStyle">
                            <h:outputText value="#{msg['PostalCode']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle">
                            <h:outputText value="#{pageManager.company.postalCode}" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset> 
        </p:panel>
    </h:form>
</ui:composition>