<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
 
    <!-- TOOL BAR HEADER FOR EMPLOYEE-CENTRIC PAGES -->
    <p:toolbar styleClass="#{pageManager.styleClassForHeader}" rendered="#{pageManager.includeEmployeeInHeader}" >

        <f:facet name="left" rendered="#{pageManager.loggedIn}" >
            <p:spacer width="10" />
            <h:outputText styleClass="editFormHeader"   value="#{pageManager.selectedAction.caption} :" />
            <p:spacer width="10" />
            <h:outputText styleClass="editFormHeader"   value=" #{pageManager.company.employeeManager.selectedEmployee.toOverviewString}" />
        </f:facet>

        <f:facet name="right" >
            <p:commandButton   rendered="#{pageManager.changesOnPage}" 
                               styleClass="editFormButton"  value="#{msg['ApplyChanges']}"  icon="ui-icon-check" 
                               actionListener="#{pageManager.saveChanges}" 
                               />  
            <p:spacer width="10"/>
            <p:commandButton  rendered="#{pageManager.changesOnPage}" 
                              styleClass="editFormButton" value="#{msg['UndoChanges']}"  icon="ui-icon-cancel" 
                              actionListener="#{pageManager.cancelChanges}" 
                              />  
        </f:facet>
    </p:toolbar>

    <!-- TOOL BAR HEADER FOR non-EMPLOYEE-CENTRIC PAGES -->
    <p:toolbar styleClass="#{pageManager.styleClassForHeader}" rendered="#{!pageManager.includeEmployeeInHeader}" >
        <f:facet name="left"  >
            <h:outputText rendered="#{pageManager.loggedIn}"
                          styleClass="editFormHeader"   
                          value="#{pageManager.selectedAction.caption}" />
        </f:facet>

        <f:facet name="right" >
            <p:commandButton rendered="#{pageManager.changesOnPage}"
                             styleClass="editFormButton"  
                             value="#{msg['ApplyChanges']}"  icon="ui-icon-check" 
                             actionListener="#{pageManager.saveChanges}" 
                              update="@all"
                               />  
            <p:spacer width="10"/>
            <p:commandButton rendered="#{pageManager.changesOnPage}"
                             styleClass="editFormButton" 
                             value="#{msg['UndoChanges']}"  icon="ui-icon-cancel" 
                             actionListener="#{pageManager.cancelChanges}" 
                             update="@all"
                              />  
        </f:facet>
    </p:toolbar>

</ui:composition>