<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="frmCentrePage" >  
        <p:panel  styleClass="nameValuePairBox">

            <p:fieldset legend="#{msg['ReportingStatus']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox" >
                    <!-- ++++++++++++ -->
                    <!--   Server    -->
                    <!-- ++++++++++++ -->    
                    <p:row >
                        <!-- URL -->
                        <p:column >
                            <h:outputText styleClass="valueFont" value="#{msg['tooltipReportOverview']}:" /><p:spacer width="5" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset> 

        </p:panel>
    </h:form>
</ui:composition>