<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

<h:form id="frmCentrePage" > 
        <h:outputLabel value="#{pageManager.selectedAction.caption} "  styleClass="navHeaderFont" />
        <!--                                                             -->
        <!-- Lists all the payrolls, with calculation stats for each     -->
        <!--                                                             -->
        <p:fieldset id="payCycles" legend="#{msg['PayCycles']}" styleClass="sectionHeader">
            <!-- Hint -->
            <h:graphicImage id="toolTip" url="./images/info.png" 
                            height="24" style="float: right;"/>

            <p:tooltip id="ttComponent" 
                       for="toolTip" 
                       value="#{msg['hint_PayCycles']}"
                       showEffect="clip" 
                       hideEffect="explode" 
                       />
            <p:row>
                <p:dataTable var="payroll" 
                             selectionMode="single"
                             selection="#{pageManager.company.payrollManager.selectedPayroll}"
                             value="#{pageManager.company.payrollManager.payrolls}"
                             rowKey="#{payroll.payrollID}"
                             >
                    <!-- Name -->
                    <p:column headerText="#{msg['PayrollName']}" width="10%" >
                        <h:outputText value="#{payroll.payrollName}" />
                    </p:column>
                    <!-- Country -->
                    <p:column headerText="#{msg['Country']}" width="10%" >
                        <h:outputText value="#{payroll.taxCountry}" />
                    </p:column>
                    <!-- Open Period -->
                    <p:column headerText="#{msg['OpenPeriod']}" width="10%">
                        <h:outputText rendered="#{payroll.lastPeriodInTaxYear}" 
                                      value="#{payroll.openPeriod}" 
                                      styleClass="attention"/>
                        <h:outputText rendered="#{!payroll.lastPeriodInTaxYear}" 
                                      value="#{payroll.openPeriod}" />
                    </p:column>
                    <!-- Tax Year Start and End -->
                    <p:column  headerText="#{msg['TaxYearStart']} - #{msg['TaxYearEnd']}" width="10%" >
                        <h:outputText rendered="#{payroll.lastPeriodInTaxYear}" 
                                      value="#{payroll.taxYearStartString} - #{payroll.taxYearEndString}"
                                      styleClass="attention"/>
                        <h:outputText rendered="#{!payroll.lastPeriodInTaxYear}" 
                                      value="#{payroll.taxYearStartString} - #{payroll.taxYearEndString}" />
                    </p:column>

                    <!-- nbActiveEmployees -->
                    <p:column headerText="#{msg['NbActiveEmployes']}" width="5%">
                        <h:outputText value="#{payroll.nbActiveEmployees}" />
                    </p:column>
                    <!-- New -->
                    <p:column headerText="#{msg['NbNewEmployes']}" width="8%" >
                        <h:outputText value="#{payroll.nbEngagedInThisPeriod}" />
                    </p:column>
                    <!-- Discharged -->
                    <p:column headerText="#{msg['NbDischargedEmployes']}" width="8%" >
                        <h:outputText value="#{payroll.nbDischargedInThisPeriod}" />
                    </p:column>

                    <!--                             In Queue 
                                                <p:column headerText="#{msg['NbInQueueEmployees']}" width="8%" >
                                                    <h:outputText value="#{payroll.nbInCalcQueueInThisPeriod}" /><p:spacer width="7"/>
                                                </p:column>                            -->
                    <!-- Calculated -->
                    <p:column headerText="#{msg['NbCalculatedEmployees']}" width="8%" >
                        <h:outputText value="#{payroll.nbCalculatedInThisPeriod}" />
                    </p:column>
                    <!-- Skipped -->
                    <p:column headerText="#{msg['NbSkippedEmployees']}" width="8%" >
                        <h:outputText value="#{payroll.nbSkippedInThisPeriod}" /><p:spacer width="7"/>
                    </p:column>

                    <!-- Advance to next week/month -->
                    <!--                            -->
                    <p:column headerText="#{msg['AdvanceToNextPeriod']}" width="8%" >
                        <!--                                 -->
                        <!--      NOT ENOUGH CREDITS   -->
                        <!--                                 -->
                        <h:graphicImage id="advancePayrollNoCredits" url="./images/advance-no.png" 
                                        height="30"
                                        rendered="#{payroll.periodAdvanceStatus==constants.ADVANCE_NOCREDITS}"
                                        title="Recalculate">
                            <p:tooltip id="ttAdvancePayrollNoCredits" for="advancePayrollNoCredits" value="#{msg['tooltipInsufficientCreditsToAdvance']}"
                                       showEffect="clip" hideEffect="explode" />
                        </h:graphicImage>
                        <!--                                 -->
                        <!--      ALL EMPLOYEES CALCULATED   -->
                        <!--                                 -->
                        <p:commandLink  rendered="#{payroll.periodAdvanceStatus==constants.ADVANCE_ALLCALCULATED and !payroll.lastPeriodInTaxYear}"
                                        action="#{payroll.advancePeriod}" >
                            <h:graphicImage id="advancePayrollAllOK" url="./images/icon-advance.png" 
                                            height="30"
                                            title="Recalculate">
                                <p:tooltip id="ttRecalcAllOK" for="advancePayrollAllOK" value="#{msg['tooltipAdvanceToNextPeriod']}"
                                           showEffect="clip" hideEffect="explode" />
                            </h:graphicImage>
                            <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmAdvancePayroll']}" icon="ui-icon-alert"/>
                        </p:commandLink>
                        <!--                                 -->
                        <!--  NOT ALL EMPLOYEES CALCULATED   -->
                        <!--                                 -->
                        <p:commandLink  rendered="#{payroll.periodAdvanceStatus==constants.ADVANCE_SOMESKIPPED and !payroll.lastPeriodInTaxYear}"
                                        action="#{payroll.advancePeriod}">
                            <h:graphicImage id="advancePayrollNotOK" url="./images/icon-advance-exception.png" 
                                            height="30"
                                            title="Recalculate">
                                <p:tooltip id="ttRecalcNotOK" for="advancePayrollNotOK" value="#{msg['tooltipAdvanceToNextPeriodException']}"
                                           showEffect="clip" hideEffect="explode" />
                            </h:graphicImage>
                            <p:confirm  header="#{msg['Confirmation']}" message="#{msg['ConfirmAdvancePayrollOutstandingCalcs']}" icon="ui-icon-alert"/>
                            <p:ajax update=":ltuMain"  />
                        </p:commandLink>
                        <!--                                    -->
                        <!--              ACCEPT TYE            -->
                        <!--                                    -->
                        <p:commandLink  rendered="#{payroll.lastPeriodInTaxYear}"
                                        id="button"
                                        oncomplete="PF('dlg1').show();">
                            <h:graphicImage id="acceptedTaxYearRollOverImg" url="./images/icon-advance-exception.png" 
                                            height="30"
                                            title="acceptTYERollOver">
                            </h:graphicImage>

                            <p:dialog header="#{msg['confirmTYE']}" widgetVar="dlg1" id="dlg1" closable="true" closeOnEscape="true" focus="nobtn">
                                <div style="font-size: 120%">
                                    <h:outputText value="#{payroll.taxYearRollOverMessage_Part1}"
                                                  id="messageResult_part1"
                                                  escape="false"/>
                                    <b><h:outputText value="#{payroll.payrollName}"/></b>
                                    <h:outputText value="#{payroll.taxYearRollOverMessage_Part2}"
                                                  id="messageResult_part2"
                                                  escape="false"/>
                                </div>
                                <hr/>
                                <p:commandButton value="#{msg['mbYes']}" 
                                                 styleClass="ui-confirmdialog-yes"  
                                                 icon="ui-icon-check"
                                                 action="#{payroll.advancePeriod}"
                                                 update=":frmCentrePage"
                                                 onsuccess="PF('dlg1').hide(); "/>
                                <p:commandButton id="nobtn"
                                                 value="#{msg['mbNo']}" 
                                                 type="button" 
                                                 styleClass="ui-confirmdialog-no"  
                                                 icon="ui-icon-close"
                                                 onclick="PF('dlg1').hide(); "
                                                 update=":frmCentrePage"/>
                            </p:dialog>

                        </p:commandLink>

                        <p:confirmDialog global="false" style="font-size: small;border: 0">
                            <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                            <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                        </p:confirmDialog>

                    </p:column>
                </p:dataTable>
            </p:row>
        </p:fieldset> 
        <!--                                                             -->
        <!-- Displays all the employees that were skipped in this period -->
        <!--                                                             -->
        <p:fieldset rendered="#{pageManager.company.employeeManager.nbSkippedEmployees>0}"
                    id="fsSkippedEmps" 
                    legend="#{msg['SkippedEmployees']}" 
                    styleClass="sectionHeader">
            <p:row>
                <p:column width="100%">

                    <!-- Show list of skipped Employees -->
                    <!--         -->
                    <p:dataTable var="skippedEmployee" 
                                 paginator="true"
                                 id="skippedEmployees"
                                 paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {NextPageLink}"
                                 rows="10"
                                 selectionMode="single"
                                 selection="#{pageManager.company.employeeManager.selectedEmployee}"
                                 value="#{pageManager.company.employeeManager.skippedEmployees}"
                                 rowKey="#{skippedEmployee.employeeID}">

                        <!-- Employee -->
                        <p:column width = "15%"
                                  id ="colSkippedEmployee"
                                  headerText="#{msg['Employee']}" >
                            <h:outputText value="#{skippedEmployee.surname}, #{skippedEmployee.firstname} [#{skippedEmployee.employeeNumber}] " />
                        </p:column>
                        <!-- Payroll -->
                        <p:column width = "15%"
                                  headerText="#{msg['PayrollName']}" >
                            <h:outputText value="#{skippedEmployee.payrollName}" />
                        </p:column>
                        <!-- Status -->
                        <p:column width = "10%"
                                  headerText="#{msg['CalculationStatus']}">
                            <h:outputText value="#{skippedEmployee.readibleRunStatus}" />
                        </p:column>
                        <!-- Recalc -->
                        <p:column width = "10%"
                                  headerText="#{msg['Process']}">
                            <p:commandLink 
                                action="#{skippedEmployee.redoPayCalc}" 
                                actionListener="#{pageManager.company.payrollManager.reloadPayrollsStatus}">
                                <h:graphicImage rendered="#{!pageManager.company.employeeManager.selectedEmployee.closedForRun}"
                                                id="reloadCalc" url="./images/icon-reload.png" 
                                                height="30"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 2px !important;"
                                                title="Recalculate">
                                    <p:tooltip id="ttRecalc" for="reloadCalc" value="#{msg['tooltipRecalculate']}"
                                               showEffect="clip" hideEffect="explode" />
                                </h:graphicImage>
                                <h:graphicImage rendered="#{pageManager.company.employeeManager.selectedEmployee.closedForRun}"
                                                id="noReloadCalc" url="./images/icon-noreload.png" 
                                                height="30"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 2px !important;"
                                                title="Recalculate">
                                    <p:tooltip id="ttNoRecalc" for="noReloadCalc" value="#{msg['tooltipNoRecalculate']}"
                                               showEffect="clip" hideEffect="explode" />
                                </h:graphicImage>                                    
                                <p:ajax update=":ltuMain"  />
                            </p:commandLink>
                        </p:column>        
                        <!-- Preview Payslip -->
                        <p:column width = "10%">
                            <p:commandLink id="btnPreviewPayslip"
                                           action="#{skippedEmployee.setAsSelectedEmployee}">
                                <h:graphicImage id="previewPayslip" url="./images/icon-magnifying-with-edit.png" 
                                                height="25"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 2px !important;">
                                    <p:tooltip id="ttPreview" for="previewPayslip" value="#{msg['tooltipPreviewSummaryPayslip']}"
                                               showEffect="clip" hideEffect="explode" />
                                </h:graphicImage>
                            </p:commandLink>
                            <p:overlayPanel appendToBody="true"
                                            id="opPayslip"
                                            my="right bottom"
                                            at="bottom"
                                            for="btnPreviewPayslip"
                                            dynamic="true">
                                <ui:include src="_employee_change_payInfo_small.xhtml" /> 

                            </p:overlayPanel>
                        </p:column>

                    </p:dataTable>
                </p:column>
            </p:row>
        </p:fieldset>
    </h:form>
</ui:composition>