<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="frmCentre_Login" styleClass="ui-login">
        <p:panel rendered="#{pageManager.databasesRunning}">
            <p:panel styleClass="ui-login" header="#{msg['navLogin']}" style="width: 360px;" >
                <h:panelGrid id="loginPanel" columns="2">
                    <!-- Account ID -->
                    <h:outputText value="#{msg['AccountID']}" />
                    <p:inputText id="accountID" value="#{pageManager.accountID}" size="8" ></p:inputText>
                    <p:spacer></p:spacer>
                    <p:message for="accountID" ></p:message>

                    <!-- Username -->
                    <h:outputText value="#{msg['UserName']}" />
                    <p:inputText id="username" 
                                 value="#{pageManager.userName}"
                                 ></p:inputText>
                    <p:spacer></p:spacer>
                    <p:message for="username" ></p:message>

                    <!-- Password -->
                    <h:outputText value="#{msg['Password']}" />
                    <p:password id="password" 
                                value="#{pageManager.password}"  
                                feedback="false"></p:password>
                    <p:spacer></p:spacer>
                    <p:message for="password"></p:message>
                    <p:spacer></p:spacer>

                    <!-- Submit -->
                    <p:commandButton actionListener="#{pageManager.login}" 
                                     value="#{pageManager.navLogin.caption}"  
                                     ajax="true" 
                                     update="@all"></p:commandButton>

                    <p:focus for="accountID"/>

                    <!--                       -->
                    <!-- Forgot/Reset password -->
                    <!--                       -->
                    <p:spacer></p:spacer>
                    <p:commandLink action="#{pageManager.navigateToPasswordReset}" style="text-align: right;" 
                                   update="@all" >
                        <h:outputText value="Reset my password" style="text-align: right;" />


                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmResetPassword']}" icon="ui-icon-alert"/>
                    </p:commandLink>
                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                    </p:confirmDialog>
                </h:panelGrid>
            </p:panel>


            <!--                        -->
            <!-- Register a new account -->
            <!--                        -->
            <p:panel styleClass="ui-login" header="Want to try out PeopleWeb?" style="width: 360px;" rendered="#{pageManager.canCreateNewAccounts}">
                <h:panelGrid id="regNewAccount" columns="1">
                    <h:outputText value="Upon registering, you will receive 20 credits, allowing you to process 20 payslips completely free of charge. " />
                    <p:spacer />
                    <p:commandLink action="#{pageManager.navigateToRegisterAccount}" style="text-align: right;" 
                                   update="@all" >
                        <p:spacer />
                        <h:outputText value="REGISTER" style="text-align: right" />
                    </p:commandLink>
                    <br />
                    <a href="http://accsys.co.za/sites/default/files/PeopleWeb%20Terms%20and%20Conditions.pdf" target="_blank" style="text-align: right">Read our Terms and Conditions</a>

                </h:panelGrid>
            </p:panel>

            <!--                                  -->
            <!-- Unable to register a new account -->
            <!--                                  -->
            <p:panel styleClass="ui-login" header="Want to try out PeopleWeb?" style="width: 360px;" rendered="#{!pageManager.canCreateNewAccounts}">
                <h:panelGrid id="regNoNewAccount" columns="1">
                    <h:outputText value="Unfortunately, our servers are unable to create new accounts at present.  Please try again later." />
                </h:panelGrid>
            </p:panel>     
        </p:panel>
        
        <p:panel rendered="#{!pageManager.databasesRunning}">
            <!--                                  -->
            <!-- No running databases at present  -->
            <!--                                  -->
            <p:panel styleClass="ui-login" header="Down for maintenance" style="width: 360px;" >
                <h:panelGrid  columns="1">
                    <h:outputText value="Unfortunately, our servers are presently down for maintenance.  We should be back online shortly." />
                </h:panelGrid>
            </p:panel>   
        </p:panel>
    </h:form>


</ui:composition>