<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel"  >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <!--                      -->
            <!-- IF NOT ACTIVE (YET)  -->
            <!--                      -->
            <p:panelGrid rendered="#{pageManager.company.employeeManager.selectedEmployee.notEngagedYet}" >
                <p:row>
                    <p:column>
                        <h:graphicImage width="30"
                                        url="./images/icon-exclamation.png"  
                                        /><p:spacer width="10" />
                        <h:outputText value="#{msg['EmployeeNotActiveYet']}" styleClass="inlineHeadingStyle" />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:fieldset rendered="#{!pageManager.company.employeeManager.selectedEmployee.notEngagedYet}" 
                        legend="#{pageManager.company.employeeManager.selectedEmployee.payrollName} " styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox "  >
                    <!--                      -->
                    <!-- IF LINKED TO PAYROLL -->
                    <!--                      -->
                    <p:row>
                        <!-- Rate Of Pay -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['RateOfPay']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.payroll.currencyString}"/>
                            <p:spacer width="5" />
                            <p:inputText id="RateOfPay" 
                                         value="#{pageManager.company.employeeManager.selectedEmployee.rateOfPay}" 
                                         required="true"
                                         size="9"
                                         requiredMessage="'#{msg['RateOfPay']}' #{msg['IsACompulsoryField']}"
                                         validatorMessage="'#{msg['RateOfPay']}' - #{msg['warningMustBeNumeric']}">
                                <p:ajax immediate="true" />
                                <f:validateDoubleRange minimum="0" maximum="999999999"/>
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                            <h:outputText value=" / #{pageManager.company.employeeManager.selectedEmployee.payPer}"/>

                        </p:column>
                        <!-- Medical Aid Dependents -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['MedicalAidDependents']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText id="NbMedAidDep" 
                                         value="#{pageManager.company.employeeManager.selectedEmployee.nbMedDependents}" 
                                         required="true"
                                         size="3"
                                         requiredMessage="'#{msg['NbMedAidDependents']}' #{msg['IsACompulsoryField']}"
                                         validatorMessage="'#{msg['NbMedAidDependents']}' - #{msg['warningMustBeNumeric']}">
                                <p:ajax immediate="false" />
                                <f:validateDoubleRange minimum="0" maximum="15"/>                                
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>

                        <!--                   -->
                        <!-- Retry calculation -->
                        <!--                   -->
                        <p:column styleClass="inlineValueStyle" >
                            <p:commandLink action="#{pageManager.company.employeeManager.selectedEmployee.redoPayCalc}" 
                                           oncomplete="javascript:window.location.reload()">
                                <!-- Employee can still be calculated -->
                                <h:graphicImage rendered="#{!pageManager.company.employeeManager.selectedEmployee.closedForRun}"
                                                id="reloadCalc" url="./images/icon-reload.png" 
                                                height="30"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 5px !important;"
                                                title="Recalculate">
                                    <p:tooltip id="ttRecalc" for="reloadCalc" value="#{msg['tooltipRecalculate']}"
                                               showEffect="clip" hideEffect="explode" />
                                </h:graphicImage>
                                <!-- Employee CLOSED for this run -->
                                <h:graphicImage rendered="#{pageManager.company.employeeManager.selectedEmployee.closedForRun}"
                                                id="noReloadCalc" url="./images/icon-noreload.png" 
                                                height="30"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 5px !important;"
                                                title="Unable to recalculate">
                                    <p:tooltip id="ttNoRecalc" for="noReloadCalc" value="#{msg['tooltipNoRecalculate']}"
                                               showEffect="clip" hideEffect="explode" />
                                </h:graphicImage>
                            </p:commandLink>
                        </p:column>
                    </p:row>           

                    <p:row>
                        <!-- Days Per Month -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['DaysPerMonth']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:spacer width="15" />
                            <p:inputText id="DaysPerMonth" 
                                         value="#{pageManager.company.employeeManager.selectedEmployee.daysPerMonth}" 
                                         required="true"
                                         size="4"
                                         requiredMessage="'#{msg['DaysPerMonth']}' #{msg['IsACompulsoryField']}"
                                         validatorMessage="'#{msg['DaysPerMonth']}' - #{msg['warningMustBeNumeric']}">
                                <p:ajax immediate="false" />
                                <f:validateDoubleRange minimum="0" maximum="31"/>  
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Hours Per Day -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['hrsPerDay']}:"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText id="hrsPerDay" 
                                         value="#{pageManager.company.employeeManager.selectedEmployee.hoursPerDay}" 
                                         required="true"
                                         size="4"
                                         requiredMessage="'#{msg['hrsPerDay']}' #{msg['IsACompulsoryField']}"
                                         validatorMessage="'#{msg['hrsPerDay']}' - #{msg['warningMustBeNumeric']}">
                                <p:ajax immediate="false" />
                                <f:validateDoubleRange minimum="0" maximum="24"/>  
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <!--                 -->
                            <!-- Preview payslip -->
                            <!--                 -->
                            <h:commandLink target="_blank"
                                           id="payslip"
                                           onclick="#{pageManager.company.employeeManager.selectedEmployee.setPayslipPrintForPeriod(pageManager.company.employeeManager.selectedEmployee.payroll.openPeriodDateAsString)}"
                                           actionListener="#{pageManager.company.employeeManager.selectedEmployee.printPayslip}">
                                <p:tooltip id="ttPayslip" for="payslip" value="#{msg['tooltipShowPayslip']}"
                                           showEffect="clip" hideEffect="explode" />
                                <p:graphicImage rendered="#{pageManager.company.employeeManager.selectedEmployee.runStatus==3}"
                                                id="showPayslip" url="./images/print.png" 
                                                height="30"
                                                style="position: relative !important;vertical-align: middle !important;bottom: 5px !important;"
                                                title="Show Payslip">
                                </p:graphicImage>
                            </h:commandLink>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset>


            <p:panelGrid rendered="#{!pageManager.company.employeeManager.selectedEmployee.notEngagedYet}"  styleClass="panelColumns">
                <p:row>
                    <p:column >
                        <!-- FIRST COLUMN -->
                        <p:panelGrid styleClass="panelColumns">
                            <!-- +++++++++++++++++++++ -->
                            <!--        Earnings       -->
                            <!-- +++++++++++++++++++++ -->  
                            <p:row>
                                <p:column>
                                    <p:fieldset legend="#{msg['payslip_Income']}" styleClass="sectionHeader">
                                        <h:panelGrid columns="1" cellpadding="0">
                                            <p:dataTable var="earning" 
                                                         value="#{pageManager.company.employeeManager.selectedEmployee.payEntityInstances_Earnings}"
                                                         editMode="cell" 
                                                         editable="true"
                                                         emptyMessage="#{msg['payslip_NoEarnings']}"
                                                         widgetVar="dtblEarnings"
                                                         styleClass="payslipStyle"
                                                         selection="#{pageManager.company.employeeManager.selectedEmployee.selectedPayEntityInstance}"
                                                         rowKey="#{earning.payEntity.entityID}+#{earning.payEntity.entityType}"
                                                         >
                                                <p:ajax event="rowSelect"  
                                                        listener="#{pageManager.company.employeeManager.selectedEmployee.onExistingEntityRowSelect}"
                                                        immediate="true"/>
                                                <!-- Caption -->
                                                <p:column >
                                                    <h:outputText value="#{earning.payEntity.caption}" />
                                                </p:column>
                                                <!-- Value -->
                                                <p:column headerText="#{msg['headerValue']}" 
                                                          footerText="#{pageManager.company.employeeManager.selectedEmployee.currencyAndValue_Earnings_Total}">
                                                    <p:cellEditor id="editEarning">
                                                        <f:facet name="output" >
                                                            <h:outputText value="#{earning.currencyAndValue}" />
                                                            <p:commandLink>
                                                                <h:graphicImage url="./images/icon-edit.png" style="float: right" height="15"/>
                                                            </p:commandLink>

                                                        </f:facet>
                                                        <f:facet name="input" >
                                                            <p:inputText id="modelInput" value="#{earning.tempValue}" style="width:96%"/>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                    <p:tooltip id="tteditEarning" for="editEarning" value="#{msg['EditValueInGridTip']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                </p:column>
                                                <!--                -->
                                                <!-- HELPER COLUMNS -->
                                                <!--                -->
                                                <p:column width="20">
                                                    <!-- RFI -->
                                                    <!--             -->
                                                    <p:commandLink action="#{earning.toggleRFI}" 
                                                                   oncomplete="javascript:window.location.reload()"
                                                                   rendered="#{earning.showRFI}">
                                                        <h:graphicImage id="isRFI" url="./images/icon-RFI.png" 
                                                                        rendered="#{earning.rfi}"/>
                                                        <h:graphicImage id="notRFI" url="./images/icon-nonRFI.png" 
                                                                        rendered="#{!earning.rfi}"/>
                                                        <p:tooltip id="tooltipExplainRFI" for="isRFI" value="#{msg['tooltipExplainRFI']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:tooltip id="tooltipExplainNonRFI" for="notRFI" value="#{msg['tooltipExplainNonRFI']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                    </p:commandLink>

                                                </p:column>
                                                <p:column width="20">
                                                    <!-- Explain -->
                                                    <!--         -->
                                                    <h:graphicImage id="explainEarnings" url="./images/help.png" 
                                                                    height="15"/>
                                                    <p:tooltip id="ttExplainEarning" for="explainEarnings" value="#{msg['tooltipExplainCalculation']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                    <p:overlayPanel for="explainEarnings" hideEffect="fade" 
                                                                    dynamic="true" style="width:400px" >
                                                        <p:fieldset legend="#{msg['payslip_legend_Rule']}" 
                                                                    styleClass="sectionHeader" 
                                                                    rendered="#{earning.payEntity.renderShowRule}">
                                                            <p:row>
                                                                <!-- Rule -->
                                                                <p:column>
                                                                    <h:outputText value="#{earning.payEntity.calculationFormula}" />
                                                                </p:column> 
                                                            </p:row>
                                                        </p:fieldset>
                                                        <p:fieldset legend="#{msg['payslip_legend_Interpretation']}" 
                                                                    styleClass="sectionHeader" 
                                                                    rendered="#{earning.payEntity.renderShowFormulaExplanation}">
                                                            <p:row>
                                                                <!-- Formula -->
                                                                <p:column>
                                                                    <h:outputText value="#{earning.interpretedFormula}" />
                                                                </p:column> 
                                                            </p:row>
                                                        </p:fieldset>
                                                    </p:overlayPanel>
                                                </p:column>
                                                <p:column width="80">
                                                    <!-- Undo T-Type -->
                                                    <!--             -->
                                                    <p:commandLink action="#{earning.undoTempOverride}" 
                                                                   oncomplete="javascript:window.location.reload()"
                                                                   rendered="#{earning.tempValue != null}">
                                                        <h:graphicImage id="undoTempValEarning" url="./images/icon-undo.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttExplainUndoEarning" for="undoTempValEarning" value="#{msg['PayEntityUndoTemp']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmUndoTempOverride']}" icon="ui-icon-alert"/>
                                                    </p:commandLink>
                                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                                    </p:confirmDialog>
                                                    <p:spacer width="15" />
                                                    <!-- Save T-Type -->
                                                    <!--             -->
                                                    <p:commandLink>
                                                        <h:graphicImage id="saveTempValEarning" url="./images/save_24_h.png" 
                                                                        height="15" />
                                                        <p:tooltip id="ttSaveEarning" for="saveTempValEarning" value="#{msg['saveTempValue']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                    </p:commandLink>    
                                                    <p:spacer width="15" />
                                                    <!-- Unlink -->
                                                    <!--        -->
                                                    <p:commandLink action="#{earning.markAsUnlinked}" 
                                                                   oncomplete="javascript:window.location.reload()"
                                                                   >
                                                        <h:graphicImage id="unlinkEarning" url="./images/delete.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttUnlinkEarning" for="unlinkEarning" value="#{msg['tooltipExplainUnlinkEntity']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmUnlinkPayEntity']}" icon="ui-icon-alert"/>
                                                    </p:commandLink>
                                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                                    </p:confirmDialog>
                                                </p:column>
                                            </p:dataTable>
                                            <!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
                                            <!-- Link new pay entity (EARNING) to this person -->
                                            <!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
                                            <p:commandButton 
                                                ajax="true" 
                                                icon="ui-icon-circle-plus" 
                                                id="btnNewPayEntity_Earning"
                                                value="#{msg['Add']}"/>
                                            <p:tooltip id="ttAddEarning" for="btnNewPayEntity_Earning" value="#{msg['tooltipAddEarning']}"
                                                       showEffect="clip" hideEffect="explode"  />
                                            <p:overlayPanel for="btnNewPayEntity_Earning" hideEffect="fade" 
                                                            dynamic="true" style="width:600px" >
                                                <p:dataTable var="newEarning" 
                                                             paginator="true"
                                                             paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {NextPageLink}"
                                                             selectionMode="single" 
                                                             rows="8"
                                                             sortBy="#{newEarning.caption}"
                                                             caseSensitiveSort="false"
                                                             value="#{pageManager.company.employeeManager.selectedEmployee.payEntities_UnusedEarnings}" 
                                                             rowKey="#{newEarning.entityID}">
                                                    <p:ajax event="rowSelect"   
                                                            listener="#{pageManager.company.employeeManager.selectedEmployee.onNewEntityRowSelect}" 
                                                            immediate="true"/>
                                                    <p:column width = "40%"
                                                              headerText="#{msg['PayEntityName']}">
                                                        <h:outputText value="#{newEarning.name}" />
                                                    </p:column>

                                                    <p:column width = "40%" headerText="#{msg['PayEntityFormula']}" >
                                                        <h:outputText value="#{newEarning.calculationFormula}"  />
                                                    </p:column>
                                                </p:dataTable>
                                                <!-- Link to add new Pay entity -->
                                                <p:commandButton id="btnMakeNewEarning" 
                                                                 actionListener="#{pageManager.navigateToPayEntityScreen}"
                                                                 update=":content" 
                                                                 ajax="true" 
                                                                 icon="ui-icon-circle-plus" 
                                                                 title="#{msg['CreateNewPayEntity']}"
                                                                 value="#{msg['CreateNewPayEntity']}"
                                                                 style="margin-top: 10px; margin-bottom: 10px;"/>
                                            </p:overlayPanel>
                                        </h:panelGrid>
                                    </p:fieldset>
                                </p:column>
                            </p:row>
                            <!-- +++++++++++++++++++++ -->
                            <!--        Deductions     -->
                            <!-- +++++++++++++++++++++ -->  
                            <p:row>
                                <p:column>
                                    <p:fieldset legend="#{msg['payslip_Deductions']}" styleClass="sectionHeader">
                                        <h:panelGrid columns="1" cellpadding="0">
                                            <p:dataTable var="deduction" 
                                                         value="#{pageManager.company.employeeManager.selectedEmployee.payEntityInstances_Deductions}"
                                                         editMode="cell" 
                                                         editable="true"
                                                         styleClass="payslipStyle"
                                                         emptyMessage="#{msg['payslip_NoDeductions']}"
                                                         selection="#{pageManager.company.employeeManager.selectedEmployee.selectedPayEntityInstance}"
                                                         rowKey="#{earning.payEntity.entityID}+#{earning.payEntity.entityType}">
                                                <p:ajax event="rowSelect"  
                                                        listener="#{pageManager.company.employeeManager.selectedEmployee.onExistingEntityRowSelect}" 
                                                        immediate="true"/>
                                                <!-- Caption -->
                                                <p:column >
                                                    <h:outputText value="#{deduction.payEntity.caption}" />
                                                </p:column>
                                                <!-- Value -->
                                                <p:column headerText="#{msg['headerValue']}"
                                                          footerText="#{pageManager.company.employeeManager.selectedEmployee.currencyAndValue_Deductions_Total}">
                                                    <p:cellEditor id="editDeductionValue">
                                                        <f:facet name="output">
                                                            <h:outputText value="#{deduction.currencyAndValue}" />
                                                            <p:commandLink>
                                                                <h:graphicImage url="./images/icon-edit.png" style="float: right" height="15"/>
                                                            </p:commandLink>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:inputText  value="#{deduction.tempValue}" style="width:96%"/>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                    <p:tooltip id="tteditDeductionValue" for="editDeductionValue" value="#{msg['EditValueInGridTip']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                </p:column>
                                                <!-- Balance -->
                                                <p:column headerText="#{msg['headerBalance']}" >

                                                    <p:cellEditor rendered="#{deduction.payEntity.renderShowBalance}" id="editDeductionBalance">
                                                        <f:facet name="output">
                                                            <h:outputText value="#{deduction.currencyAndBalance}" />
                                                            <p:commandLink>
                                                                <h:graphicImage url="./images/icon-edit.png" style="float: right" height="15"/>
                                                            </p:commandLink>                                                        </f:facet>
                                                        <f:facet name="input"  >
                                                            <p:inputText rendered="#{deduction.payEntity.renderAllowBalanceChange}" value="#{deduction.balance}" style="width:96%"/>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                    <p:tooltip id="tteditDeductionBalance" for="editDeductionBalance" value="#{msg['EditValueInGridTip']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                </p:column>

                                                <!--                -->
                                                <!-- HELPER COLUMNS -->
                                                <!--                -->
                                                <p:column width="20">
                                                    <!-- Explain -->
                                                    <!--         -->
                                                    <h:graphicImage id="explainDeductions" url="./images/help.png" 
                                                                    height="15"/>
                                                    <p:tooltip id="ttExplainDeduction" for="explainDeductions" value="#{msg['tooltipExplainCalculation']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                    <p:overlayPanel for="explainDeductions" hideEffect="fade" 
                                                                    dynamic="true" style="width:600px" >
                                                        <!-- Rule -->
                                                        <!--      -->
                                                        <p:fieldset legend="#{msg['payslip_legend_Rule']}" 
                                                                    styleClass="sectionHeader" 
                                                                    rendered="#{deduction.payEntity.renderShowRule}">
                                                            <p:row>

                                                                <p:column>
                                                                    <h:outputText value="#{deduction.payEntity.calculationFormula}" />
                                                                </p:column> 
                                                            </p:row>
                                                        </p:fieldset>
                                                        <!-- Formula -->
                                                        <!--         -->                                                       
                                                        <p:fieldset legend="#{msg['payslip_legend_Interpretation']}" 
                                                                    styleClass="sectionHeader" 
                                                                    rendered="#{deduction.payEntity.renderShowFormulaExplanation}">
                                                            <p:row>
                                                                <p:column>
                                                                    <h:outputText value="#{deduction.interpretedFormula}" />
                                                                </p:column> 
                                                            </p:row>
                                                        </p:fieldset>
                                                        <!-- Tax Diagnostics -->
                                                        <!--                 -->
                                                        <p:fieldset legend="#{msg['payslip_legend_TaxCalculation']}"  
                                                                    styleClass="sectionHeader" 
                                                                    rendered="#{deduction.payEntity.renderShowTaxDiagnostics}">
                                                            <p:row>
                                                                <p:column styleClass="inlineCellStyle" 
                                                                          rendered="#{deduction.payEntity.renderShowTaxDiagnostics}">
                                                                    <p:scrollPanel style="width:500px;height:200px">
                                                                        <p:dataList 
                                                                            itemType="square"
                                                                            var="taxDiagnosticItem" 
                                                                            value="#{pageManager.company.employeeManager.selectedEmployee.calcTaxDiagnostics}">
                                                                            #{taxDiagnosticItem.toString()}
                                                                        </p:dataList>
                                                                    </p:scrollPanel>
                                                                </p:column>

                                                            </p:row>
                                                        </p:fieldset>
                                                    </p:overlayPanel>
                                                </p:column>


                                                <p:column width="80">
                                                    <!-- Undo T-Type -->
                                                    <!--             -->
                                                    <p:commandLink action="#{deduction.undoTempOverride}" 
                                                                   oncomplete="javascript:window.location.reload()"
                                                                   rendered="#{deduction.tempValue != null}">
                                                        <h:graphicImage id="undoTempValDeduction" url="./images/icon-undo.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttExplainUndoDeduction" for="undoTempValDeduction" value="#{msg['PayEntityUndoTemp']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmUndoTempOverride']}" icon="ui-icon-alert"/>
                                                    </p:commandLink>
                                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                                    </p:confirmDialog>
                                                    <p:spacer width="15" />
                                                    <!-- Save T-Type -->
                                                    <!--             -->
                                                    <p:commandLink>
                                                        <h:graphicImage id="saveTempValDeduction" url="./images/save_24_h.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttSaveDeduction" for="saveTempValDeduction" value="#{msg['saveTempValue']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                    </p:commandLink>
                                                    <p:spacer width="15" />
                                                    <!-- Unlink -->
                                                    <!--        -->
                                                    <p:commandLink action="#{deduction.markAsUnlinked}" 
                                                                   oncomplete="javascript:window.location.reload()"
                                                                   rendered="#{!deduction.payEntity.renderShowTaxDiagnostics}">
                                                        <h:graphicImage id="unlinkDeduction" url="./images/delete.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttUnlinkDeduction" for="unlinkDeduction" value="#{msg['tooltipExplainUnlinkEntity']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmUnlinkPayEntity']}" icon="ui-icon-alert"/>
                                                    </p:commandLink>
                                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                                    </p:confirmDialog>
                                                </p:column>
                                            </p:dataTable>

                                            <!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
                                            <!-- Link new pay entity (DEDUCTIONS) to this person -->
                                            <!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
                                            <p:commandButton 
                                                ajax="true" 
                                                icon="ui-icon-circle-plus" 
                                                id="btnNewPayEntity_Deduction"
                                                value="#{msg['Add']}">
                                            </p:commandButton>
                                            <p:tooltip id="ttAddDeduction" for="btnNewPayEntity_Deduction" value="#{msg['tooltipAddDeduction']}"
                                                       showEffect="clip" hideEffect="explode" />
                                            <p:overlayPanel for="btnNewPayEntity_Deduction" hideEffect="fade" 
                                                            dynamic="true" style="width:600px" >
                                                <p:dataTable var="newDeduction" 
                                                             paginator="true"
                                                             paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {NextPageLink}"
                                                             selectionMode="single" 
                                                             rows="10"
                                                             value="#{pageManager.company.employeeManager.selectedEmployee.payEntities_UnusedDeductions}"
                                                             rowKey="#{newDeduction.entityID}+#{newDeduction.entityType}">
                                                    <p:ajax event="rowSelect"  
                                                            listener="#{pageManager.company.employeeManager.selectedEmployee.onNewEntityRowSelect}" 
                                                            immediate="true"/>
                                                    <p:column width = "40%"
                                                              headerText="#{msg['PayEntityName']}" >
                                                        <h:outputText value="#{newDeduction.name}" />
                                                    </p:column>

                                                    <p:column width = "20%" headerText="#{msg['PayEntityType']}" >
                                                        <h:outputText value="#{newDeduction.entityTypeString}"  />
                                                    </p:column>
                                                    <p:column width = "40%" headerText="#{msg['PayEntityFormula']}" >
                                                        <h:outputText value="#{newDeduction.calculationFormula}"  />
                                                    </p:column>
                                                </p:dataTable>
                                                 <!-- Link to add new Pay entity -->
                                                <p:commandButton id="btnMakeNewDeduction" 
                                                                 actionListener="#{pageManager.navigateToPayEntityScreen}"
                                                                 update=":content" 
                                                                 ajax="true" 
                                                                 icon="ui-icon-circle-plus" 
                                                                 title="#{msg['CreateNewPayEntity']}"
                                                                 value="#{msg['CreateNewPayEntity']}"
                                                                 style="margin-top: 10px; margin-bottom: 10px;"/>
                                            </p:overlayPanel>
                                        </h:panelGrid>
                                    </p:fieldset>
                                </p:column>
                            </p:row> 
                            <!-- +++++++++++++++++++++ -->
                            <!--   Non-payable   -->
                            <!-- +++++++++++++++++++++ -->  
                            <p:row>
                                <p:column>
                                    <p:fieldset legend="#{msg['payslip_NonPayable']}" styleClass="sectionHeader">
                                        <h:panelGrid columns="1" cellpadding="0">
                                            <p:dataTable var="nonPayable" 
                                                         value="#{pageManager.company.employeeManager.selectedEmployee.payEntityInstances_NonPayable}"
                                                         editMode="cell" 
                                                         editable="true"
                                                         styleClass="payslipStyle"
                                                         emptyMessage="#{msg['payslip_NoNonPayables']}"
                                                         selection="#{pageManager.company.employeeManager.selectedEmployee.selectedPayEntityInstance}"
                                                         rowKey="#{nonPayable.payEntity.entityID}+#{nonPayable.payEntity.entityType}">
                                                <p:ajax event="rowSelect"  
                                                        listener="#{pageManager.company.employeeManager.selectedEmployee.onExistingEntityRowSelect}" 
                                                        immediate="true"/>
                                                <!-- Caption -->
                                                <p:column >
                                                    <h:outputText value="#{nonPayable.payEntity.caption}" />
                                                </p:column>
                                                <!-- Value -->
                                                <p:column headerText="#{msg['headerValue']}"
                                                          id="colVal">
                                                    <p:cellEditor id="editNonPayable">
                                                        <f:facet name="output">
                                                            <h:outputText value="#{nonPayable.currencyAndValue}" />
                                                            <p:commandLink>
                                                                <h:graphicImage url="./images/icon-edit.png" style="float: right" height="15"/>
                                                            </p:commandLink>
                                                        </f:facet>
                                                        <f:facet name="input">
                                                            <p:inputText id="modelInput" value="#{nonPayable.tempValue}" style="width:96%"/>
                                                        </f:facet>
                                                    </p:cellEditor>
                                                    <p:tooltip id="tteditNonPayable" for="editNonPayable" value="#{msg['EditValueInGridTip']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                </p:column>
                                                <!--                -->
                                                <!-- HELPER COLUMNS -->
                                                <!--                -->
                                                <p:column width="20">
                                                    <!-- RFI -->
                                                    <!--             -->
                                                    <p:commandLink action="#{nonPayable.toggleRFI}" 
                                                                   oncomplete="javascript:window.location.reload()"
                                                                   rendered="#{nonPayable.showRFI}">
                                                        <h:graphicImage id="isRFI" url="./images/icon-RFI.png" 
                                                                        rendered="#{nonPayable.rfi}"/>
                                                        <h:graphicImage id="notRFI" url="./images/icon-nonRFI.png" 
                                                                        rendered="#{!nonPayable.rfi}"/>
                                                        <p:tooltip id="tooltipExplainRFI" for="isRFI" value="#{msg['tooltipExplainRFI']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:tooltip id="tooltipExplainNonRFI" for="notRFI" value="#{msg['tooltipExplainNonRFI']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                    </p:commandLink>

                                                </p:column>
                                                <p:column width="20">
                                                    <!-- Explain -->
                                                    <!--         -->
                                                    <h:graphicImage id="explainNonPayable" url="./images/help.png" 
                                                                    height="15"/>
                                                    <p:tooltip id="ttExplainNonPayablen" for="explainNonPayable" value="#{msg['tooltipExplainCalculation']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                    <p:overlayPanel for="explainNonPayable" hideEffect="fade" 
                                                                    dynamic="true" style="width:400px" >
                                                        <p:fieldset legend="#{msg['payslip_legend_Rule']}" 
                                                                    styleClass="sectionHeader" 
                                                                    rendered="#{nonPayable.payEntity.renderShowRule}">
                                                            <p:row>
                                                                <!-- Rule -->
                                                                <p:column>
                                                                    <h:outputText value="#{nonPayable.payEntity.calculationFormula}" />
                                                                </p:column> 
                                                            </p:row>
                                                        </p:fieldset>
                                                        <p:fieldset legend="#{msg['payslip_legend_Interpretation']}" 
                                                                    styleClass="sectionHeader" 
                                                                    rendered="#{nonPayable.payEntity.renderShowFormulaExplanation}">
                                                            <p:row>
                                                                <!-- Formula -->
                                                                <p:column>
                                                                    <h:outputText value="#{nonPayable.interpretedFormula}" />
                                                                </p:column> 
                                                            </p:row>
                                                        </p:fieldset>
                                                    </p:overlayPanel>
                                                </p:column>


                                                <p:column width="80">
                                                    <!-- Undo T-Type -->
                                                    <!--             -->
                                                    <p:commandLink action="#{nonPayable.undoTempOverride}" 
                                                                   oncomplete="javascript:window.location.reload()"
                                                                   rendered="#{nonPayable.tempValue != null}">
                                                        <h:graphicImage id="undoTempValNonPayable" url="./images/icon-undo.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttExplainUndoNonPayable" for="undoTempValNonPayable" value="#{msg['PayEntityUndoTemp']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmUndoTempOverride']}" icon="ui-icon-alert"/>
                                                    </p:commandLink>
                                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                                    </p:confirmDialog>
                                                    <p:spacer width="15" />
                                                    <!-- Save T-Type -->
                                                    <!--             -->
                                                    <p:commandLink>
                                                        <h:graphicImage id="saveTempValNonPayable" url="./images/save_24_h.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttSaveNonPayable" for="saveTempValNonPayable" value="#{msg['saveTempValue']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                    </p:commandLink>
                                                    <p:spacer width="15" />
                                                    <!-- Unlinked -->
                                                    <!--        -->
                                                    <p:commandLink action="#{nonPayable.markAsUnlinked}" 
                                                                   oncomplete="javascript:window.location.reload()">
                                                        <h:graphicImage id="unlinkNonPayable" url="./images/delete.png" 
                                                                        height="15"/>
                                                        <p:tooltip id="ttUnlinkNonPayable" for="unlinkNonPayable" value="#{msg['tooltipExplainUnlinkEntity']}"
                                                                   showEffect="clip" hideEffect="explode" />
                                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmUnlinkPayEntity']}" icon="ui-icon-alert"/>
                                                    </p:commandLink>
                                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-nor"  icon="ui-icon-close"/>
                                                    </p:confirmDialog>
                                                </p:column>

                                            </p:dataTable>
                                            <!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
                                            <!-- Link new pay entity (Non-Payable) to this person -->
                                            <!-- ++++++++++++++++++++++++++++++++++++++++++++ -->
                                            <p:commandButton 
                                                ajax="true" 
                                                icon="ui-icon-circle-plus" 
                                                id="btnNewPayEntity_NonPayable"
                                                value="#{msg['Add']}">
                                            </p:commandButton>
                                            <p:tooltip id="ttAddNonPayable" for="btnNewPayEntity_NonPayable" value="#{msg['tooltipAddNonPayable']}"
                                                       showEffect="clip" hideEffect="explode" />
                                            <p:overlayPanel for="btnNewPayEntity_NonPayable" hideEffect="fade" 
                                                            dynamic="true" style="width:600px" >
                                                <p:dataTable var="newNonPayable" 
                                                             paginator="true"
                                                             paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {NextPageLink}"
                                                             selectionMode="single" 
                                                             rows="10"
                                                             value="#{pageManager.company.employeeManager.selectedEmployee.payEntities_UnusedNonPayable}" 
                                                             rowKey="#{newNonPayable.entityID}+#{newNonPayable.entityType}">
                                                    <p:ajax event="rowSelect"  
                                                            listener="#{pageManager.company.employeeManager.selectedEmployee.onNewEntityRowSelect}" 
                                                            immediate="true"/>
                                                    <p:column headerText="#{msg['PayEntityName']}" 
                                                              width = "40%">
                                                        <h:outputText value="#{newNonPayable.name}" />
                                                    </p:column>

                                                    <p:column width = "20%" headerText="#{msg['PayEntityType']}" 
                                                              sortBy="#{newNonPayable.entityTypeString}">
                                                        <h:outputText value="#{newNonPayable.entityTypeString}"  />
                                                    </p:column>
                                                    <p:column width = "40%" headerText="#{msg['PayEntityFormula']}" >
                                                        <h:outputText value="#{newNonPayable.calculationFormula}"  />
                                                    </p:column>
                                                </p:dataTable>
                                                 <!-- Link to add new Pay entity -->
                                                <p:commandButton id="btnMakeNewNonPayable" 
                                                                 action="#{pageManager.navigateToPayEntityScreen}"
                                                                 update=":content" 
                                                                 ajax="true" 
                                                                 icon="ui-icon-circle-plus" 
                                                                 title="#{msg['CreateNewPayEntity']}"
                                                                 value="#{msg['CreateNewPayEntity']}"
                                                                 style="margin-top: 10px; margin-bottom: 10px;"/>
                                            </p:overlayPanel>
                                        </h:panelGrid>
                                    </p:fieldset>
                                </p:column>
                            </p:row>                             
                        </p:panelGrid>
                    </p:column>
                    <p:column >
                        <!-- SECOND COLUMN -->
                        <p:panelGrid styleClass="panelColumns"  >
                            <!-- +++++++++++++++++++++ -->
                            <!--        Year To Date       -->
                            <!-- +++++++++++++++++++++ -->  

                            <p:row>
                                <p:column width="95%">
                                    <p:fieldset legend="#{msg['payslip_YearToDate']}" styleClass="sectionHeader">
                                        <p:dataTable var="ytd" 
                                                     value="#{pageManager.company.employeeManager.selectedEmployee.ytdPayEntityInstances}"
                                                     styleClass="payslipStyle"
                                                     emptyMessage="#{msg['payslip_NoYTD']}"
                                                     editable="false">
                                            <p:column 
                                                headerText="#{msg['employeePayinfoYTD']}" >
                                                <h:outputText value="#{ytd.payEntity.caption} (#{ytd.ytdCount})" />
                                            </p:column>
                                            <p:column 
                                                headerText="#{msg['employeePayinfoTotal']}">
                                                <h:outputText value="#{ytd.currencyAndYTDValue}" />
                                            </p:column>

                                        </p:dataTable>
                                    </p:fieldset>
                                </p:column>
                                <p:column width="5%"> <!-- Hint -->
                                    <h:graphicImage id="ytdTip" url="./images/info.png" 
                                                    height="15" 
                                                    style="position: relative !important;vertical-align: middle !important;bottom: -20px !important;"/>

                                    <p:tooltip id="ttYTDValues" for="ytdTip" value="#{msg['hint_PayslipYearToDate']}"
                                               showEffect="clip" hideEffect="explode" />
                                </p:column>
                            </p:row> 
                            <!-- +++++++++++++++++++++ -->
                            <!--       More Info       -->
                            <!-- +++++++++++++++++++++ -->  
                            <p:row rendered="#{pageManager.company.employeeManager.selectedEmployee.payroll.southAfrica}">
                                <p:column >
                                    <p:fieldset legend="#{msg['employeePayinfoMore']}" styleClass="sectionHeader">
                                        <p:panelGrid styleClass="nameValuePairBox"  >
                                            <p:row  >
                                                <!-- More -->
                                                <p:column styleClass="inlineCellStyle" width="500" >
                                                    <h:outputText value="#{msg['employeePayinfoRFI']} = #{pageManager.company.employeeManager.selectedEmployee.payroll.currencyString} #{pageManager.company.employeeManager.selectedEmployee.ytdRFI}" 
                                                                  style="font-weight: bold" />
                                                </p:column>
                                                <p:column styleClass="inlineCellStyle" width="500" >
                                                    <h:outputText value="#{msg['employeePayinfoNonRFI']} = #{pageManager.company.employeeManager.selectedEmployee.payroll.currencyString} #{pageManager.company.employeeManager.selectedEmployee.ytdNonRFI}" 
                                                                  style="font-weight: bold" />
                                                </p:column>


                                            </p:row>
                                        </p:panelGrid>
                                    </p:fieldset>
                                </p:column>
                            </p:row> 
                            <!-- +++++++++++++++++++++ -->
                            <!--        NettPay       -->
                            <!-- +++++++++++++++++++++ -->  
                            <p:row>
                                <p:column >
                                    <p:fieldset legend="#{msg['payslip_NettPay']}" styleClass="sectionHeader">
                                        <p:panelGrid styleClass="nameValuePairBox"  >
                                            <p:row  >
                                                <!-- NettPay -->
                                                <p:column styleClass="inlineCellStyle" width="500" >
                                                    <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.payroll.currencyString} #{pageManager.company.employeeManager.selectedEmployee.nettPay}" 
                                                                  style="font-weight: bold" />
                                                </p:column>

                                                <!-- Calculation Status Indicator -->
                                                <p:column width="30" 
                                                          style="text-align: right"
                                                          rendered="#{pageManager.company.employeeManager.selectedEmployee.renderDebugReport}">
                                                    <h:graphicImage id="imgPreviewPayslip"  
                                                                    width="30"
                                                                    url="#{pageManager.company.employeeManager.selectedEmployee.runStatusImageUrl}" 
                                                                    />
                                                    <p:tooltip id="ttRunStatus" for="imgPreviewPayslip" value="#{msg['tooltipCalcFailed']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid>
                                    </p:fieldset>
                                </p:column>
                            </p:row> 

                            <!-- +++++++++++++++++++++ -->
                            <!--        Debug       -->
                            <!-- +++++++++++++++++++++ -->  
                            <p:row>
                                <p:column rendered = "#{pageManager.company.employeeManager.selectedEmployee.renderDebugReport}">
                                    <p:fieldset legend="#{msg['payslip_DebugReport']}" styleClass="sectionHeader">
                                        <p:panelGrid styleClass="nameValuePairBox"  >
                                            <p:row  >
                                                <!-- Debug -->
                                                <p:column styleClass="inlineCellStyle" width="80%" >
                                                    <p:dataList id="editor" var="reportItem" value="#{pageManager.company.employeeManager.selectedEmployee.calcDebugReport}">
                                                        Item: #{reportItem.toString()}
                                                    </p:dataList>
                                                </p:column>
                                                <!-- Problems in the calc? -->
                                                <p:column width="30" 
                                                          style="text-align: right"
                                                          rendered="#{pageManager.company.employeeManager.selectedEmployee.renderDebugReport}">
                                                    <h:graphicImage id="imgProblems" 
                                                                    width="30"
                                                                    url="./images/icon-exclamation.png"  
                                                                    />
                                                    <p:tooltip id="ttCalcWarnings" for="imgProblems" value="#{msg['tooltipCalcReport']}"
                                                               showEffect="clip" hideEffect="explode" />
                                                </p:column>
                                            </p:row>
                                        </p:panelGrid>
                                    </p:fieldset>
                                </p:column>
                            </p:row> 


                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>

        </p:panel>
    </h:form>

</ui:composition>