<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="frmNewEmployee" > 

        <p:fieldset legend="#{msg['GeneralInformation']}" styleClass="sectionHeader">
            <!-- ++++++++++++ -->
            <!--   GENERAL    -->
            <!-- ++++++++++++ -->  
            <p:panelGrid styleClass="nameValuePairBox"  >
                <p:row  >

                    <!-- Title -->
                    <p:column styleClass="inlineHeadingStyle">
                        <h:outputText value="#{msg['Title']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.title}" >
                            <f:selectItem itemLabel="#{msg['List_SelectATitle']}" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{pageManager.company.titleManager.stringTitles}"/>
                        </h:selectOneMenu>
                        <!-- Hint -->
                        <h:graphicImage id="toolTipTitle" url="./images/info.png" 
                                        height="15" 
                                        style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                        <p:tooltip id="ttTitle" 
                                   for="toolTipTitle" 
                                   value="#{msg['hint_WhereToCreateMoreTitles']}"
                                   showEffect="clip" 
                                   hideEffect="explode" />     
                    </p:column>
                    <!-- First name -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['FirstName']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.firstname}" 
                                     required="true"
                                     id="Firstname"
                                     requiredMessage="'#{msg['FirstName']}' #{msg['IsACompulsoryField']}">
                            <p:ajax event="blur"  update="Initials" />
                        </p:inputText>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />

                    </p:column>

                </p:row>
                <!-- ***************************** -->
                <p:row>
                    <!-- Last Name -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['LastName']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.surname}"
                                     required="true"
                                     requiredMessage="'#{msg['LastName']}' #{msg['IsACompulsoryField']}" />
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                    <!-- Preferred Name -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['PreferredName']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.preferredName}" />
                    </p:column>
                </p:row>
                <!-- ***************************** -->
                <p:row>
                    <!-- Initials -->
                    <p:column styleClass="inlineHeadingStyle">
                        <h:outputText value="#{msg['Initials']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText id="Initials" 
                                     value="#{pageManager.company.employeeManager.selectedEmployee.initials}"
                                     required="true"
                                     requiredMessage="'#{msg['Initials']}' #{msg['IsACompulsoryField']}" 
                                     size="10">
                        </p:inputText> 
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>

                    <!-- Employee Number -->
                    <p:column  styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['EmployeeNumber']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.employeeNumber}"
                                     required="true"
                                     requiredMessage="'#{msg['Number']}' #{msg['IsACompulsoryField']}" />
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>

                </p:row>
                <p:row>
                    <!-- ID Number -->
                    <p:column  styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['IDNumber']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.idNumber}"
                                     styleClass="inlineCompulsoryInputStyle" 
                                     required="true"
                                     requiredMessage="'#{msg['IDNumber']}' #{msg['IsACompulsoryField']}">
                            <p:ajax immediate="true" />
                            <p:ajax event="keyup" update="inputMaskDOB" />
                        </p:inputText>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                    <!-- Date Of Birth -->
                    <p:column  styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['DateOfBirth']}:" />
                    </p:column>
                    <p:column  > 
                        <p:calendar id="inputMaskDOB" 
                                    required="true"
                                    requiredMessage="'#{msg['DateOfBirth']}' #{msg['IsACompulsoryField']}"
                                    value="#{pageManager.company.employeeManager.selectedEmployee.dateOfBirth}" 
                                    pattern="yyyy/MM/dd" 
                                    mask="true"
                                    size="9"
                                    yearRange="c-80:c+10"
                                    navigator="true"
                                    mode="popup" 
                                    locale="#{pageManager.locale}"
                                    maxdate="2010/01/01">
                            <p:ajax immediate="true" />
                            <p:ajax global = "false" 
                                    event="dateSelect"
                                    listener="#{pageManager.company.employeeManager.selectedEmployee.updateDateOfBirth}"  />
                        </p:calendar> 
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column> 
                </p:row>
                <p:row>
                    <!-- Email -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['EMail']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.email}"
                                     validatorMessage="Invalid email format">
                            <f:validateRegex id="regEmail"
                                             pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" 
                                             />
                            <p:ajax immediate="true" />
                        </p:inputText>
                    </p:column>
                    <!-- Date of Engagement -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['DateOfEmployment']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:calendar id="inputMaskDOE" 
                                    required="true"
                                    requiredMessage="'#{msg['DateOfEmployment']}' #{msg['IsACompulsoryField']}"
                                    value="#{pageManager.company.employeeManager.selectedEmployee.dateOfEngagement}" 
                                    pattern="yyyy/MM/dd" 
                                    mask="true"
                                    size="9"
                                    yearRange="c-50:c+10"
                                    navigator="true"
                                    mode="popup" 
                                    locale="#{pageManager.locale}"
                                    maxdate="2020/01/01">
                            <p:ajax immediate="true" />
                            <p:ajax global = "false" 
                                    event="dateSelect"
                                    listener="#{pageManager.company.employeeManager.selectedEmployee.updateDateOfEngagement}"  />
                        </p:calendar> 

                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                </p:row>
            </p:panelGrid>

        </p:fieldset> 
        <p:fieldset legend="#{msg['NumbersAndDates']}" styleClass="sectionHeader">
            <!-- ++++++++++++ -->
            <!--   GENERAL    -->
            <!-- ++++++++++++ -->  
            <p:panelGrid styleClass="nameValuePairBox"  >

                <p:row>

                    <!-- Payroll -->
                    <p:column  styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['Payroll']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.payrollName}"
                                         required="true"
                                         requiredMessage="'#{msg['Payroll']}' #{msg['IsACompulsoryField']}">
                            <f:selectItems value="#{pageManager.listManager.listItems_PayrollName}" />
                        </h:selectOneMenu>
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column> 

                </p:row>
                <p:row>
                    <!-- Rate Of Pay -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['RateOfPay']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText id="RateOfPay" 
                                     value="#{pageManager.company.employeeManager.selectedEmployee.rateOfPay}" 
                                     required="true"
                                     size="9"
                                     validatorMessage="'#{msg['RateOfPay']}' - #{msg['warningMustBeNumeric']}"
                                     requiredMessage="'#{msg['RateOfPay']}' #{msg['IsACompulsoryField']}">
                            <p:ajax immediate="false" />
                            <f:validateDoubleRange minimum="1" maximum="999999999"/>
                        </p:inputText> 
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                    <!-- Pay Per -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['PayPer']}:"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.payPer}">
                            <f:selectItems value="#{pageManager.listManager.listItems_PayPer}" />
                            <p:ajax immediate="true" />
                        </h:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <!-- Days Per Month -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['DaysPerMonth']}:" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText id="DaysPerMonth" 
                                     value="#{pageManager.company.employeeManager.selectedEmployee.daysPerMonth}" 
                                     required="true"
                                     size="4"
                                     validatorMessage="'#{msg['DaysPerMonth']}' - #{msg['warningMustBeNumeric']}"
                                     requiredMessage="'#{msg['DaysPerMonth']}' #{msg['IsACompulsoryField']}">
                            <p:ajax immediate="false" />
                            <f:validateDoubleRange minimum="1" maximum="31"/>
                        </p:inputText> 
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                    <!-- Hours Per Day -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['hrsPerDay']}:"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <p:inputText id="hrsPerDay" 
                                     value="#{pageManager.company.employeeManager.selectedEmployee.hoursPerDay}" 
                                     required="true"
                                     size="4"
                                     validatorMessage="'#{msg['hrsPerDay']}' - #{msg['warningMustBeNumeric']}"
                                     requiredMessage="'#{msg['hrsPerDay']}' #{msg['IsACompulsoryField']}">
                            <p:ajax immediate="false" />
                            <f:validateDoubleRange minimum="1" maximum="24"/>
                        </p:inputText> 
                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                    </p:column>
                </p:row>

            </p:panelGrid>

        </p:fieldset> 
        <p:toolbar styleClass="#{pageManager.styleClassForHeader}" style="width: 99%" >
            <f:facet name="right" >
                <p:commandButton   styleClass="editFormButton"  value="#{msg['Continue']}"  icon="ui-icon-check" 
                                   actionListener="#{pageManager.saveChanges}" 
                                   update="@all"/>  
                <p:spacer width="10"/>
                <p:commandButton  styleClass="editFormButton" value="#{msg['Cancel']}"  icon="ui-icon-cancel" 
                                  actionListener="#{pageManager.cancelChanges}" 
                                  update="@all" immediate="true"/>  
            </f:facet>
        </p:toolbar>
    </h:form>


</ui:composition>