<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" > 
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset legend="#{msg['BankAccount']}" styleClass="sectionHeader">
                <!-- ++++++++++++++++  -->
                <!--   Bank Account    -->
                <!-- ++++++++++++++++  -->    
                <p:panelGrid styleClass="nameValuePairBox "  >
                    <p:row  >
                        <!-- Type -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['AccountType']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountType}">
                                <f:selectItems value="#{pageManager.listManager.listItems_BankAccountType}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>
                        <!-- Name -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['AccountName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountName}" 
                                         required="true"
                                         requiredMessage="'#{msg['AccountName']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Account Number -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['AccountNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountNumber}" 
                                         required="true"
                                         requiredMessage="'#{msg['AccountNumber']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Line Number -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['LineNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountLineNumber}" >
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <p:spacer width="5" />
                            <h:graphicImage id="lineNumberTip" url="./images/info.png" 
                                            height="15" 
                                            style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                            <p:tooltip id="toolTipGrow" for="lineNumberTip" value="#{msg['tooltipLineNumber']}"
                                       showEffect="clip" hideEffect="explode" />
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Bank -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Bank']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBank}"
                                         required="true"
                                         requiredMessage="'#{msg['Bank']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Bank Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['BankCode']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBankCode}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                    </p:row>

                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Branch -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Branch']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBranch}" >
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                        <!-- Branch Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['BranchCode']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.bankAccount.accountBranchCode}" 
                                           required="true"
                                         requiredMessage="'#{msg['BranchCode']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                             <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset> 
        </p:panel>
    </h:form>
</ui:composition>