<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset legend="#{msg['PhysicalAddress']}" styleClass="sectionHeader">
                <!-- +++++++++++++++++++++ -->
                <!--   Physical Address    -->
                <!-- +++++++++++++++++++++ -->    
                <p:panelGrid styleClass="nameValuePairBox"  >
                    <p:row  >
                        <!-- Country -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Country']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.country}">
                                <f:selectItems value="#{pageManager.listManager.listItems_Country}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>
                        <!-- Province -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Province']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.province}" >
                                <f:selectItems value="#{pageManager.listManager.listItems_Province}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Unit No -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['UnitNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.unitNo}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                        <!-- Complex -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Complex']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.complex}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Street Number -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['StreetNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.streetNo}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                        <!-- Street/Farm name -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['StreetOrFarmName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.streetOrFarmName}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                    </p:row>

                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Suburb/District -->
                        <p:column   styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['SuburbDistrict']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.suburb}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                        <!-- City/Town -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['CityTown']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText 
                                value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.cityOrTown}" 
                                required="true"
                                requiredMessage="'#{msg['CityTown']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>


                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Postal Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PostalCode']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText 
                                value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.postalCode}"
                                required="true"
                                validatorMessage="'#{msg['PostalCode']}' - #{msg['warningMustBeNumeric']}"
                                requiredMessage="'#{msg['PostalCode']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                                <f:validateDoubleRange minimum="1" maximum="999999"/>
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>    
                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Postal same as physical -->
                        <p:column  styleClass="inlineHeadingStyle" >
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:selectBooleanCheckbox styleClass="booleanCheckBoxStyle" 
                                                     value="#{pageManager.company.employeeManager.selectedEmployee.physicalAddress.postalSameAsPhysical}">
                                <p:ajax update="outerPanel" />  
                            </p:selectBooleanCheckbox><p:spacer width="10" />
                            <h:outputText value="#{msg['PostalSameAsPhysical']}" />
                        </p:column>
                    </p:row>                        
                </p:panelGrid>
            </p:fieldset> 

            <p:fieldset id="fsPostalAddress" legend="#{msg['PostalAddress']}" styleClass="sectionHeader" rendered="#{!pageManager.company.employeeManager.selectedEmployee.physicalAddress.postalSameAsPhysical}">
                <!-- +++++++++++++++++++++ -->
                <!--   Postal Address    -->
                <!-- +++++++++++++++++++++ --> 
                <p:panelGrid styleClass="nameValuePairBox"  >

                    <p:row  >
                        <!-- Country -->
                        <p:column   styleClass="inlineHeadingStyle" >

                            <h:outputText value="#{msg['Country']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.country}">
                                <f:selectItems value="#{pageManager.listManager.listItems_Country}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>
                        <!-- Province -->
                        <p:column   styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Province']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.province}">
                                <f:selectItems value="#{pageManager.listManager.listItems_Province}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Post Office -->
                        <p:column   styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PostOffice']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.postOffice}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                        <!-- Postal Agency -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PostalAgencySubUnit']}" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.postalAgencyOrSubUnit}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Box/Bag number -->
                        <p:column   styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['BoxBagNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.boxOrBagNumber}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                        <!-- City/Town -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['CityTown']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.cityOrTown}" >
                                <p:ajax immediate="true" />
                            </p:inputText> 
                        </p:column>
                    </p:row>

                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Postal Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PostalCode']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.postalCode}" 
                                           validatorMessage="'#{msg['PostalCode']}' - #{msg['warningMustBeNumeric']}">
                                           <p:ajax immediate="true" />
                                <f:validateDoubleRange minimum="1" maximum="9999999"/>
                            </p:inputText> 
                        </p:column>
                    </p:row>    
                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Postal address is "Care-Of" -->
                        <p:column   styleClass="inlineHeadingStyle" >
                            <p:selectBooleanCheckbox styleClass="booleanCheckBoxStyle" 
                                                     value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.postalAddressIsCareOf}">
                                <p:ajax immediate="true" />
                            </p:selectBooleanCheckbox><p:spacer width="10" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:outputText value="#{msg['PostalAddressIsCareOf']}" />
                        </p:column>
                        <!-- Box Type -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <p:selectOneRadio id="customRadio" value="#{pageManager.company.employeeManager.selectedEmployee.postalAddress.boxType}" layout="custom">
                                <f:selectItem itemLabel="#{msg['POBox']}" itemValue="PO Box" />
                                <f:selectItem itemLabel="#{msg['PrivateBag']}" itemValue="Private Bag" />
                                <p:ajax immediate="true" />
                            </p:selectOneRadio>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:panelGrid columns="2">
                                <p:radioButton id="opt1" for="customRadio" itemIndex="0" />
                                <h:outputLabel for="opt1" value="#{msg['POBox']}" />
                                <p:radioButton id="opt2" for="customRadio" itemIndex="1"/>
                                <h:outputLabel for="opt2" value="#{msg['PrivateBag']}" />
                            </h:panelGrid>
                        </p:column>
                    </p:row>                   
                </p:panelGrid>
            </p:fieldset>
        </p:panel>
    </h:form>
</ui:composition>