<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!--                       -->
    <!-- NOT LINKED TO PAYROLL -->
    <!--                       -->
    <p:panelGrid rendered="#{pageManager.company.employeeManager.selectedEmployee.payroll==null}" 
                 style="width: 800px">
        <p:row>
            <p:column>
                <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.toString} #{msg['EmployeeNotLinkedToPayroll']}" styleClass="inlineHeadingStyle" />
            </p:column>
        </p:row>
    </p:panelGrid>

    <!--                   -->
    <!-- LINKED TO PAYROLL -->
    <!--                   -->
    <p:panelGrid rendered="#{pageManager.company.employeeManager.selectedEmployee.payroll!=null}" 
                 styleClass="panelColumns"
                 style="width: 800px">

        <!--                  -->
        <!--                  -->
        <!--                  -->
        <p:row>
            <p:column>
                <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.toString}" styleClass="inlineHeadingStyle" />
            </p:column>
        </p:row>
        <p:row>
            <p:column>
                <h:outputText value="#{msg['RateOfPay']}: #{pageManager.company.employeeManager.selectedEmployee.payroll.currencyString} #{pageManager.company.employeeManager.selectedEmployee.rateOfPay}" 
                              style="font-size: small; font-weight: bold"/>
            </p:column>

        </p:row>           

        <p:row>
            <p:column width="60%">
                <!-- FIRST COLUMN -->
                <p:panelGrid styleClass="panelColumns">
                    <!-- +++++++++++++++++++++ -->
                    <!--        Earnings       -->
                    <!-- +++++++++++++++++++++ -->  
                    <p:row>
                        <p:column>
                            <p:fieldset legend="#{msg['payslip_Income']}" styleClass="sectionHeader" style="font-size: small;">
                                <p:dataTable var="earning" 
                                             value="#{pageManager.company.employeeManager.selectedEmployee.payEntityInstances_Earnings}"
                                             styleClass="payslipStyle"
                                             style="font-size: small;"
                                             >
                                    <!-- Caption -->
                                    <p:column headerText="#{msg['headerCaption']}" >
                                        <h:outputText value="#{earning.payEntity.caption}" />
                                    </p:column>
                                    <!-- Value -->
                                    <p:column headerText="#{msg['headerValue']}" 
                                              footerText="#{pageManager.company.employeeManager.selectedEmployee.currencyAndValue_Earnings_Total}">
                                        <h:outputText value="#{earning.currencyAndValue}" />
                                    </p:column>
                                </p:dataTable>
                            </p:fieldset>
                        </p:column>
                    </p:row>
                    <!-- +++++++++++++++++++++ -->
                    <!--        Deductions       -->
                    <!-- +++++++++++++++++++++ -->  
                    <p:row>
                        <p:column>
                            <p:fieldset legend="#{msg['payslip_Deductions']}" styleClass="sectionHeader" style="font-size: small;">
                                <p:dataTable var="deduction" 
                                             value="#{pageManager.company.employeeManager.selectedEmployee.payEntityInstances_Deductions}"
                                             styleClass="payslipStyle"
                                             style="font-size: small;">
                                    <!-- Caption -->
                                    <p:column headerText="#{msg['headerCaption']}">
                                        <h:outputText value="#{deduction.payEntity.caption}" />
                                    </p:column>
                                    <!-- Value -->
                                    <p:column headerText="#{msg['headerValue']}"
                                              footerText="#{pageManager.company.employeeManager.selectedEmployee.currencyAndValue_Deductions_Total}">
                                        <h:outputText value="#{deduction.currencyAndValue}" />
                                    </p:column>
                                    <!-- Balance -->
                                    <p:column headerText="#{msg['headerBalance']}" >
                                        <h:outputText rendered="#{deduction.payEntity.renderShowBalance}"
                                                      value="#{deduction.currencyAndBalance}" />
                                    </p:column>


                                </p:dataTable>
                            </p:fieldset>
                        </p:column>
                    </p:row> 
                    <!-- +++++++++++++++++++++ -->
                    <!--   Non-payable   -->
                    <!-- +++++++++++++++++++++ -->  
                    <p:row>
                        <p:column>
                            <p:fieldset legend="#{msg['payslip_NonPayable']}" styleClass="sectionHeader" style="font-size: small;">
                                <p:dataTable var="nonPayable" 
                                             value="#{pageManager.company.employeeManager.selectedEmployee.payEntityInstances_NonPayable}"
                                             styleClass="payslipStyle"
                                             style="font-size: small;">
                                    <!-- Caption -->
                                    <p:column headerText="#{msg['headerCaption']}">
                                        <h:outputText value="#{nonPayable.payEntity.caption}" />
                                    </p:column>
                                    <!-- Value -->
                                    <p:column headerText="#{msg['headerValue']}">
                                        <h:outputText value="#{nonPayable.currencyAndValue}" />
                                    </p:column>
                                </p:dataTable>
                            </p:fieldset>
                        </p:column>
                    </p:row>                             
                </p:panelGrid>
            </p:column>
            <p:column width="35%">
                <!-- SECOND COLUMN -->
                <p:panelGrid styleClass="panelColumns"  >
                    <!-- +++++++++++++++++++++ -->
                    <!--        Year To Date       -->
                    <!-- +++++++++++++++++++++ -->  
                    <p:row>
                        <p:column width="95%">
                            <p:fieldset legend="#{msg['payslip_YearToDate']}" styleClass="sectionHeader" style="font-size: small;">
                                <p:dataTable var="ytd" 
                                             value="#{pageManager.company.employeeManager.selectedEmployee.ytdPayEntityInstances}"
                                             styleClass="payslipStyle"
                                             style="font-size: small;"
                                             editable="false">
                                    <p:column 
                                        headerText="Year To Date (number of periods)" >
                                        <h:outputText value="#{ytd.payEntity.caption} (#{ytd.ytdCount})" />
                                    </p:column>
                                    <p:column 
                                        headerText="Total">
                                        <h:outputText value="#{ytd.currencyAndYTDValue}" />
                                    </p:column>

                                </p:dataTable>
                            </p:fieldset>
                        </p:column>

                    </p:row> 
                    <!-- +++++++++++++++++++++ -->
                    <!--        NettPay       -->
                    <!-- +++++++++++++++++++++ -->  
                    <p:row>
                        <p:column >
                            <p:fieldset legend="#{msg['payslip_NettPay']}" styleClass="sectionHeader" style="font-size: small;">
                                <p:panelGrid styleClass="nameValuePairBox"  >
                                    <p:row  >
                                        <!-- NettPay -->
                                        <p:column styleClass="inlineCellStyle" width="500" >
                                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.payroll.currencyString} #{pageManager.company.employeeManager.selectedEmployee.nettPay}" 
                                                          style="font-weight: bold" />
                                        </p:column>

                                        <!-- Calculation Status Indicator -->
                                        <p:column width="30" 
                                                  style="text-align: right"
                                                  rendered="#{pageManager.company.employeeManager.selectedEmployee.renderDebugReport}">
                                            <h:graphicImage id="imgRunStatus" 
                                                            width="20"
                                                            url="#{pageManager.company.employeeManager.selectedEmployee.runStatusImageUrl}" 
                                                            />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                        </p:column>
                    </p:row> 
                    <!-- +++++++++++++++++++++ -->
                    <!--        Debug       -->
                    <!-- +++++++++++++++++++++ -->  
                    <p:row>
                        <p:column rendered = "#{pageManager.company.employeeManager.selectedEmployee.renderDebugReport}">
                            <p:fieldset legend="#{msg['payslip_DebugReport']}" styleClass="sectionHeader" style="font-size: small;">
                                <p:panelGrid styleClass="nameValuePairBox"  >
                                    <p:row  >
                                        <!-- Debug -->
                                        <p:column styleClass="inlineCellStyle" width="95%" >
                                            <p:dataList id="editor" var="reportItem" value="#{pageManager.company.employeeManager.selectedEmployee.calcDebugReport}">
                                                Item: #{reportItem.toString()}
                                            </p:dataList>
                                        </p:column>
                                        <!-- Problems in the calc? -->
                                        <p:column width="5%" 
                                                  style="text-align: right"
                                                  rendered="#{pageManager.company.employeeManager.selectedEmployee.renderDebugReport}">
                                            <h:graphicImage id="imgProblems" 
                                                            width="30"
                                                            url="./images/icon-exclamation.png"  
                                                            />
                                            <p:tooltip id="ttCalcWarnings" for="imgProblems" value="#{msg['tooltipCalcReport']}"
                                                       showEffect="clip" hideEffect="explode" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:fieldset>
                        </p:column>
                    </p:row> 
                </p:panelGrid>
            </p:column>
        </p:row>
    </p:panelGrid>


</ui:composition>