<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset legend="#{msg['GeneralInformation']}" styleClass="sectionHeader">
                <!-- ++++++++++++ -->
                <!--   GENERAL    -->
                <!-- ++++++++++++ -->  
                <p:panelGrid styleClass="nameValuePairBox"  >
                    <p:row  >
                        <!-- Title -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Title']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu  value="#{pageManager.company.employeeManager.selectedEmployee.title}" >
                                <f:selectItems value="#{pageManager.company.titleManager.stringTitles}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                            <!-- Hint -->
                            <p:spacer width="5" height="0" />
                            <h:graphicImage id="toolTipTitle" url="./images/info.png" 
                                            height="15" 
                                            style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                            <p:tooltip id="ttTitle" 
                                       for="toolTipTitle" 
                                       value="#{msg['hint_WhereToCreateMoreTitles']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />                        
                        </p:column>
                        <!-- Initials -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Initials']}:"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.initials}"
                                         required="true"
                                         size="8"
                                         requiredMessage="'#{msg['Initials']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- First name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['FirstName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.employeeManager.selectedEmployee.firstname}"                                          
                                          required="true"
                                          requiredMessage="'#{msg['FirstName']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Preferred Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PreferredName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.employeeManager.selectedEmployee.preferredName}" >
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Second Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['SecondName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.employeeManager.selectedEmployee.secondname}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                        <!-- Last Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['LastName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.surname}"
                                         required="true"
                                         requiredMessage="'#{msg['LastName']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>

                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Gender -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Gender']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.gender}">
                                <f:selectItems value="#{pageManager.listManager.listItems_Gender}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>
                        <!-- Marital Status -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['MaritalStatus']}:"  />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.maritalStatus}">
                                <f:selectItems value="#{pageManager.listManager.listItems_MaritalStatus}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row  >

                        <!-- Home Language -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['HomeLanguage']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.homeLanguage}">
                                <f:selectItems value="#{pageManager.company.languageManager.stringLanguages}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                            <!-- Hint -->
                            <p:spacer width="5" height="0" />
                            <h:graphicImage id="toolTipLanguage" url="./images/info.png" 
                                            height="15" 
                                            style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                            <p:tooltip id="ttLanguage" 
                                       for="toolTipLanguage" 
                                       value="#{msg['hint_WhereToCreateMoreLanguages']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                    </p:row>    
                </p:panelGrid>
            </p:fieldset> 
            <!-- ++++++++++++ -->
            <!--   NUMBERS AND DATES    -->
            <!-- ++++++++++++ -->
            <p:fieldset legend="#{msg['NumbersAndDates']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox"  >
                    <!-- ***************************** -->
                    <p:row>
                        <!-- ID Number -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['IDNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.idNumber}"
                                         required="true"
                                         size="16"
                                         validatorMessage="'#{msg['IDNumber']}' - #{msg['warningMustBeNumeric']}"
                                         requiredMessage="'#{msg['IDNumber']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                                <f:validateDoubleRange minimum="1" maximum="99999999999999"/>
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Tax Number -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['TaxNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.employeeManager.selectedEmployee.taxNumber}"
                                          size="15">
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Passport Number -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PassportNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.employeeManager.selectedEmployee.passportNumber}" 
                                          size="16">
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                        <!-- Date Of Birth -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['DateOfBirth']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:calendar id="inputMaskDOB" 
                                        required="true"
                                        yearRange="c-80:c+80"
                                        maxdate="2020/01/01"
                                        requiredMessage="'#{msg['DateOfBirth']}' #{msg['IsACompulsoryField']}"
                                        value="#{pageManager.company.employeeManager.selectedEmployee.dateOfBirth}" 
                                        pattern="yyyy/MM/dd" 
                                        mask="true"
                                        size="10"
                                        navigator="true"
                                        mode="popup" 
                                        locale="#{pageManager.locale}"
                                        >
                                <p:ajax immediate="true" />
                                <p:ajax global = "false" 
                                        event="dateSelect"
                                        listener="#{pageManager.company.employeeManager.selectedEmployee.updateDateOfBirth}" 
                                        update="frmCentrePage:outerPanel" />
                            </p:calendar> 

                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>

                        <!-- Date of Engagement -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['DateOfEmployment']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:calendar id="inputMaskDOE" 
                                        required="true"
                                        requiredMessage="'#{msg['DateOfEmployment']}' #{msg['IsACompulsoryField']}"
                                        value="#{pageManager.company.employeeManager.selectedEmployee.dateOfEngagement}" 
                                        pattern="yyyy/MM/dd" 
                                        mask="true"
                                        size="9"
                                        yearRange="c-80:c+80"
                                        maxdate="2020/01/01"
                                        navigator="true"
                                        mode="popup" 
                                        showButtonPanel="true"
                                        locale="#{pageManager.locale}">
                                <p:ajax immediate="true" />
                                <p:ajax global = "false" 
                                        event="dateSelect"
                                        listener="#{pageManager.company.employeeManager.selectedEmployee.updateDateOfEngagement}" 
                                        update="frmCentrePage:outerPanel" />

                            </p:calendar> 

                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Group Join Date -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['GroupJoinDate']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:calendar id="inputMaskGJD" 
                                        value="#{pageManager.company.employeeManager.selectedEmployee.groupJoinDate}" 
                                        pattern="yyyy/MM/dd" 
                                        mask="true"
                                        size="9"
                                        navigator="true"
                                        yearRange="c-80:c+80"
                                        maxdate="2020/01/01"
                                        mode="popup" 
                                        showButtonPanel="true"
                                        locale="#{pageManager.locale}">
                                <p:ajax immediate="true" />
                                <p:ajax global = "false" 
                                        event="dateSelect"
                                        listener="#{pageManager.company.employeeManager.selectedEmployee.updateGroupJoinDate}" 
                                        update="frmCentrePage:outerPanel" />
                            </p:calendar> 
                        </p:column>
                    </p:row>
                    <p:row>
                        <!-- Date of Discharge -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['DateOfDischarge']}:"  style="color: #ff0000"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <!-- Can discharge -->
                            <p:calendar id="inputMaskDOD" 
                                        rendered="${pageManager.company.employeeManager.selectedEmployee.canDischarge}"
                                        value="#{pageManager.company.employeeManager.selectedEmployee.dateOfDischarge}" 
                                        pattern="yyyy/MM/dd" 
                                        mask="true"
                                        size="9"
                                        navigator="true"
                                        showButtonPanel="true"
                                        locale="#{pageManager.locale}"
                                        mindate="#{pageManager.company.employeeManager.selectedEmployee.dateOfEngagement}"
                                        maxdate="2020/01/01">
                                <p:ajax immediate="true" />
                                <p:ajax global = "false" 
                                        event="dateSelect"
                                        listener="#{pageManager.company.employeeManager.selectedEmployee.updateDateOfDischarge}" 
                                        update="frmCentrePage:outerPanel" />
                                <f:attribute name="startDate" value="#{pageManager.company.employeeManager.selectedEmployee.dateOfEngagement}" />
                                <f:validator validatorId="dateValidator_DischargeDate"  />
                            </p:calendar> 

                            <h:outputText rendered="${!pageManager.company.employeeManager.selectedEmployee.canDischarge}" 
                                          value="Unable to discharge self"  style="color: #ff0000"/>

                            <p:spacer width="10" />
                            <!-- Undo Discharge -->
                            <!--        -->
                            <p:commandLink action="#{pageManager.company.employeeManager.selectedEmployee.undoDischarge}" 
                                           oncomplete="javascript:window.location.reload()"
                                           rendered="#{pageManager.company.employeeManager.selectedEmployee.dateOfDischarge!=null}"
                                           >
                                <h:graphicImage id="undoDischarge" url="./images/icon-undo.png" 
                                                height="15"/>
                                <p:tooltip id="ttUndoDischarge" for="undoDischarge" value="#{msg['tooltipUndoDischarge']}"
                                           showEffect="clip" hideEffect="explode" />
                                <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmUndoDischarge']}" icon="ui-icon-alert"/>
                            </p:commandLink>
                            <p:confirmDialog global="false" style="font-size: small;border: 0">
                                <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                            </p:confirmDialog>



                        </p:column>
                        <!-- Discharge Reason -->
                        <p:column styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.employeeManager.selectedEmployee.dateOfDischarge != null}">
                            <h:outputText value="#{msg['DischargeReason']}:"  style="color: #ff0000"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" rendered="#{pageManager.company.employeeManager.selectedEmployee.dateOfDischarge != null}">
                            <h:selectOneMenu  value="#{pageManager.company.employeeManager.selectedEmployee.dischargeReason}" 
                                              required="true"
                                              requiredMessage="'#{msg['DischargeReason']}' #{msg['IsACompulsoryField']}">
                                <f:selectItems value="#{pageManager.listManager.listItems_UIFDischargeCodeAndReason}" />
                                <p:ajax immediate="true"  />
                            </h:selectOneMenu>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset>

            <!-- ++++++++++++ -->
            <!--     COMPANY RELATED    -->
            <!-- ++++++++++++ -->
            <p:fieldset  legend="#{msg['CompanyRelated']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox"  >
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Cost Centre -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['CostCentre']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.costCentreName}">
                                <f:selectItem itemLabel="#{msg['List_SelectACostCentre']}" itemValue="" noSelectionOption="true" />
                                <f:selectItems value="#{pageManager.listManager.listItems_CostCentreName}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                            <!-- Hint -->
                            <p:spacer width="5" height="0" />
                            <h:graphicImage id="toolTipCC" url="./images/info.png" 
                                            height="15" 
                                            style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                            <p:tooltip id="ttCC" 
                                       for="toolTipCC" 
                                       value="#{msg['hint_WhereToCreateMoreCostCentres']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- Payroll -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Payroll']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.payrollName}"
                                             rendered="#{pageManager.company.employeeManager.selectedEmployee.canTransfer}">
                                <f:selectItems value="#{pageManager.listManager.listItems_PayrollName}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                            <h:outputText value="#{pageManager.company.employeeManager.selectedEmployee.payrollName}"
                                          rendered="#{!pageManager.company.employeeManager.selectedEmployee.canTransfer}"/>
                            <!-- Pay Per -->
                            <h:outputText styleClass="inlineHeadingStyle" value="#{msg['PayPer']}:"/>
                            <p:spacer width="6" />
                            <h:selectOneMenu styleClass="inlineValueStyle" value="#{pageManager.company.employeeManager.selectedEmployee.payPer}">
                                <f:selectItems value="#{pageManager.listManager.listItems_PayPer}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                        </p:column>  
                    </p:row>
                    <p:row>
                        <!-- Role -->
                        <p:column styleClass="inlineHeadingStyle"  >
                            <h:outputText value="#{msg['JobTitle']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.employeeManager.selectedEmployee.jobTitle}">
                                <f:selectItem itemLabel="#{msg['List_SelectAJobTitle']}" itemValue="" />
                                <f:selectItems value="#{pageManager.company.jobPositionManager.jobTitles}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu>
                            <!-- Hint -->
                            <p:spacer width="5" height="0" />
                            <h:graphicImage id="toolTipJob" url="./images/info.png" 
                                            height="15" 
                                            style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                            <p:tooltip id="ttJob" 
                                       for="toolTipJob" 
                                       value="#{msg['hint_WhereToCreateMoreJobPositions']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- Employee Number -->
                        <p:column styleClass="inlineHeadingStyle"  >
                            <h:outputText value="#{msg['EmployeeNumber']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.employeeNumber}"
                                         required="true"
                                         requiredMessage="'#{msg['EmployeeNumber']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Is Administrator -->
                        <p:column styleClass="inlineHeadingStyle"  >
                            <p:selectBooleanCheckbox styleClass="booleanCheckBoxStyle" id="toolTipAdminTick"
                                                     value="#{pageManager.company.employeeManager.selectedEmployee.administrator}">
                                <p:ajax immediate="true" update=":content" />  
                                <p:tooltip id="ttAdminTick" 
                                           for="toolTipAdminTick" 
                                           value="#{msg['tooltipSystemAdmin']}"
                                           showEffect="clip" 
                                           hideEffect="explode" />  
                            </p:selectBooleanCheckbox>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:outputText value="#{msg['IsSystemAdministrator']}" id="toolTipAdminWord"/>
                            <p:tooltip id="ttAdminWord" 
                                       for="toolTipAdminWord" 
                                       value="#{msg['tooltipSystemAdmin']}"
                                       showEffect="clip" 
                                       hideEffect="explode" /> 
                        </p:column>
                    </p:row>    
                    <p:row rendered="#{pageManager.company.employeeManager.selectedEmployee.administrator}" id="isAdmin" >
                        <!-- Admin Login -->
                        <p:column styleClass="inlineHeadingStyle"  >
                            <h:outputText value="#{msg['AdminLoginName']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.adminLogin}"
                                         required="true"
                                         requiredMessage="'#{msg['AdminLoginName']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>


                        <!--                -->
                        <!-- Existing Admin Password -->
                        <!--                -->
                        <!-- Option to change password if password has already been set -->
                        <p:column colspan="2">
                            <p:panelGrid styleClass="nameValuePairBox"  >
                                <p:row>
                                    <p:column styleClass="inlineHeadingStyle" width="20" >
                                        <h:outputText value="#{msg['AdminPassword']}:" />
                                    </p:column>

                                    <p:column>
                                        <p:password styleClass="inlineValueStyle" 
                                                    value="#{pageManager.company.employeeManager.selectedEmployee.adminPassword}" 
                                                    feedback="true"
                                                    required="true"
                                                    requiredMessage="'#{msg['AdminPassword']}' #{msg['IsACompulsoryField']}"
                                                    weakLabel="#{msg['PasswordWeak']}"
                                                    goodLabel="#{msg['PasswordGood']}"
                                                    strongLabel="#{msg['PasswordStrong']}"
                                                    promptLabel="#{msg['EnterPassword']}"
                                                    redisplay="true"
                                                    label="#{msg['AdminPassword']}" >
                                            <p:ajax immediate="true" />
                                        </p:password>
                                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                                    </p:column>

                                </p:row>
                                <p:row>
                                    <p:column styleClass="inlineHeadingStyle" width="20" >
                                        <h:outputText value="#{msg['Confirm']}:"  />
                                    </p:column>
                                    <p:column>
                                        <p:password styleClass="inlineValueStyle"  
                                                    value="#{pageManager.company.employeeManager.selectedEmployee.adminPasswordVerified}" 
                                                    required="true"
                                                    requiredMessage="'#{msg['AdminPassword']}' #{msg['IsACompulsoryField']}"
                                                    redisplay="true"
                                                    promptLabel="#{msg['ReenterPassword']}"
                                                    label="#{msg['AdminPassword']}">
                                            <p:ajax immediate="true" />
                                        </p:password>
                                        <h:outputText styleClass="compulsoryIndicator" value="*" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>


                    </p:row>                        
                </p:panelGrid>
            </p:fieldset>

            <!-- ++++++++++++ -->
            <!--     CONTACT DETAILS    -->
            <!-- ++++++++++++ -->
            <p:fieldset  legend="#{msg['contactDetails']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox"  >
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Email -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['EMail']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText value="#{pageManager.company.employeeManager.selectedEmployee.email}"
                                         validatorMessage="Invalid email format">
                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                        <!-- Tel Home -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['telHome']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputMask id="telHome" 
                                         value="#{pageManager.company.employeeManager.selectedEmployee.telHome}" 
                                         mask="(999) 999-9999">
                                <p:ajax immediate="true" />
                            </p:inputMask>
                        </p:column>                        
                    </p:row>
                    <p:row>
                        <!-- Tel Work -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['telWork']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputMask id="telWork" 
                                         value="#{pageManager.company.employeeManager.selectedEmployee.telWork}" 
                                         mask="(999) 999-9999">
                                <p:ajax immediate="true" />
                            </p:inputMask>
                        </p:column>    
                        <!-- Tel Cell -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['telCell']}:" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputMask id="telCell" 
                                         value="#{pageManager.company.employeeManager.selectedEmployee.telCell}" 
                                         mask="999 999 9999">
                                <p:ajax immediate="true" />
                            </p:inputMask>
                        </p:column>    
                    </p:row>

                </p:panelGrid>
            </p:fieldset>
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <p:spacer height="5" />
            <ui:include src="_centre_apply_undo_footer.xhtml"/> 
        </p:panel>
    </h:form>



</ui:composition>