<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{msg['ExportData']}" styleClass="sectionHeader">
                <p:panelGrid id="newCC" >
                    <p:row>
                        <!-- EXPORT TO PDF -->
                        <p:column width="50px">
                            <h:commandLink id="expToPDF" >
                                <h:graphicImage url="./images/export_pdf.png" width="48"/>
                                <p:dataExporter type="pdf" target="idEmployees" 
                                                fileName="Headcount_And_Statistics.pdf"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpPDF" 
                                       for="expToPDF" 
                                       value="#{msg['tooltip_ExportToPDF']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- EXPORT TO XML -->
                        <p:column width="50px">
                            <h:commandLink id="expToXML" >
                                <h:graphicImage url="./images/export_xml.png" width="48"/>
                                <p:dataExporter type="xml" target="idEmployees" 
                                                fileName="Headcount_And_Statistics.xml"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpXML" 
                                       for="expToXML" 
                                       value="#{msg['tooltip_ExportToXML']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- EXPORT TO CSV -->
                        <p:column>
                            <h:commandLink id="expToCSV" >
                                <h:graphicImage url="./images/export_csv.png" width="48"/>
                                <p:dataExporter type="csv" target="idEmployees" 
                                                fileName="Headcount_And_Statistics.csv"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpCSV" 
                                       for="expToCSV" 
                                       value="#{msg['tooltip_ExportToCSV']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- EXPORT TO Excel -->
                        <p:column>
                            <h:commandLink id="expToExcel">
                                <h:graphicImage url="./images/export_xls.png" width="48"/>
                                <p:dataExporter type="xls" target="idEmployees" 
                                                fileName="Headcount_And_Statistics.xls"
                                                postProcessor="#{pageManager.company.postProcessXLS}"
                                                />
                            </h:commandLink>
                            <p:tooltip id="ttExpXls" 
                                       for="expToExcel" 
                                       value="#{msg['tooltip_ExportToExcel']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>


                    </p:row>
                </p:panelGrid>
            </p:fieldset>
            <!--             -->
            <!-- EXPORT DATA -->
            <!--             -->
            <p:fieldset legend="#{pageManager.navExtractHeadcountAndStats.caption}" styleClass="sectionHeader">
                <!-- Data -->
                <p:row>
                    <p:column width="40">
                        <!-- HINT -->
                        <h:graphicImage id="toolTip" url="./images/info.png" height="24" style="float: right;"/>

                        <p:tooltip id="ttComponent" 
                                   for="toolTip" 
                                   value="#{msg['hint_HeadCountReport']}"
                                   showEffect="clip" 
                                   hideEffect="explode" />
                        <p:spacer width="10"  style="float: right;"/>
                    </p:column>
                    <!-- SELECT COLUMNS -->
                    <p:column>
                        <p:commandLink id="toggler" title="Add/Remove columns">
                            <h:graphicImage url="./images/icon-add-column.png" width="24"  style="float: right;"/>
                        </p:commandLink>
                        <p:columnToggler datasource="idEmployees" trigger="toggler" /> 
                        <p:tooltip id="ttToggler" 
                                   for="toggler" 
                                   value="#{msg['tooltip_AddOrRemoveColumns']}"
                                   showEffect="clip" 
                                   hideEffect="explode" />
                        <p:spacer width="10" height="30"/>

                    </p:column>
                </p:row>
                <p:row>
                    <p:dataTable id="idEmployees" var="employee" 
                                 value="#{pageManager.company.employeeManager.allEmployees}"
                                 draggableColumns="true"
                                 rows="20"
                                 styleClass="payslipStyle"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {NextPageLink} {LastPageLink}"
                                 paginator="true">


                        <!-- Name -->
                        <p:column headerText="#{msg['extractHeader.Name']}" toggleable="false">
                            <h:outputText value="#{employee.toString}" />
                        </p:column>
                        <!-- Payroll -->
                        <p:column headerText="#{msg['extractHeader.Payroll']}" toggleable="true">
                            <h:outputText value="#{employee.payrollName}" />
                        </p:column>
                        <!--  Cost Centre  -->
                        <p:column headerText="#{msg['extractHeader.CostCentre']}">
                            <h:outputText value="#{employee.costCentreName}" />
                        </p:column>
                        <!-- Gender -->
                        <p:column headerText="#{msg['extractHeader.Gender']}">
                            <h:outputText value="#{employee.gender}" />
                        </p:column>
                        <p:column headerText="#{msg['extractHeader.Active']}">
                            <h:outputText value="#{employee.stillEngaged}" />
                        </p:column>
                        <!-- isAdmin  -->
                        <p:column headerText="#{msg['extractHeader.IsAdmin']}">
                            <h:outputText value="#{employee.administrator}" />
                        </p:column>
                        <!--  Date Of Engagement  -->
                        <p:column headerText="#{msg['extractHeader.DateOfEngagement']}">
                            <h:outputText value="#{employee.dateOfEngagementString}" />
                        </p:column>
                        <!--  Date Of Discharge  -->
                        <p:column headerText="#{msg['extractHeader.DateOfDischarge']}">
                            <h:outputText value="#{employee.dateOfDischargeString}" />
                        </p:column>
                    </p:dataTable>
                </p:row>
            </p:fieldset>

        </p:panel>
    </h:form>
</ui:composition>