<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{msg['ExportData']}" styleClass="sectionHeader">
                <p:panelGrid id="newCC" >
                    <p:row>
                        <!-- EXPORT TO XML -->
                        <p:column width="50px">
                            <h:commandLink id="expToXML" >
                                <h:graphicImage url="./images/export_xml.png" width="48"/>
                                <p:dataExporter type="xml" target="idEmployees" 
                                                fileName="All_Employee_Attributes.xml"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpXML" 
                                       for="expToXML" 
                                       value="#{msg['tooltip_ExportToXML']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- EXPORT TO CSV -->
                        <p:column>
                            <h:commandLink id="expToCSV" >
                                <h:graphicImage url="./images/export_csv.png" width="48"/>
                                <p:dataExporter type="csv" target="idEmployees" 
                                                fileName="All_Employee_Attributes.csv"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpCSV" 
                                       for="expToCSV" 
                                       value="#{msg['tooltip_ExportToCSV']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- EXPORT TO Excel -->
                        <p:column>
                            <h:commandLink id="expToExcel">
                                <h:graphicImage url="./images/export_xls.png" width="48"/>
                                <p:dataExporter type="xls" target="idEmployees" 
                                                fileName="All_Employee_Attributes.xls"
                                                postProcessor="#{pageManager.company.postProcessXLS}"
                                                />
                            </h:commandLink>
                            <p:tooltip id="ttExpXls" 
                                       for="expToExcel" 
                                       value="#{msg['tooltip_ExportToExcel']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>


                    </p:row>
                </p:panelGrid>
            </p:fieldset>
            <!--             -->
            <!-- EXPORT DATA -->
            <!--             -->
            <p:fieldset legend="#{pageManager.navExtractEmployeeVarDetail.caption}" styleClass="sectionHeader">
                <!-- Data -->
                <p:row>
                    <p:column width="40">
                        <!-- HINT -->
                        <h:graphicImage id="toolTip" url="./images/info.png"  height="24" style="float: right;"/>

                        <p:tooltip id="ttComponent" 
                                   for="toolTip" 
                                   value="#{msg['hint_HeadCountReport']}"
                                   showEffect="clip" 
                                   hideEffect="explode" />
                        <p:spacer width="10"  style="float: right;"/>
                    </p:column>
                    <!-- SELECT COLUMNS -->
                    <p:column>
                        <p:commandLink id="toggler" title="Add/Remove columns">
                            <h:graphicImage url="./images/icon-add-column.png" width="24" style="float: right;"/>
                        </p:commandLink>
                        <p:columnToggler datasource="idEmployees" trigger="toggler" /> 
                        <p:tooltip id="ttToggler" 
                                   for="toggler" 
                                   value="#{msg['tooltip_AddOrRemoveColumns']}"
                                   showEffect="clip" 
                                   hideEffect="explode" />
                        <p:spacer height="30"/>
                    </p:column>

                </p:row>


                <!-- Actual Data Table -->
                <!--                   -->
                <p:dataTable id="idEmployees" var="payInstance" 
                             value="#{pageManager.company.employeeManager.allPayEntityInstances}"
                             widgetVar="payInstanceTable"
                             styleClass="payslipStyle"
                             draggableColumns="true"
                             rows="20"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {NextPageLink} {LastPageLink}"
                             paginator="true"
                             rowKey="#{payInstance.owner.employeeID}+#{payInstance.payEntity.entityID}">


                    <!-- Name -->
                    <p:column headerText="#{msg['extractHeader.Employee']}" toggleable="false">
                        <h:outputText value="#{payInstance.owner.toString}" />
                    </p:column>
                    <!-- Payroll -->
                    <p:column headerText="#{msg['extractHeader.Payroll']}">
                        <h:outputText value="#{payInstance.owner.payrollName}" />
                    </p:column>
                    <!-- Period -->
                    <p:column headerText="#{msg['extractHeader.Period']}">
                        <h:outputText value="#{payInstance.owner.payroll.openPeriod}" />
                    </p:column>
                    <!--  Cost Centre  -->
                    <p:column headerText="#{msg['extractHeader.CostCentre']}">
                        <h:outputText value="#{payInstance.owner.costCentreName}" />
                    </p:column>
                    <!--  Type  -->
                    <p:column headerText="#{msg['extractHeader.Type']}">
                        <h:outputText value="#{payInstance.payEntity.entityType.enumToLocaleString}" />
                    </p:column>
                    <!--  Name  -->
                    <p:column headerText="#{msg['extractHeader.PayEntity']}">
                        <h:outputText value="#{payInstance.payEntity.name}" />
                    </p:column>
                    <!--  Formula  -->
                    <p:column headerText="#{msg['extractHeader.Rule']}">
                        <h:outputText value="#{payInstance.formula}" />
                    </p:column>
                    <!--  Formula - Interpreted -->
                    <p:column headerText="#{msg['extractHeader.Evaluation']}">
                        <h:outputText value="#{payInstance.interpretedFormula}" 
                                      rendered="#{payInstance.formula!='INPUT'}"/>
                    </p:column>
                    <!--  Formula - Value -->
                    <p:column headerText="#{msg['extractHeader.Value']}">
                        <h:outputText value="#{payInstance.calcValue}" />
                    </p:column>
                    <!--  Formula - Value+Currency -->
                    <p:column headerText="#{msg['extractHeader.UnitValue']}">
                        <h:outputText value="#{payInstance.currencyAndValue}" />
                    </p:column>
                    <!--  Balance -->
                    <p:column headerText="#{msg['extractHeader.Balance']}">
                        <h:outputText value="#{payInstance.balance}" />
                    </p:column>
                    <!--  RFI -->
                    <p:column headerText="#{msg['extractHeader.RFI']}">
                        <h:outputText value="#{payInstance.rfi}" />
                    </p:column>
                    <!--  TAX CODE -->
                    <p:column headerText="#{msg['extractHeader.TaxCode']}">
                        <h:outputText value="#{payInstance.payEntity.taxCodeAndDescription}" />
                    </p:column>                    

                </p:dataTable>
            </p:fieldset>
        </p:panel>
    </h:form>
</ui:composition>