<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{msg['ExportData']}" styleClass="sectionHeader">
                <p:panelGrid id="newCC" >
                    <p:row>
                        <!-- EXPORT TO XML -->
                        <p:column width="50px">
                            <h:commandLink id="expToXML" >
                                <h:graphicImage url="./images/export_xml.png" width="48"/>
                                <p:dataExporter type="xml" target="idEmployees" 
                                                fileName="All_Employee_Attributes.xml"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpXML" 
                                       for="expToXML" 
                                       value="#{msg['tooltip_ExportToXML']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- EXPORT TO CSV -->
                        <p:column>
                            <h:commandLink id="expToCSV" >
                                <h:graphicImage url="./images/export_csv.png" width="48"/>
                                <p:dataExporter type="csv" target="idEmployees" 
                                                fileName="All_Employee_Attributes.csv"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpCSV" 
                                       for="expToCSV" 
                                       value="#{msg['tooltip_ExportToCSV']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <!-- EXPORT TO Excel -->
                        <p:column>
                            <h:commandLink id="expToExcel">
                                <h:graphicImage url="./images/export_xls.png" width="48"/>
                                <p:dataExporter type="xls" target="idEmployees" 
                                                fileName="All_Employee_Attributes.xls"
                                                postProcessor="#{pageManager.company.postProcessXLS}"
                                                />
                            </h:commandLink>
                            <p:tooltip id="ttExpXls" 
                                       for="expToExcel" 
                                       value="#{msg['tooltip_ExportToExcel']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>


                    </p:row>
                </p:panelGrid>
            </p:fieldset>
            <!--             -->
            <!-- EXPORT DATA -->
            <!--             -->
            <p:fieldset legend="#{pageManager.navExtractAllEmployeeAttributes.caption}" styleClass="sectionHeader">
                <!-- Data -->
                <p:row>
                    <p:column width="40">
                        <!-- HINT -->
                        <h:graphicImage id="toolTip" url="./images/info.png" height="24" style="float: right;"/>

                        <p:tooltip id="ttComponent" 
                                   for="toolTip" 
                                   value="#{msg['hint_HeadCountReport']}"
                                   showEffect="clip" 
                                   hideEffect="explode" />
                        <p:spacer width="10"  style="float: right;"/>
                    </p:column>
                    <!-- SELECT COLUMNS -->
                    <p:column>
                        <p:commandLink id="toggler" title="Add/Remove columns">
                            <h:graphicImage url="./images/icon-add-column.png" width="24" style="float: right;"/>
                        </p:commandLink>
                        <p:columnToggler datasource="idEmployees" trigger="toggler" /> 
                        <p:tooltip id="ttToggler" 
                                   for="toggler" 
                                   value="#{msg['tooltip_AddOrRemoveColumns']}"
                                   showEffect="clip" 
                                   hideEffect="explode" />
                        <p:spacer height="30"/>
                    </p:column>
                </p:row>
                <p:dataTable id="idEmployees" var="employee" 
                             value="#{pageManager.company.employeeManager.allEmployees}"
                             draggableColumns="true"
                             rows="20"
                             styleClass="payslipStyle"

                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {NextPageLink} {LastPageLink}"
                             paginator="true">


                    <!-- Name -->
                    <p:column headerText="#{msg['extractHeader.Name']}" toggleable="false">
                        <h:outputText value="#{employee.toString}" />
                    </p:column>
                    <!-- Engagements -->
                    <p:column headerText="#{msg['extractHeader.Payroll']}">
                        <h:outputText value="#{employee.payrollName}" />
                    </p:column>
                    <!-- Gender -->
                    <p:column headerText="#{msg['extractHeader.Gender']}">
                        <h:outputText value="#{employee.gender}" />
                    </p:column>
                    <!-- Engaged -->
                    <p:column headerText="#{msg['extractHeader.Active']}">
                        <h:outputText value="#{employee.stillEngaged}" />
                    </p:column>
                    <!-- NettPay -->
                    <p:column headerText="#{msg['extractHeader.Nettpay']}">
                        <h:outputText value="#{employee.nettPay}" />
                    </p:column>
                    <!-- isAdmin  -->
                    <p:column headerText="#{msg['extractHeader.IsAdmin']}">
                        <h:outputText value="#{employee.administrator}" />
                    </p:column>
                    <!--  Account Bank  -->
                    <p:column headerText="#{msg['extractHeader.AccountBank']}">
                        <h:outputText value="#{employee.bankAccount.accountBank}" />
                    </p:column>
                    <!--  Account Branch  -->
                    <p:column headerText="#{msg['extractHeader.AccountBranch']}">
                        <h:outputText value="#{employee.bankAccount.accountBranch}" />
                    </p:column>
                    <!--  Account Branch Code  -->
                    <p:column headerText="#{msg['extractHeader.AccountBranchCode']}">
                        <h:outputText value="#{employee.bankAccount.accountBranchCode}" />
                    </p:column>
                    <!--  Account Number  -->
                    <p:column headerText="#{msg['extractHeader.AccountNumber']}">
                        <h:outputText value="#{employee.bankAccount.accountNumber}" />
                    </p:column>
                    <!--  Account Name  -->
                    <p:column headerText="#{msg['extractHeader.AccountName']}">
                        <h:outputText value="#{employee.bankAccount.accountName}" />
                    </p:column>
                    <!--  Account Type  -->
                    <p:column headerText="#{msg['extractHeader.AccountType']}">
                        <h:outputText value="#{employee.bankAccount.accountType}" />
                    </p:column>
                    <!--  Cost Centre  -->
                    <p:column headerText="#{msg['extractHeader.CostCentre']}">
                        <h:outputText value="#{employee.costCentreName}" />
                    </p:column>
                    <!--  Rate of Pay  -->
                    <p:column headerText="#{msg['extractHeader.RateOfPay']}">
                        <h:outputText value="#{employee.currencyAndPayRate}" />
                    </p:column>
                    <!--  Date Of Birth  -->
                    <p:column headerText="#{msg['extractHeader.DateOfBirth']}">
                        <h:outputText value="#{employee.dateOfBirthString}" />
                    </p:column>
                    <!--  Date Of Engagement  -->
                    <p:column headerText="#{msg['extractHeader.DateOfEngagement']}">
                        <h:outputText value="#{employee.dateOfEngagementString}" />
                    </p:column>
                    <!--  Date Of Discharge  -->
                    <p:column headerText="#{msg['extractHeader.DateOfDischarge']}">
                        <h:outputText value="#{employee.dateOfDischargeString}" />
                    </p:column>
                    <!--  Home Language  -->
                    <p:column headerText="#{msg['extractHeader.HomeLanguage']}">
                        <h:outputText value="#{employee.homeLanguage}" />
                    </p:column>
                    <!--  Engaged In This Period  -->
                    <p:column headerText="#{msg['extractHeader.Engagedthisperiod']}">
                        <h:outputText value="#{employee.engagedInThisPeriod}" />
                    </p:column>
                    <!--  Discharged In This Period  -->
                    <p:column headerText="#{msg['extractHeader.Dischargedthisperiod']}">
                        <h:outputText value="#{employee.dischargedInThisPeriod}" />
                    </p:column>
                    <!--  Discharge Reason  -->
                    <p:column headerText="#{msg['extractHeader.DischargeReason']}">
                        <h:outputText value="#{employee.dischargeReason}" />
                    </p:column>

                </p:dataTable>
            </p:fieldset>
        </p:panel>
    </h:form>
</ui:composition>