<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- The export option for this extract has been disabled due to a bug in Primefaces -->
            <!-- A nested dataList will not export the data but just the pointer to the data -->
            <!-- EXPORT OPTIONS -->
            <!--                >
            <p:fieldset legend="#{msg['ExportData']}" styleClass="sectionHeader">
                <p:panelGrid id="newCC" >
                    <p:row>
                        <! EXPORT TO XML >
                        <p:column width="50px">
                            <h:commandLink id="expToXML" >
                                <h:graphicImage url="./images/export_xml.png" width="48"/>
                                <p:dataExporter type="xml" target="idEmployees" 
                                                fileName="All_Employee_Exceptions.xml"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpXML" 
                                       for="expToXML" 
                                       value="#{msg['tooltip_ExportToXML']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <! EXPORT TO CSV >
                        <p:column>
                            <h:commandLink id="expToCSV" >
                                <h:graphicImage url="./images/export_csv.png" width="48"/>
                                <p:dataExporter type="csv" target="idEmployees" 
                                                fileName="All_Employee_Exceptions.csv"/>
                            </h:commandLink>
                            <p:tooltip id="ttExpCSV" 
                                       for="expToCSV" 
                                       value="#{msg['tooltip_ExportToCSV']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>
                        <! EXPORT TO Excel >
                        <p:column>
                            <h:commandLink id="expToExcel">
                                <h:graphicImage url="./images/export_xls.png" width="48"/>
                                <p:dataExporter type="xls" target="idEmployees" 
                                                fileName="All_Employee_Exceptions.xls"
                                                postProcessor="#{pageManager.company.postProcessXLS}"
                                                />
                            </h:commandLink>
                            <p:tooltip id="ttExpXls" 
                                       for="expToExcel" 
                                       value="#{msg['tooltip_ExportToExcel']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>


                    </p:row>
                </p:panelGrid>
            </p:fieldset-->
            <!--             -->
            <!-- EXPORT DATA -->
            <!--             -->
            <!-- Tax Diagnostics -->
            <!--                 >
            <p:fieldset legend="#{msg['payslip_legend_TaxCalculation']}"  
                        styleClass="sectionHeader" 
                        rendered="#{deduction.payEntity.renderShowTaxDiagnostics}">
                <p:row>
                    <p:column styleClass="inlineCellStyle" 
                              rendered="#{deduction.payEntity.renderShowTaxDiagnostics}">
                        <p:scrollPanel style="width:500px;height:200px">
                            <p:dataList 
                                itemType="square"
                                var="calcExceptionItem" 
                                value="#{pageManager.company.employeeManager.selectedEmployee.calcExceptions}">
                                #{calcExceptionItem.toString()}
                            </p:dataList>
                        </p:scrollPanel>
                    </p:column>
                </p:row>
            </p:fieldset-->
            <!--             -->
            <!-- EXPORT DATA -->
            <!--             -->
            <p:fieldset legend="#{pageManager.navExtractAllEmployeeExceptions.caption}" styleClass="sectionHeader">
                <!-- Data -->
                <p:dataTable id="idEmployees" var="employee" 
                             value="#{pageManager.company.employeeManager.employeesWithCalcExceptions}"
                             draggableColumns="true"
                             rows="20"
                             styleClass="payslipStyle"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {NextPageLink} {LastPageLink}"
                             paginator="true">


                    <!-- Name -->
                    <p:column headerText="#{msg['extractHeader.Name']}" style="width:250px;">
                        <h:outputText value="#{employee.toString}" />
                    </p:column>
                    <!-- Payroll -->
                    <p:column headerText="#{msg['extractHeader.Payroll']}"  style="width:150px;">
                        <h:outputText value="#{employee.payrollName}" />
                    </p:column>
                    <!-- Exceptions -->
                    <p:column headerText="#{msg['extractHeader.CalculationExceptions']}"> 
                        <!-- +++++++++++++++++++++ -->
                        <!--          Debug        -->
                        <!-- +++++++++++++++++++++ -->  
                        <p:dataList id="editor" var="reportItem" value="#{employee.calcDebugReport}">
                            Item: #{reportItem.toString()}
                        </p:dataList>
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </p:panel>
    </h:form>
</ui:composition>