<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="frmNavigation_Employee" >  

        <h:outputLabel value="#{pageManager.selectedAction.caption} "  styleClass="navHeaderFont" />
        <p:panelGrid id="pgEmployeeOuter" styleClass="navigationGrid" columns="1" >  
            <p:panelGrid id="pgEmployeeSelect" styleClass="EmployeeSelectionInnerGrid" columns="1">  
                <!-- ******************************************************* 
                        Filter by payroll
                     *******************************************************  -->
                <p:row >
                    <p:column width="40%">
                        <h:outputLabel value="#{msg['navFilter']}..." for="idFilterPayroll" styleClass="headerFont"/><br />
                    </p:column>
                </p:row>
                <p:row >
                    <p:column >
                        <h:selectOneMenu id="idFilterPayroll" style="height: 30px; width: 180px;" value="#{pageManager.company.employeeManager.filteredPayrollName}">
                            <f:selectItem itemLabel="#{msg['List_FilterByPayroll']}" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{pageManager.listManager.listItems_PayrollName}" />
                            <f:ajax immediate="true"  />
                            <p:ajax update="@all"  />
                        </h:selectOneMenu>
                    </p:column>
                </p:row>
                <!-- ******************************************************* 
                        Search for Employee
                     *******************************************************  -->
                <p:row >
                    <p:column width="40%">
                        <h:outputLabel value="#{msg['navFind']}..." for="idSelEmployee" styleClass="headerFont"/><br />
                    </p:column>
                </p:row>
                <p:row >
                    <p:column >
                        <p:autoComplete  id="idSelEmployee" 
                                         dropdown="true" 
                                         value="#{pageManager.company.employeeManager.txtSelectedEmployee}"   
                                         size="21" 
                                         autocomplete="true" 
                                         scrollHeight="400"
                                         completeMethod="#{pageManager.company.employeeManager.completeEmployeeSelection}" 
                                         required="TRUE" 
                                         requiredMessage="#{msg['EmployeeSearchCompulsory']}"
                                         forceSelection="TRUE"
                                         > 
                            <p:ajax event="itemSelect" 
                                    listener="#{pageManager.company.employeeManager.handleEmployeeSelect}" 
                                    update=":content"  /> 
                        </p:autoComplete> 
                    </p:column>
                </p:row>
                <p:row >
                    <!-- ******************************************************* 
                            Include discharged employees?
                         *******************************************************  -->
                    <p:column >
                        <!-- Show/Hide discharged employees -->
                        <p:selectBooleanCheckbox  styleClass="booleanCheckBoxStyle" 
                                                  id="chIncludeDischarges" 
                                                  value="#{pageManager.company.employeeManager.showDischargedEmployees}" style="position: absolute; top: auto" >
                            <p:ajax update="idSelEmployee"  />
                        </p:selectBooleanCheckbox>
                        <p:spacer width="25" height="10" />
                        <h:outputText value="#{msg['navIncludeDischarges']}" />

                    </p:column>

                </p:row>
                <p:spacer height="5" />
                <!-- ******************************************************* 
                        New/Existing employee
                     *******************************************************  -->
                <p:row rendered="#{pageManager.hasMorePayrollCredits}">
                    <p:column width="40%">
                        <h:outputLabel value="#{msg['navOrCreate']}" for="idSelEmployee" styleClass="headerFont"/><br />
                    </p:column>
                </p:row>
                <p:row rendered="#{pageManager.hasMorePayrollCredits}">

                    <p:column style="width:50px;text-align: right">

                        <p:commandButton id="#{pageManager.navEmployeeNew.buttonId}" value="#{pageManager.navEmployeeNew.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         icon="ui-icon-circle-plus" 
                                         title="#{msg['CreateNewEmployee']}"
                                         actionListener="#{pageManager.setNavigation}"
                                         action="#{pageManager.company.createNewEmployee}"
                                         update="@all" />
                    </p:column>
                </p:row>        
                <!-- No more credits -->
                <p:row rendered="#{!pageManager.hasMorePayrollCredits}">
                    <p:column width="40%">
                        <h:outputText value="#{msg['navNoCreditesToCreateNew']}"  style="color: #ff0000"/>
                        </p:column>
                </p:row>
                
            </p:panelGrid>

            <p:panelGrid id="pgEmployeeActionList" styleClass="EmployeeSelectionInnerGrid" columns="1"> 
                <p:row >
                    <p:column width="40%">
                        <h:outputLabel value="#{msg['navModify']}" for="idSelEmployee" styleClass="headerFont"/><br />
                    </p:column>
                </p:row>

                <p:row >
                    <!-- ******************************************************* 
                            Change Personal Information
                         *******************************************************  -->
                    <p:column >
                        <p:commandButton id="#{pageManager.navEmployeePersonalInfo.buttonId}" 
                                         value="#{pageManager.navEmployeePersonalInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content" />
                    </p:column>
                </p:row>
                <p:row >
                    <!-- ******************************************************* 
                            Change Address Information
                         *******************************************************  -->
                    <p:column >
                        <p:commandButton id="#{pageManager.navEmployeeAddressInfo.buttonId}" value="#{pageManager.navEmployeeAddressInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true" 
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content " />
                    </p:column>
                </p:row>
                <p:row >
                    <!-- ******************************************************* 
                            Change Account Information
                         *******************************************************  -->
                    <p:column >
                        <p:commandButton id="#{pageManager.navEmployeeAccountInfo.buttonId}" value="#{pageManager.navEmployeeAccountInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true" 
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content " />
                    </p:column>
                </p:row>
                <p:row >
                    <!-- ******************************************************* 
                            Change Payment Information
                         *******************************************************  -->
                    <p:column >
                        <p:commandButton id="#{pageManager.navEmployeePayInfo.buttonId}" value="#{pageManager.navEmployeePayInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content " />
                    </p:column>
                </p:row>
            </p:panelGrid>


        </p:panelGrid>


    </h:form>
</ui:composition>