<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


    <h:form id="frmNavigation_Reporting">  

        <h:outputLabel value="#{pageManager.selectedAction.caption}"  styleClass="navHeaderFont" />
        <p:panelGrid styleClass="navigationGrid" columns="1" >  
            <p:panelGrid id="pgReporterActions" styleClass="EmployeeSelectionInnerGrid" columns="1">  
                <!--
                -->
                <p:row >
                    <p:column >
                        <h:outputLabel value="#{msg['navReportsReportsLbl']}" styleClass="headerFont" /><br />
                    </p:column>
                </p:row>

                <!-- *****************************
                        EMPLOYEE REPORTS
                ********************************** -->
                <p:panelMenu >
                    <p:submenu label="#{msg['EmployeeReports']}">
                        <!-- Payslips -->
                        <p:menuitem id="#{pageManager.navReportsEmployeePayslip.buttonId}" 
                                    value="#{pageManager.navReportsEmployeePayslip.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- TaxCertificates -->
                        <p:menuitem id="#{pageManager.navReportsEmployeeTaxCertificate.buttonId}" 
                                    value="#{pageManager.navReportsEmployeeTaxCertificate.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content "/>
                    </p:submenu>

                </p:panelMenu>


                <!-- *****************************
                     PAYROLL REPORTS
                ********************************** -->
                <p:panelMenu >
                    <p:submenu label="#{msg['PayrollReports']}">
                        <!-- Tax Return -->
                        <p:menuitem id="#{pageManager.navReportsPayrollTaxReturn.buttonId}" 
                                    value="#{pageManager.navReportsPayrollTaxReturn.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- EMP201 -->
                        <p:menuitem id="#{pageManager.navReportsEmployeeEMP201.buttonId}" 
                                    value="#{pageManager.navReportsEmployeeEMP201.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- Payroll Register -->
                        <p:menuitem id="#{pageManager.navReportsPayrollRegister.buttonId}" 
                                    value="#{pageManager.navReportsPayrollRegister.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- Payroll Register YTD -->
                        <p:menuitem id="#{pageManager.navReportsPayrollRegisterYTD.buttonId}" 
                                    value="#{pageManager.navReportsPayrollRegisterYTD.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- SDL -->
                        <p:menuitem id="#{pageManager.navReportsPayrollSDL.buttonId}" 
                                    value="#{pageManager.navReportsPayrollSDL.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- Variance -->
                        <p:menuitem id="#{pageManager.navReportsPayrollVariance.buttonId}" 
                                    value="#{pageManager.navReportsPayrollVariance.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- UIF -->
                        <p:menuitem id="#{pageManager.navReportsUifExtract.buttonId}" 
                                    value="#{pageManager.navReportsUifExtract.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- Tax Certificate -->
                        <p:menuitem id="#{pageManager.navReportsPayrollTaxcertificate.buttonId}" 
                                    value="#{pageManager.navReportsPayrollTaxcertificate.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                    </p:submenu>

                </p:panelMenu>

                <!-- *****************************
                            SYSTEM REPORTS
                ********************************** -->
                <p:panelMenu >
                    <p:submenu label="#{msg['SystemReports']}">
                        <!-- System Setup -->
                        <p:menuitem id="#{pageManager.navReportMasterAudit.buttonId}" 
                                    value="#{pageManager.navReportMasterAudit.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                        <!-- Credit History -->
                        <p:menuitem id="#{pageManager.navReportCreditHistory.buttonId}" 
                                    value="#{pageManager.navReportCreditHistory.caption}"  
                                    class="ui-navigation-button" 
                                    ajax="true" 
                                    actionListener="#{pageManager.setNavigation}"
                                    update=":content " />
                    </p:submenu>
                </p:panelMenu>
                <p:row >
                    <!-- *****************************
                        EXTRACTS
                    ********************************** -->
                    <p:column >
                        <h:outputLabel value="#{msg['navReportsDataExtractsLbl']}" styleClass="headerFont" /><br />
                    </p:column>
                </p:row>
                <p:panelMenu >
                    <p:submenu label="#{msg['navReportsEmployeeExtractsLbl']}">
                        <!-- Headcount and Statistics -->
                        <p:menuitem id="#{pageManager.navExtractHeadcountAndStats.buttonId}" 
                                    value="#{pageManager.navExtractHeadcountAndStats.caption}"  
                                    class="ui-navigation-button" 
                                    actionListener="#{pageManager.setNavigation}"  
                                    ajax="true" 
                                    update=":content"  />
                        <!-- Take-on and Discharges -->
                        <p:menuitem  id="#{pageManager.navExtractTakeonAndDischarges.buttonId}" 
                                     value="#{pageManager.navExtractTakeonAndDischarges.caption}"  
                                     class="ui-navigation-button" 
                                     actionListener="#{pageManager.setNavigation}"  
                                     ajax="true" 
                                     update=":content"  />
                        <!-- All Employee Attributes -->
                        <p:menuitem  id="#{pageManager.navExtractAllEmployeeAttributes.buttonId}" 
                                     value="#{pageManager.navExtractAllEmployeeAttributes.caption}"  
                                     class="ui-navigation-button" 
                                     actionListener="#{pageManager.setNavigation}"  
                                     ajax="true" 
                                     update=":content"  />
                        <!-- All Employee Exceptions -->
                        <p:menuitem  id="#{pageManager.navExtractAllEmployeeExceptions.buttonId}" 
                                     value="#{pageManager.navExtractAllEmployeeExceptions.caption}"  
                                     class="ui-navigation-button" 
                                     actionListener="#{pageManager.setNavigation}"  
                                     ajax="true" 
                                     update=":content"  />
                    </p:submenu>
                </p:panelMenu>
                <!-- *****************************
                        OTHER EXTRACTS
                ********************************** -->
                <p:panelMenu >
                    <p:submenu label="#{msg['navReportsOtherLbl']}">
                        <!-- Employee Variable Details -->
                        <p:menuitem id="#{pageManager.navExtractEmployeeVarDetail.buttonId}" 
                                    value="#{pageManager.navExtractEmployeeVarDetail.caption}"  
                                    class="ui-navigation-button" 
                                    actionListener="#{pageManager.setNavigation}"  
                                    ajax="true" 
                                    update=":content"  />
                    </p:submenu>
                </p:panelMenu>


            </p:panelGrid>
        </p:panelGrid>


    </h:form>
</ui:composition>