<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmNavigation_Settings">  

        <h:outputLabel value="#{pageManager.selectedAction.caption} "  styleClass="navHeaderFont" />
        <p:panelGrid id="pgEmployeeOuter" styleClass="navigationGrid" columns="1" >  
            <p:panelGrid id="pgEmployeeActions" styleClass="EmployeeSelectionInnerGrid" columns="1">  
                <p:row >
                    <p:column >
                        <h:outputLabel value="Server..." styleClass="headerFont" /><br />
                    </p:column>
                </p:row>
                <!--                                      -->
                <!-- SERVER SETTINGS                      -->
                <!--                                      -->
                <p:row>
                    <p:column >
                        <p:commandButton id="#{pageManager.navSettingsServerInfo.buttonId}" value="#{pageManager.navSettingsServerInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content" />
                    </p:column>
                </p:row>
                <p:row >
                    <p:column >
                        <h:outputLabel  value="#{msg['Company']}..." styleClass="headerFont" /><br />

                    </p:column>

                </p:row> 
                <!--                                      -->
                <!-- GENERAL INFO                         -->
                <!--                                      -->
                <p:row >
                    <p:column >
                        <p:commandButton id="#{pageManager.navSettingsCompanyGeneralInfo.buttonId}" value="#{pageManager.navSettingsCompanyGeneralInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content" />
                    </p:column>
                </p:row>
                <!--                                      -->
                <!-- COST CENTRES                         -->
                <!--                                      -->
                <p:row >
                    <p:column >
                        <p:commandButton id="#{pageManager.navSettingsCompanyCostCentreInfo.buttonId}" value="#{pageManager.navSettingsCompanyCostCentreInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update="@all"   />
                    </p:column>
                </p:row>
               
                <!--                                      -->
                <!-- ACCOUNT SETTINGS                         -->
                <!--                                      -->
                <p:row >
                    <p:column >
                        <p:commandButton id="#{pageManager.navSettingsCompanyAccountInfo.buttonId}" value="#{pageManager.navSettingsCompanyAccountInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content"  />
                    </p:column>
                </p:row >
                <!--                                      -->
                <!-- PAYROLL HEADER                       -->
                <!--                                      -->
                <p:row >
                    <p:column >
                        <h:outputLabel value="#{msg['Payroll']}..." styleClass="headerFont" /><br />
                    </p:column>

                </p:row>
                <!--                                  -->
                <!-- PAYROLLS                         -->
                <!--                                  -->
                <p:row >
                    <p:column >
                        <p:commandButton id="#{pageManager.navSettingsPayrollGeneralInfo.buttonId}" value="#{pageManager.navSettingsPayrollGeneralInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content"  />
                    </p:column>
                </p:row >
                <!--                                      -->
                <!-- PAY ENTITIES                         -->
                <!--                                      -->
                <p:row >
                    <p:column >
                        <p:commandButton id="#{pageManager.navSettingsPayrollPayEntityInfo.buttonId}" value="#{pageManager.navSettingsPayrollPayEntityInfo.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update="@all"  />
                    </p:column>
                </p:row >
                <!--                                      -->
                <!-- LISTS HEADER                       -->
                <!--                                      -->
                <p:row >
                    <p:column >
                        <h:outputLabel value="#{msg['Lists']}..." styleClass="headerFont" /><br />
                    </p:column>

                </p:row>
                <!--                               -->
                <!-- Lists                         -->
                <!--                               -->
                <p:row >
                    <p:column >
                        <p:commandButton id="#{pageManager.navSettingsListsManagement.buttonId}" value="#{pageManager.navSettingsListsManagement.caption}"  
                                         class="ui-navigation-button" 
                                         ajax="true"  
                                         actionListener="#{pageManager.setNavigation}"
                                         update=":content"  />
                    </p:column>
                </p:row >
            </p:panelGrid>
        </p:panelGrid>


    </h:form>
</ui:composition>
