<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">

    <h:form id="frmCentrePage" prependId="false">  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{pageManager.navReportsPayrollTaxcertificate.caption}"  styleClass="sectionHeader">
                <p:row>
                    <p:column>
                        <p:dataTable var="payroll" 
                                     value="#{pageManager.company.payrollManager.payrolls}" 
                                     widgetVar="payrollTable"
                                     paginator="true"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rows="15"
                                     styleClass="payslipStyle"
                                     rowKey="#{payroll.payrollID}">

                            <p:column headerText="#{msg['PayrollName']}" sortBy="#{payroll.payrollName}" >
                                <h:outputText value="#{payroll.payrollName}" />
                            </p:column>
                            <p:column headerText="#{msg['PayrollType']}" sortBy="#{payroll.payrollType}" >
                                <h:outputText value="#{payroll.payrollType}" />
                            </p:column>
                            <p:column headerText="#{msg['TaxCountry']}" sortBy="#{payroll.taxCountry}" >
                                <h:outputText value="#{payroll.taxCountry}" />
                            </p:column>
                            <!-- Open Period -->
                            <p:column headerText="#{msg['OpenPeriod']}">
                                <h:outputText rendered="#{payroll.lastPeriodInTaxYear}" 
                                              value="#{payroll.openPeriod}" 
                                              styleClass="attention"/>
                                <h:outputText rendered="#{!payroll.lastPeriodInTaxYear}" 
                                              value="#{payroll.openPeriod}" />
                            </p:column>
                            <!-- Dropdown List to select tax certificate periods -->
                            <p:column styleClass="inlineValueStyle" headerText="#{msg['list_SelectMonth']}">
                                <h:form>
                                    <h:selectOneMenu value="#{payroll.taxCertificateMonth}" style="width: 180px;">
                                        <f:selectItem itemLabel="#{msg['list_SelectMonth']}" itemValue="00" />
                                        <f:selectItem itemLabel="#{msg['taxMonthFeb']}" itemValue="02" />
                                        <f:selectItem itemLabel="#{msg['taxMonthAug']}" itemValue="08" />
                                        <!--<p:ajax immediate="true" update=":frmCentrePage,:frmCentrePage:outerPanel"/>-->
                                        <p:ajax immediate="true" update=":frmCentrePage"/>
                                    </h:selectOneMenu>
                                    <!--Hint-->  
                                    <p:spacer width="8" />
                                    <h:graphicImage id="toolTipSelectTCSubmissionMonth" url="./images/info.png" 
                                                    height="15" 
                                                    style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                                    <p:tooltip id="ttSelectTCSubmissionMonth" 
                                               for="toolTipSelectTCSubmissionMonth" 
                                               value="#{msg['hint_SelectTCSubmissionMonth']}"
                                               showEffect="clip" 
                                               hideEffect="explode" />
                                </h:form>
                            </p:column>
                            <!-- Link to icon for SDF Extract --> 
                            <p:column rendered="#{!payroll.taxCertificatePrepared}" headerText="#{msg['taxCertificate.warningsAndErrors']}">
                                <h:outputText value="#{msg['taxCertificate.pleaseSelectMonth']}"/>
                            </p:column>
                            <p:column rendered="#{payroll.taxCertificatePrepared}" headerText="#{msg['taxCertificate.warningsAndErrors']}">
                                <center>
                                    <p:commandLink onclick="PF('dlg1').show();">
                                        <h:graphicImage id="exportTaxCertificatetoCSV" url="./images/export_csv.png" 
                                                        height="30"
                                                        title="acceptTYERollOver">
                                        </h:graphicImage>
                                    </p:commandLink>
                                    <p:dialog header="#{msg['taxCertificateExtract']}" 
                                              widgetVar="dlg1" 
                                              id="dlg1" 
                                              closable="true" 
                                              closeOnEscape="true" 
                                              focus="nobtn" 
                                              dynamic="false"
                                              width="1150px"
                                              height="400px">
                                        <div style="font-size: 120%">
                                            <h:outputText value="#{payroll.taxCertificateWarningsAndErrors}"
                                                          id="warningsAndErrors"
                                                          escape="false"/>
                                        </div>
                                        <hr/>
                                        <p:commandButton value="#{msg['mbDownloadExtract']}" 
                                                         rendered="#{payroll.noTaxCertificateErrors}"
                                                         styleClass="ui-confirmdialog-yes"  
                                                         icon="ui-icon-arrowthickstop-1-s"
                                                         ajax="false">
                                            <p:fileDownload value="#{payroll.taxCertificateExtractList}" />
                                        </p:commandButton>
                                        <p:commandButton id="nobtn"
                                                         value="#{msg['mbClose']}" 
                                                         type="button" 
                                                         styleClass="ui-confirmdialog-no"  
                                                         icon="ui-icon-close"
                                                         onclick="PF('dlg1').hide();"
                                                         update=":frmCentrePage"/>
                                    </p:dialog>
                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                    </p:confirmDialog>
                                </center>
                            </p:column>
                            <!-- Display message if payroll is not South African -->
                            <p:column rendered="#{payroll.southAfrica == 'False'}">
                                <h:outputText value="#{msg['onlyForSA']}" />
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:row>
            </p:fieldset>
        </p:panel>
    </h:form>
    <!-- ++++++++++++ -->
    <!--   GENERAL    -->
    <!-- ++++++++++++ -->    

</ui:composition>