<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">
    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{pageManager.navReportCreditHistory.caption}" styleClass="sectionHeader">
                <p:row>
                    <!-- From Date -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['viewCreditHistoryReport']}:" style="vertical-align: 8px;" />
                    </p:column>
                    <p:spacer width="20"/>
                    <h:commandLink target="_blank"
                                   actionListener="#{pageManager.printCreditHistory}">
                        <p:tooltip id="ttRefresh" 
                                   for="showRefreshIcon" value="#{msg['tooltipRefreshSelection']}"
                                   showEffect="clip" hideEffect="explode" />
                        <p:graphicImage id="showRefreshIcon" url="./images/print.png" 
                                        height="30"
                                        style="text-align: center;">
                        </p:graphicImage>
                    </h:commandLink>
                </p:row>
            </p:fieldset>
        </p:panel>
    </h:form>
</ui:composition>