<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <p:fieldset legend="#{msg['Report']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox "  >
                    <!-- ++++++++++++ -->
                    <!--   Bank Account    -->
                    <!-- ++++++++++++ -->    
                    <p:row  >
                        <!-- URL -->
                        <p:column styleClass="inlineCellStyle" >
                            <h:outputText value="#{msg['ServerURL']}:" styleClass="inlineHeadingStyle" /><p:spacer width="15" />
                            <h:outputText value="#{pageManager.jdbcURL}" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <!-- Account ID -->
                        <p:column styleClass="inlineCellStyle">
                            <h:outputText value="#{msg['AccountID']}:" styleClass="inlineHeadingStyle"/><p:spacer width="15" />
                            <h:outputText value="#{pageManager.accountID}" styleClass="inlineHeadingStyle" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset> 
        </p:panel>
    </h:form>

    <!-- ++++++++++++ -->
    <!--   GENERAL    -->
    <!-- ++++++++++++ -->    

</ui:composition>