<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">
    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{pageManager.navReportMasterAudit.caption}" styleClass="sectionHeader">
                <p:row>
                    <!-- From Date -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['fromDate']}:" style="vertical-align: 8px;" />
                    </p:column>
                    <p:spacer width="8"/>
                    <p:column styleClass="inlineValueStyle">
                        <p:calendar id="inputFromDate" 
                                    style="vertical-align: 7px; margin-bottom: 3px;"
                                    required="true"
                                    requiredMessage="'#{msg['fromDate']}' #{msg['IsACompulsoryField']}"
                                    value="#{pageManager.auditStartDate}" 
                                    pattern="yyyy/MM/dd" 
                                    mask="true"
                                    size="9"
                                    navigator="true"
                                    mode="popup" 
                                    locale="#{pageManager.locale}"
                                    maxdate="2020/01/01">
                            <p:ajax immediate="true" />
                            <p:ajax global = "false" 
                                    event="dateSelect"
                                    listener="#{pageManager.setAuditStartDate}" 
                                    update="frmCentrePage:outerPanel" />
                        </p:calendar> 
                        <h:outputText styleClass="compulsoryIndicator" value="*" style="vertical-align: top;"/>
                    </p:column>
                    <p:spacer width="20"/>
                    <!-- To Date -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['toDate']}:" style="vertical-align: 8px;"/>
                    </p:column>
                    <p:spacer width="8"/>
                    <p:column styleClass="inlineValueStyle">
                        <p:calendar id="inputToDate" 
                                    style="vertical-align: 7px;"
                                    required="true"
                                    requiredMessage="'#{msg['toDate']}' #{msg['IsACompulsoryField']}"
                                    value="#{pageManager.auditEndDate}" 
                                    pattern="yyyy/MM/dd" 
                                    mask="true"
                                    size="9"
                                    navigator="true"
                                    mode="popup" 
                                    locale="#{pageManager.locale}"
                                    maxdate="2020/01/01">
                            <p:ajax immediate="true" />
                            <p:ajax global = "false" 
                                    event="dateSelect"
                                    listener="#{pageManager.setAuditEndDate}" 
                                    update="frmCentrePage:outerPanel" />
                        </p:calendar> 

                        <h:outputText styleClass="compulsoryIndicator" value="*" style="vertical-align: top;"/>
                    </p:column>
                    <p:spacer width="20"/>
                    <h:commandLink target="_blank"
                                   actionListener="#{pageManager.printMasterAudit()}">
                        <p:tooltip id="ttRefresh" 
                                   for="showRefreshIcon" value="#{msg['tooltipRefreshSelection']}"
                                   showEffect="clip" hideEffect="explode" />
                        <p:graphicImage id="showRefreshIcon" url="./images/print.png" 
                                        height="30"
                                        style="text-align: center;">
                        </p:graphicImage>
                    </h:commandLink>
                </p:row>
            </p:fieldset>
        </p:panel>
    </h:form>
</ui:composition>