<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">
    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{pageManager.navReportsEmployeeTaxCertificate.caption}" styleClass="sectionHeader">
                <p:row>

                    <!-- Download All -->
                    <table width="100%" style="border: black;">
                        <tr>
                            <td width="90%">
                            </td>
                            <!--<p:spacer width="1490" height="0" />-->
                            <!--<p:column rendered="#{pageManager.company.filteredEmployeesHasTaxCertificates}">-->
                            <td rendered="#{pageManager.company.filteredEmployeesHasTaxCertificates}" width="5%">
                                <center>
                                    <p:commandLink 
                                        actionListener="#{pageManager.company.prepareAllTaxCertificates}"
                                        update="@all"
                                        ajax="false"
                                        target="_blank">
                                        <p:tooltip id="ttPreviewAll" 
                                                   for="showPreviewAllIcon" value="#{msg['tooltipPreviewAllTaxCertificates']}"
                                                   showEffect="clip" hideEffect="explode" />
                                        <p:graphicImage id="showPreviewAllIcon" url="./images/print_all.png" 
                                                        height="30"
                                                        style="text-align: center">
                                        </p:graphicImage>
                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmPreviewAllTaxCertificates']}" icon="ui-icon-alert"/>
                                        <p:fileDownload value="#{pageManager.company.allTaxCertificates}" />
                                    </p:commandLink>
                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                    </p:confirmDialog>
                                </center>
                            </td>
                            <!--</p:column>-->
                            <!--<p:spacer width="25" height="0" />-->
                            <!-- EMAIL ALL -->
                            <!--<p:column rendered="#{pageManager.company.filteredEmployeesHasTaxCertificates}">-->
                            <td rendered="#{pageManager.company.filteredEmployeesHasTaxCertificates}" width="5%">
                                <center>
                                    <p:commandLink 
                                        actionListener="#{pageManager.company.emailAllTaxCertificates}"
                                        update="@all">
                                        <p:tooltip id="ttEmailToAll" 
                                                   for="showEMailAllIcon" value="#{msg['tooltipEmailAllTaxCertificates']}"
                                                   showEffect="clip" hideEffect="explode" />
                                        <p:graphicImage id="showEMailAllIcon" url="./images/export_allemails.png" 
                                                        height="30"
                                                        style="text-align: center">
                                        </p:graphicImage>
                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmEmailAllTaxCertificates']}" icon="ui-icon-alert"/>

                                    </p:commandLink>
                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                    </p:confirmDialog>
                                    <!--</p:column>-->
                                </center>
                            </td>
                        </tr>
                    </table>
                </p:row>
                <p:row>
                    <p:column>
                        <p:dataTable var="employee" 
                                     value="#{pageManager.company.employeeManager.activeEmployees}" 
                                     widgetVar="employeeTable"
                                     paginator="true"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rows="15"
                                     styleClass="payslipStyle"
                                     filteredValue="#{pageManager.company.employeeManager.filteredEmployees}" 
                                     rowKey="#{employee.employeeID}">
                            <!-- FILTER -->
                            <f:facet name="header">
                                <p:outputPanel>
                                    <h:outputText value="#{msg['PayEntitySearchAllFields']}" /><p:spacer width="10" />
                                    <p:inputText id="globalFilter" onkeyup="PF('employeeTable').filter()" style="width:150px" placeholder="#{msg['PayEntityEnterSearchTerm']}"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column headerText="#{msg['LastName']}" sortBy="#{employee.surname}" 
                                      filterBy="#{employee.surname}" filterStyle="display:none"
                                      width="10%">

                                <p:commandLink actionListener="#{employee.navigateToPayslipScreen}"
                                               update="@all">
                                    <h:outputText value="#{employee.surname}" />
                                </p:commandLink>
                            </p:column>
                            <p:column headerText="#{msg['FirstName']}" sortBy="#{employee.firstname}" 
                                      filterBy="#{employee.firstname}" filterStyle="display:none"
                                      width="15%">
                                <h:outputText value="#{employee.firstname}" />
                            </p:column>
                            <p:column headerText="#{msg['CostCentre']}" sortBy="#{employee.costCentreName}" 
                                      filterBy="#{employee.costCentreName}" filterStyle="display:none"
                                      width="15%">
                                <h:outputText value="#{employee.costCentreName}" />
                            </p:column>
                            <p:column headerText="#{msg['Payroll']}" sortBy="#{employee.payrollName}" 
                                      filterBy="#{employee.payrollName}" filterStyle="display:none"
                                      width="15%">
                                <h:outputText value="#{employee.payrollName}" />
                            </p:column>
                            <p:column headerText="#{msg['JobTitle']}" sortBy="#{employee.jobTitle}" 
                                      filterBy="#{employee.jobTitle}" filterStyle="display:none"
                                      width="15%">
                                <h:outputText value="#{employee.jobTitle}" />
                            </p:column>
                            <!-- Dropdown List to select payroll periods -->
                            <p:column styleClass="inlineValueStyle" width="12%" headerText="#{msg['List_SelectPayrollPeriod']}">
                                <h:form  rendered="#{employee.validTaxCertificate==true}">
                                    <h:selectOneMenu value="#{employee.taxCertificatePrintForPeriod}">
                                        <f:selectItems value="#{employee.taxCertificateSubmissionPeriods}"/>
                                        <p:ajax immediate="true" />
                                    </h:selectOneMenu>
                                    <!-- Hint -->
                                    <p:spacer width="8" />
                                    <h:graphicImage id="toolTipSelectAPayrollPeriod" url="./images/info.png" 
                                                    height="15" 
                                                    style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                                    <p:tooltip id="ttSelectAPayrollPeriod" 
                                               for="toolTipSelectAPayrollPeriod" 
                                               value="#{msg['hint_SelectPayrollPeriod']}"
                                               showEffect="clip" 
                                               hideEffect="explode" />
                                </h:form>
                                <h:outputText value="#{msg['taxCertificate.pleaseCalculate']}" rendered="#{employee.validTaxCertificate==false}"/>
                            </p:column>
                            <!-- Link to icon for PDF Extract -->
                            <p:column width="5%" headerText="#{msg['navPrint']}">
                                <center>
                                    <h:commandLink target="_blank"
                                                   actionListener="#{employee.printTaxCertificate}">
                                        <p:tooltip id="ttPDF" 
                                                   for="showPDFIcon" value="#{msg['tooltipShowPDF']}"
                                                   showEffect="clip" hideEffect="explode" />
                                        <p:graphicImage rendered="#{employee.validTaxCertificate==true}"
                                                        id="showPDFIcon" url="./images/print.png" 
                                                        height="30"
                                                        style="text-align: center">
                                        </p:graphicImage>
                                    </h:commandLink>
                                </center>
                            </p:column>
                            <!-- Link to icon for PDF Extract and E-mail -->
                            <p:column width="5%" headerText="#{msg['EMail']}">
                                <center>
                                    <p:commandLink target="_self"
                                                   actionListener="#{employee.emailTaxCertificate}"
                                                   rendered="${employee.email!=null}">
                                        <p:tooltip id="ttEmail" 
                                                   for="showEMailIcon" value="#{msg['tooltipSendEmail']}"
                                                   showEffect="clip" hideEffect="explode" />
                                        <p:graphicImage rendered="#{employee.validTaxCertificate==true}"
                                                        id="showEMailIcon" url="./images/export_email.png" 
                                                        height="30"
                                                        style="text-align: center">
                                        </p:graphicImage>
                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmEmailTaxCertificate']}" icon="ui-icon-alert"/>

                                    </p:commandLink>
                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                    </p:confirmDialog>
                                </center>
                            </p:column>                            
                        </p:dataTable>
                    </p:column>
                </p:row>
            </p:fieldset>

        </p:panel>


    </h:form>


    <!-- ++++++++++++ -->
    <!--   GENERAL    -->
    <!-- ++++++++++++ -->    

</ui:composition>