<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jr="http://jasperreportjsf.sf.net/tld/jasperreports-jsf-1_2.tld">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!--                -->
            <!-- EXPORT OPTIONS -->
            <!--                -->
            <p:fieldset legend="#{pageManager.navReportsPayrollSDL.caption}"  styleClass="sectionHeader">


                <p:row>
                    <p:column>
                        <p:dataTable var="payroll" 
                                     value="#{pageManager.company.payrollManager.payrolls}" 
                                     widgetVar="payrollTable"
                                     paginator="true"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     rows="15"
                                     styleClass="payslipStyle"
                                     rowKey="#{payroll.payrollID}">

                            <p:column headerText="#{msg['PayrollName']}" sortBy="#{payroll.payrollName}" >
                                <h:outputText value="#{payroll.payrollName}" />
                            </p:column>
                            <p:column headerText="#{msg['PayrollType']}" sortBy="#{payroll.payrollType}" >
                                <h:outputText value="#{payroll.payrollType}" />
                            </p:column>
                            <p:column headerText="#{msg['TaxCountry']}" sortBy="#{payroll.taxCountry}" >
                                <h:outputText value="#{payroll.taxCountry}" />
                            </p:column>
                            <!-- Open Period -->
                            <p:column headerText="#{msg['OpenPeriod']}">
                                <h:outputText rendered="#{payroll.lastPeriodInTaxYear}" 
                                              value="#{payroll.openPeriod}" 
                                              styleClass="attention"/>
                                <h:outputText rendered="#{!payroll.lastPeriodInTaxYear}" 
                                              value="#{payroll.openPeriod}" />
                            </p:column>
                            <!-- Link to icon for PDF Extract -->
                            <p:column width="5%" headerText="#{msg['navPrint']}">
                                <center>
                                    <h:commandLink target="_blank"
                                                   actionListener="#{payroll.printPayrollSDL}">
                                        <p:tooltip id="ttPDF" 
                                                   for="showPDFIcon" value="#{msg['tooltipShowPDF']}"
                                                   showEffect="clip" hideEffect="explode" />
                                        <p:graphicImage id="showPDFIcon" url="./images/print.png" 
                                                        height="30"
                                                        style="text-align: center">
                                        </p:graphicImage>
                                    </h:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:row>
            </p:fieldset>

        </p:panel>


    </h:form>

    <!-- ++++++++++++ -->
    <!--   GENERAL    -->
    <!-- ++++++++++++ -->    

</ui:composition>