<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   APPLY / UNDO     -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:panelGrid styleClass="panelColumns"  >
                <!-- +++++++++++++  -->
                <!--   FIRST GROUP  -->
                <!-- +++++++++++++  -->    
                <p:row>

                    <!--            -->
                    <!--   Titles   -->
                    <!--            -->
                    <p:column width="50%">
                        <!-- 
                                      TOP ACTIONS 
                        -->
                        <p:fieldset legend="#{msg['Titles']}" styleClass="sectionHeader">
                            <!-- 
                                      CREATE / DELETE 
                            -->
                            <p:toolbar id="titleActionPanel">
                                <!-- 
                                              CREATE 
                                -->
                                <!--update=":frmCentrePage:outerPanel"-->
                                <f:facet name="left" >
                                    <p:commandButton update=":frmCentrePage:outerPanel" 
                                                     ajax="true" 
                                                     id="CreateNewTitleBtn"
                                                     icon="ui-icon-circle-plus" 
                                                     title="#{msg['CreateNewTitle']}"
                                                     value="#{msg['CreateNewTitle']}"
                                                     onclick="PF('newTitleDlg').show();
                                                             return false;">
                                    </p:commandButton>
                                    <!--Dialog is at the bottom of the page-->
                                </f:facet> 
                                <!-- 
                                              DELETE 
                                -->
                                <f:facet name="right" >
                                    <p:commandButton actionListener="#{pageManager.company.titleManager.deleteSelectedTitle}" 
                                                     update=":frmCentrePage:outerPanel" ajax="true" 
                                                     icon="ui-icon-circle-minus" 
                                                     id="deleteTitle"
                                                     value="#{msg['RemoveTitle']}: #{pageManager.company.titleManager.selectedTitle.title}"
                                                     oncomplete="javascript:window.location.reload()"
                                                     rendered="#{pageManager.company.titleManager.selectedTitle!=null}">
                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmRemoveTitle']}" icon="ui-icon-alert"/>
                                    </p:commandButton>

                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                    </p:confirmDialog>
                                </f:facet>
                            </p:toolbar>

                            <p:spacer height="10" />

                            <h:panelGrid>


                                <!-- 
                                    DATA TABLE: TITLES 
                                -->
                                <p:dataTable var="title" 
                                             value="#{pageManager.company.titleManager.titles}"
                                             selectionMode="single" 
                                             selection="#{pageManager.company.titleManager.selectedTitle}"
                                             rowKey="#{title.titleID}"
                                             style="padding: 0em 0em"
                                             editable="true">
                                    <p:ajax event="rowSelect" listener="#{pageManager.company.titleManager.onRowSelect}" update=":frmCentrePage:titleActionPanel" />

                                    <!-- List Item -->
                                    <p:column headerText="#{msg['Title']}" sortBy="#{title.title}" >
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{title.title}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="titleInput" value="#{title.title}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column width="35" >
                                        <p:rowEditor  />
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                        </p:fieldset>
                    </p:column>


                    <!--                -->
                    <!--   Job Titles   -->
                    <!--                -->
                    <p:column width="50%">
                        <!-- 
                                      TOP ACTIONS 
                        -->
                        <p:fieldset legend="#{msg['JobPositions']}" styleClass="sectionHeader">
                            <!-- 
                                      CREATE / DELETE 
                            -->
                            <p:toolbar id="jobTitleActionPanel">
                                <!-- 
                                              CREATE 
                                -->
                                <f:facet name="left" >
                                    <p:commandButton update=":frmCentrePage:outerPanel" 
                                                     ajax="true" 
                                                     id="CreateNewJobPositionBtn"
                                                     icon="ui-icon-circle-plus" 
                                                     title="#{msg['CreateNewJobPosition']}"
                                                     value="#{msg['CreateNewJobPosition']}"
                                                     onclick="PF('newJobTitleDlg').show();
                                                             return false;">
                                    </p:commandButton>
                                    <!--Dialog is at the bottom of the page-->
                                </f:facet>
                                <!-- 
                                              DELETE 
                                -->
                                <f:facet name="right" >
                                    <p:commandButton actionListener="#{pageManager.company.jobPositionManager.deleteSelectedJobPosition}" 
                                                     update=":frmCentrePage:outerPanel" ajax="true" 
                                                     icon="ui-icon-circle-minus" 
                                                     id="deleteJobPosition"
                                                     value="#{msg['RemoveJobPosition']}: #{pageManager.company.jobPositionManager.selectedJobPosition.jobTitle}"
                                                     oncomplete="javascript:window.location.reload()"
                                                     rendered="#{pageManager.company.jobPositionManager.selectedJobPosition!=null}">
                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmRemoveJobTitle']}" icon="ui-icon-alert"/>
                                    </p:commandButton>

                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                    </p:confirmDialog>
                                </f:facet>
                            </p:toolbar>

                            <p:spacer height="10" />

                            <h:panelGrid>
                                <!-- 
                                    DATA TABLE: JOB POSITION 
                                -->
                                <p:dataTable var="jobPosition" 
                                             value="#{pageManager.company.jobPositionManager.jobPositions}"
                                             selectionMode="single" 
                                             selection="#{pageManager.company.jobPositionManager.selectedJobPosition}"
                                             rowKey="#{jobPosition.jobPositionID}"
                                             editable="true">
                                    <p:ajax event="rowSelect" listener="#{pageManager.company.jobPositionManager.onRowSelect}" update=":frmCentrePage:jobTitleActionPanel"/>

                                    <!-- List Item -->
                                    <p:column headerText="#{msg['JobTitle']}" sortBy="#{jobPosition.jobTitle}" >
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{jobPosition.jobTitle}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="jobTitleInput" value="#{jobPosition.jobTitle}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column headerText="#{msg['JobDescription']}" sortBy="#{jobPosition.jobDescription}" >
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{jobPosition.jobDescription}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="titleInput" value="#{jobPosition.jobDescription}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column width="35">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>

                        </p:fieldset>
                    </p:column>
                </p:row>
                <!-- ++++++++++++++  -->
                <!--   SECOND GROUP  -->
                <!-- ++++++++++++++  -->    
                <p:row>
                    <!--                 -->
                    <!-- Home Language   -->
                    <!--                 -->
                    <p:column width="50%">
                        <!-- 
                                     TOP ACTIONS 
                        -->
                        <p:fieldset legend="#{msg['Languages']}" styleClass="sectionHeader">
                            <!-- 
                                      CREATE / DELETE 
                            -->
                            <p:toolbar id="languageActionPanel">
                                <!-- 
                                              CREATE 
                                -->
                                <f:facet name="left">
                                    <p:commandButton update=":frmCentrePage:outerPanel" 
                                                     ajax="true" 
                                                     id="CreateNewLanguageBtn"
                                                     icon="ui-icon-circle-plus" 
                                                     title="#{msg['CreateNewLanguage']}"
                                                     value="#{msg['CreateNewLanguage']}"
                                                     onclick="PF('newLangDlg').show();
                                                             return false;">
                                    </p:commandButton>
                                    <!--Dialog is at the bottom of the page-->
                                </f:facet>
                                <!-- 
                                              DELETE 
                                -->
                                <f:facet name="right" >
                                    <p:commandButton actionListener="#{pageManager.company.languageManager.deleteSelectedLanguage}" 
                                                     update=":frmCentrePage:outerPanel" ajax="true" 
                                                     icon="ui-icon-circle-minus" 
                                                     id="deleteLanguage"
                                                     value="#{msg['RemoveLanguage']}: #{pageManager.company.languageManager.selectedLanguage.language}"
                                                     oncomplete="javascript:window.location.reload()"
                                                     rendered="#{pageManager.company.languageManager.selectedLanguage!=null}">
                                        <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmRemoveLanguage']}" icon="ui-icon-alert"/>
                                    </p:commandButton>

                                    <p:confirmDialog global="false" style="font-size: small;border: 0">
                                        <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                        <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                    </p:confirmDialog>
                                </f:facet>
                            </p:toolbar>

                            <p:spacer height="10" /> 

                            <h:panelGrid>
                                <!-- 
                                    DATA TABLE: LANGUAGE 
                                -->
                                <p:dataTable id="tblLanguage"
                                             var="language" 
                                             widgetVar="lang"
                                             value="#{pageManager.company.languageManager.languages}"
                                             selectionMode="single" 
                                             rows="10"
                                             paginator="true"
                                             rowKey="#{language.languageID}"
                                             selection="#{pageManager.company.languageManager.selectedLanguage}"
                                             editable="true">
                                    <p:ajax event="rowSelect" listener="#{pageManager.company.languageManager.onRowSelect}" update=":frmCentrePage:languageActionPanel" />

                                    <!-- List Item -->
                                    <p:column headerText="#{msg['Language']}" sortBy="#{language.language}" >
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <h:outputText value="#{language.language}" />
                                            </f:facet>
                                            <f:facet name="input">
                                                <p:inputText id="languageInput" value="#{language.language}" style="width:100%"/>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>
                                    <p:column width="35">
                                        <p:rowEditor />
                                    </p:column>
                                </p:dataTable>
                            </h:panelGrid>
                        </p:fieldset>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
    </h:form>
    <p:dialog header="#{msg['CreateNewTitle']}" widgetVar="newTitleDlg" resizable="false" id="newTitleDlg" closeOnEscape="true" closable="true" showEffect="clip" hideEffect="explode">
        <h:form id="newTitleForm">
            <h:panelGrid columns="2" cellpadding="5" >
                <h:outputLabel for="newTitle" value="#{msg['newtitle']}:" />
                <p:inputText id="newTitle" value="#{pageManager.company.titleManager.newStringTitle}" label="newTitle" />
                <p:commandButton value="#{msg['CreateNewTitle']}" 
                                 id="CreateNewTitleDlgBtn"
                                 actionListener="#{pageManager.company.titleManager.createNewTitle}" 
                                 onclick="PF('newTitleDlg').hide();"
                                 update=":frmCentrePage"/>
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog header="#{msg['CreateNewJobPosition']}" widgetVar="newJobTitleDlg" resizable="false" id="newJobTitleDlg" closeOnEscape="true" closable="true" showEffect="clip" hideEffect="explode">
        <h:form id="newJobForm">
            <h:panelGrid columns="2" cellpadding="5" >
                <h:outputLabel for="newJobTitle" value="#{msg['newjobtitle']}:" />
                <p:inputText id="newJobTitle" value="#{pageManager.company.jobPositionManager.newStringJobPosition}" label="newJobTitle" />
                <p:commandButton value="#{msg['CreateNewJobPosition']}" 
                                 id="CreateNewJobPositionDlgBtn"
                                 actionListener="#{pageManager.company.jobPositionManager.createNewJobPosition}" 
                                 onclick="PF('newJobTitleDlg').hide();"
                                 update=":frmCentrePage"/>
            </h:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog header="#{msg['CreateNewLanguage']}" widgetVar="newLangDlg" resizable="false" id="newLangDlg" closeOnEscape="true" closable="true" showEffect="clip" hideEffect="explode">
        <h:form id="newLangForm">
            <h:panelGrid columns="2" cellpadding="5" >
                <h:outputLabel for="newLang" value="#{msg['newlanguage']}:" />
                <p:inputText id="newLang" value="#{pageManager.company.languageManager.newStringLanguage}" label="newLang" />
                <p:commandButton value="#{msg['CreateNewLanguage']}" 
                                 id="CreateNewLanguageDlgBtn"
                                 actionListener="#{pageManager.company.languageManager.createNewLanguage}" 
                                 onclick="PF('newLangDlg').hide();"
                                 update=":frmCentrePage"/>
            </h:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>