<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" > 
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset legend="#{msg['BankAccount']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox "  >
                    <!-- ++++++++++++ -->
                    <!--   Bank Account    -->
                    <!-- ++++++++++++ -->    
                    <p:row  >
                        <!-- Type -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['AccountType']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.bankAccount.accountType }">
                                <f:selectItems value="#{pageManager.listManager.listItems_BankAccountType}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>
                        </p:column>
                        <!-- Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['AccountName']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.bankAccount.accountName}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Account Number -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['AccountNumber']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.bankAccount.accountNumber}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                        <!-- Account Description -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['AccountDescription']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.bankAccount.accountDescription}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Bank -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Bank']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.bankAccount.accountBank}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                        <!-- Bank Code -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['BankCode']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.bankAccount.accountBankCode}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                    </p:row>

                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Branch -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Branch']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.bankAccount.accountBranch}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                        <!-- Branch Code -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['BranchCode']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText   value="#{pageManager.company.bankAccount.accountBranchCode}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                    </p:row>


                </p:panelGrid>
            </p:fieldset> 
        </p:panel>
    </h:form>

</ui:composition>