<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset id="costCentreHierarchy" legend="#{msg['CostCentreOverview']}" styleClass="sectionHeader" >
                <!-- ++++++++++++ -->
                <!--   Tree Structure    -->
                <!-- ++++++++++++ -->  
                <!-- Hint -->
                <h:graphicImage id="toolTip" url="./images/info.png" 
                                height="24" 
                                style="float: right;">
                <p:spacer height="30"/>
                </h:graphicImage>

                <p:tooltip id="ttComponent" 
                           for="toolTip" 
                           value="#{msg['hint_ModifyDeleteCostCentres']}"
                           showEffect="clip" 
                           hideEffect="explode" />
                <p:toolbar>
                    <f:facet name="left" >
                        <p:commandButton actionListener="#{pageManager.company.costCentreManager.createNewCostCentre}" 
                                         update="@form" ajax="true" 
                                         icon="ui-icon-circle-plus" 
                                         title="#{msg['CreateNewCostCentre']}"
                                         value="#{msg['CreateNewCostCentre']}"
                                         >
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
                <p:row >
                    <p:column styleClass="ui-widget-header" style="text-align: center" >

                        <p:tree value="#{pageManager.company.costCentreManager.costCentreRootNode}" var="node" dynamic="false" id="treeCostCentre"
                                cache="false" orientation="horizontal"
                                selectionMode="single" animate="true" 
                                selection="#{pageManager.company.costCentreManager.selectedCostCentreNode}"
                                droppable="false"
                                >

                            <p:treeNode  >
                                <h:outputText value="#{node}" id="treeNodeCostCentre" 
                                              styleClass="uiCostCentreNode"/>
                            </p:treeNode>
                            <p:ajax event="select" listener="#{pageManager.company.costCentreManager.onNodeSelect}"/>
                        </p:tree>


                    </p:column>
                </p:row>

            </p:fieldset> 

            <!-- +++++++++++++++++++++++++ -->
            <!--   GRID VIEW (Edit) -->
            <!-- +++++++++++++++++++++++++ -->  
            <p:fieldset legend="#{msg['ModifyDeleteCostCentres']}" styleClass="sectionHeader">
                <p:toolbar>
                    <f:facet name="right" >
                        <!-- 
                      CREATE / DELETE 
                        -->
                        <p:commandButton actionListener="#{pageManager.company.costCentreManager.deleteSelectedCostCentre}" 
                                         rendered="#{pageManager.company.costCentreManager.selectedCostCentre != null}"
                                         update=":frmCentrePage:outerPanel" ajax="true" 
                                         icon="ui-icon-circle-minus" 
                                         value="#{msg['RemoveCostCentre']}: #{pageManager.company.costCentreManager.selectedCostCentre.name}">
                            <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmDeleteCostCentre']}" icon="ui-icon-alert"/>
                        </p:commandButton>

                        <p:confirmDialog global="false" style="font-size: small;border: 0">
                            <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                            <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                        </p:confirmDialog>
                    </f:facet>
                </p:toolbar>

                <!--          -->
                <!-- HINT BOX -->
                <!--          -->
                <p:accordionPanel styleClass="hintBlock"  activeIndex="1">
                    <p:tab title="#{msg['hint']}" closable="true">
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:outputText
                                value="#{msg['hint_AddNewCostCentre']}" />
                        </h:panelGrid>
                    </p:tab>
                </p:accordionPanel>
                <p:panelGrid styleClass="nameValuePairBox " id="newCC" >
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:focus context="newCC" for="edtCCName"/>
                    <p:row rendered="#{pageManager.company.costCentreManager.selectedCostCentre != null}" >
                        <!-- Cost Centre Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Name']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.costCentreManager.selectedCostCentre.name}"  
                                          style="width:140px"
                                          styleClass="inlineCompulsoryInputStyle" 
                                          required="true"
                                          id="edtCCName"
                                          requiredMessage="'#{msg['Name']}' #{msg['IsACompulsoryField']}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText>
                        </p:column>
                        <!-- Number -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Number']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    
                                value="#{pageManager.company.costCentreManager.selectedCostCentre.number}" 
                                style="width:50px" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText>
                        </p:column>
                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row rendered="#{pageManager.company.costCentreManager.selectedCostCentre != null}">
                        <!-- Description -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Description']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    
                                value="#{pageManager.company.costCentreManager.selectedCostCentre.description}" 
                                style="width:200px">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText>
                        </p:column>
                        <!-- Parent -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Parent']}:" styleClass="inlineHeadingStyle" title="Test"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.costCentreManager.selectedCostCentre.parentCostCentreName}" style="width:200px">
                                <f:selectItems value="#{pageManager.company.costCentreManager.validCostCentreParents}" var="man" itemLabel="#{man}" itemValue="#{man}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>    
                        </p:column>
                    </p:row>

                </p:panelGrid>
            </p:fieldset> 
        </p:panel>
    </h:form>
</ui:composition>