<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset id="payEntityHierarchy" legend="#{msg['PayEntityOverview']}" styleClass="sectionHeader" rendered="#{!pageManager.changesOnPage}" >
                <!-- Hint -->
                <h:graphicImage id="toolTip" url="./images/info.png" 
                                height="24" 
                                style="float: right;">
                    <p:spacer height="30"/>
                </h:graphicImage>

                <p:tooltip id="ttComponent" 
                           for="toolTip" 
                           value="#{msg['hint_NavigatePayEntities']}"
                           showEffect="clip" 
                           hideEffect="explode" />
                <p:toolbar>
                    <f:facet name="left" >
                        <p:commandButton actionListener="#{pageManager.company.payEntityManager.createNewPayEntity}" 
                                         update="@form" ajax="true" 
                                         icon="ui-icon-circle-plus" 
                                         title="#{msg['CreateNewPayEntity']}"
                                         value="#{msg['CreateNewPayEntity']}">
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>
                <p:spacer height="10" />
                <p:row>
                    <p:column>
                        <p:dataTable var="payEntity" 
                                     paginator="true"
                                     rows="7"
                                     widgetVar="payEntityTable"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} "
                                     value="#{pageManager.company.payEntityManager.payEntities}" 
                                     filteredValue="#{pageManager.company.payEntityManager.filteredPayEntities}" 
                                     selectionMode="single" 
                                     sortBy="#{payEntity.name}"  
                                     selection="#{pageManager.company.payEntityManager.selectedPayEntity}"
                                     rowKey="#{payEntity.entityID}+#{payEntity.entityType}">
                            <p:ajax event="rowSelect" listener="#{pageManager.company.payEntityManager.onRowSelect}"/>
                            <f:facet name="header">
                                <p:outputPanel>
                                    <h:outputText value="#{msg['PayEntitySearchAllFields']}" /><p:spacer width="10" />
                                    <p:inputText id="globalFilter" onkeyup="PF('payEntityTable').filter()" style="width:150px" placeholder="#{msg['PayEntityEnterSearchTerm']}"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column headerText="#{msg['PayEntityName']}" sortBy="#{payEntity.name}" 
                                      filterBy="#{payEntity.name}" filterStyle="display:none">
                                <h:outputText value="#{payEntity.name}" />
                            </p:column>

                            <p:column headerText="#{msg['PayEntityCaption']}" sortBy="#{payEntity.caption}"
                                      filterBy="#{payEntity.caption}" filterStyle="display:none">
                                <h:outputText  value="#{payEntity.caption}" />
                            </p:column>

                            <p:column headerText="#{msg['PayEntityFormula']}" sortBy="#{payEntity.calculationFormula}"
                                      filterBy="#{payEntity.calculationFormula}" filterStyle="display:none">
                                <h:outputText value="#{payEntity.calculationFormula}" />
                            </p:column>

                            <p:column headerText="#{msg['PayEntityType']}" sortBy="#{payEntity.entityTypeString}"
                                      filterBy="#{payEntity.entityTypeString}" filterStyle="display:none">
                                <h:outputText value="#{payEntity.entityTypeString}"  />
                            </p:column> 
                            <p:column headerText="Payroll Type" sortBy="#{payEntity.payrollType}"
                                      filterBy="#{payEntity.payrollType}" filterStyle="display:none">
                                <h:outputText value="#{payEntity.payrollType}"  />
                            </p:column>

                        </p:dataTable>
                    </p:column>
                </p:row>

            </p:fieldset> 

            <!-- +++++++++++++++++++++++++ -->
            <!--   GRID VIEW (Edit) -->
            <!-- +++++++++++++++++++++++++ -->  
            <p:fieldset rendered="#{pageManager.company.payEntityManager.selectedPayEntity != null}"
                        legend="#{msg['ModifyDeletePayEntities']}" 
                        styleClass="sectionHeader">

                <!-- Hint -->
                <h:graphicImage rendered="#{pageManager.company.payEntityManager.selectedPayEntity != null}"
                                id="toolTip2" url="./images/info.png" 
                                height="15" 
                                style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                <p:tooltip id="ttComponen2t" 
                           for="toolTip2" 
                           value="#{msg['hint_ModifyDeletePayEntities']}"
                           showEffect="clip" 
                           hideEffect="explode" />
                <p:spacer width="10" />

                <!-- 
                      CREATE / DELETE 
                -->
                <p:toolbar>
                    <f:facet name="right" >

                        <p:commandButton actionListener="#{pageManager.company.payEntityManager.deleteSelectedPayEntity}" 
                                         rendered="#{pageManager.company.payEntityManager.selectedPayEntity.canDelete}"
                                         update=":frmCentrePage:outerPanel" ajax="true" 
                                         icon="ui-icon-circle-minus" 
                                         value="#{msg['RemovePayEntity']}: #{pageManager.company.payEntityManager.selectedPayEntity.name}">
                            <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmDeletePayEntity']}" icon="ui-icon-alert"/>
                        </p:commandButton>

                        <p:confirmDialog global="false" style="font-size: small;border: 0">
                            <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                            <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                        </p:confirmDialog>
                    </f:facet>
                </p:toolbar>

                <h:outputText rendered="#{!pageManager.company.payEntityManager.selectedPayEntity.canDelete}" 
                              value="#{msg['PayEntityAlreadyInUse']}" styleClass="inlineHintStyle" /><p:spacer width="10" />

                <p:panelGrid styleClass="nameValuePairBox " id="newPR" >

                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row rendered="#{pageManager.company.payEntityManager.selectedPayEntity != null}" >
                        <!-- Entity Name -->
                        <p:column styleClass="inlineHeadingStyle" id="etName">
                            <h:outputText value="#{msg['PayEntityName']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" id="etNameValue">
                            <p:inputText  value="#{pageManager.company.payEntityManager.selectedPayEntity.name}"  
                                          style="width:200px" 
                                          required="true"
                                          onchange=""
                                          requiredMessage="'#{msg['PayEntityName']}' #{msg['IsACompulsoryField']}"
                                          id="payEntityName">
                                <p:ajax event="change"  listener="#{pageManager.company.payEntityManager.nameChanged}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />

                                <f:validateLength minimum="2" maximum="45" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                            <p:message for="payEntityName" />
                        </p:column>
                        <!-- Entity Caption -->
                        <p:column styleClass="inlineHeadingStyle" id="etCaption" >
                            <h:outputText value="#{msg['PayEntityCaption']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" id="etCaptionValue">
                            <p:inputText    
                                value="#{pageManager.company.payEntityManager.selectedPayEntity.caption}"  
                                size="80" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText>
                        </p:column>
                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row  rendered="#{pageManager.company.payEntityManager.selectedPayEntity != null}" >
                        <!-- Type -->
                        <p:column styleClass="inlineHeadingStyle" id="etType">
                            <h:outputText value="#{msg['PayEntityType']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" id="etTypeValue" >
                            <h:selectOneMenu value="#{pageManager.company.payEntityManager.selectedPayEntity.entityTypeString}" 
                                             style="width:200px"
                                             rendered="#{pageManager.company.payEntityManager.selectedPayEntity.canDelete}" >
                                <f:selectItems value="#{pageManager.listManager.listItems_PayEntityType_Localised}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu> 
                            <h:outputText value="#{pageManager.company.payEntityManager.selectedPayEntity.entityTypeString}" 
                                          styleClass="inlineCellStyle"
                                          rendered="#{!pageManager.company.payEntityManager.selectedPayEntity.canDelete}"/>
                        </p:column>
                        <!-- Payroll Type -->
                        <p:column styleClass="inlineHeadingStyle" id="etPRType">
                            <h:outputText value="#{msg['PayrollType']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" id="etPRTypeValue">
                            <h:selectOneMenu value="#{pageManager.company.payEntityManager.selectedPayEntity.payrollType}" 
                                             style="width:200px"
                                             rendered="#{!pageManager.company.payEntityManager.selectedPayEntity.isSystemVar}" >
                                <f:selectItems value="#{pageManager.listManager.listItems_PayrollTypeForVariable}"  />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu> 
                            <h:outputText value="#{pageManager.company.payEntityManager.selectedPayEntity.payrollType}" 
                                          styleClass="inlineCellStyle"
                                          rendered="#{pageManager.company.payEntityManager.selectedPayEntity.isSystemVar}"/>
                            <p:spacer width="5"/>
                            <!-- Hint -->
                            <h:graphicImage id="toolTip3" url="./images/info.png" 
                                            height="15" 
                                            style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                            <p:tooltip id="ttComponen3t" 
                                       for="toolTip3" 
                                       value="#{msg['hint_PayEntityPayrollType']}"
                                       showEffect="clip" 
                                       hideEffect="explode" />
                        </p:column>

                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row  rendered="#{pageManager.company.payEntityManager.selectedPayEntity != null}" >
                        <!-- Tax Country -->
                        <p:column id="etTaxCountry" styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowTaxCode}">
                            <h:outputText value="#{msg['PayEntityTaxCountry']}:" 
                                          styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column id="etTaxCountryValue" styleClass="inlineValueStyle"
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowTaxCode}">
                            <h:selectOneMenu value="#{pageManager.company.payEntityManager.selectedPayEntity.taxCountry}" 
                                             style="width:200px"
                                             rendered="#{pageManager.company.payEntityManager.selectedPayEntity.canDelete}">
                                <f:selectItems value="#{pageManager.listManager.listItems_TaxCountry}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu> 
                            <h:outputText value="#{pageManager.company.payEntityManager.selectedPayEntity.taxCountry}" 
                                          styleClass="inlineCellStyle" 
                                          rendered="#{!pageManager.company.payEntityManager.selectedPayEntity.canDelete}"/>
                        </p:column>

                        <!-- Tax Code and Description -->

                        <p:column id="etTaxCode" styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowTaxCode}">
                            <h:outputText value="#{msg['PayEntityTaxCode']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column id="etTaxCodeValue" styleClass="inlineValueStyle" 
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowTaxCode}">
                            <h:selectOneMenu value="#{pageManager.company.payEntityManager.selectedPayEntity.taxCodeAndDescription}" 
                                             style="width:200px"
                                             rendered="#{pageManager.company.payEntityManager.selectedPayEntity.canDelete}">
                                <f:selectItems value="#{pageManager.company.payEntityManager.countryAndTypeSpecificTaxCodes}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu> 
                            <h:outputText value="#{pageManager.company.payEntityManager.selectedPayEntity.taxCodeAndDescription}" 
                                          styleClass="inlineCellStyle" 
                                          rendered="#{!pageManager.company.payEntityManager.selectedPayEntity.canDelete}"/>
                        </p:column>
                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row  rendered="#{pageManager.company.payEntityManager.selectedPayEntity != null}" >
                        <!-- ShowOnPayslip -->
                        <p:column id="etShowOnPayslip" styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowYtdOnPayslip}"> 
                            <h:outputText value="#{msg['PayEntityShowYtdOnPayslip']}"  styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column id="etShowOnPayslipValue" styleClass="inlineValueStyle" 
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowYtdOnPayslip}">
                            <p:selectBooleanCheckbox  styleClass="booleanCheckBoxStyle" 
                                                      value="#{pageManager.company.payEntityManager.selectedPayEntity.showYtdOnPayslip}">
                                <p:ajax immediate="true" />
                            </p:selectBooleanCheckbox> 
                        </p:column>   
                        <!-- Interest -->
                        <p:column id="etInterest" styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowInterest}">
                            <h:outputText value="#{msg['PayEntityInterest']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column id="etInterestValue" styleClass="inlineValueStyle" 
                                  rendered="#{pageManager.company.payEntityManager.selectedPayEntity.renderShowInterest}">
                            <p:inputText   value="#{pageManager.company.payEntityManager.selectedPayEntity.interest}"  
                                           style="width:40px">
                                <f:validateRegex pattern="^(\d|,)*\.?\d*$" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText><h:outputText value="%" styleClass="inlineHeadingStyle"/>
                        </p:column>
                    </p:row>
                    <p:row rendered="#{pageManager.company.payEntityManager.selectedPayEntity != null}" >

                        <!-- Value Unit -->
                        <p:column id="etValueUnit" styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PayEntityUnit']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column id="etValueUnitValue" styleClass="inlineValueStyle" >
                            <p:inputMask value="#{pageManager.company.payEntityManager.selectedPayEntity.unit}" mask="a?aaaa" maxlength="5">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputMask>
                        </p:column>
                    </p:row>

                </p:panelGrid>
            </p:fieldset> 

        </p:panel>
    </h:form>
</ui:composition>