<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset id="costCentreHierarchy" legend="#{msg['PayrollOverview']}" styleClass="sectionHeader" rendered="#{!pageManager.changesOnPage}">

                <!-- Hint -->
                <h:graphicImage id="toolTip" url="./images/info.png" 
                                height="24" 
                                style="float: right;">
                    <p:spacer height="30"/>
                </h:graphicImage>

                <p:tooltip id="ttComponent" 
                           for="toolTip" 
                           value="#{msg['hint_NavigatePayrollTree']}"
                           showEffect="clip" 
                           hideEffect="explode" />
                <p:toolbar>
                    <f:facet name="left" >
                        <p:commandButton actionListener="#{pageManager.company.payrollManager.createNewPayroll}" 
                                         title="#{msg['CreateNewPayroll']}"
                                         value="#{msg['CreateNewPayroll']}"
                                         icon="ui-icon-circle-plus"
                                         update="@form" ajax="true"
                                         oncomplete="javascript:window.location.reload()">
                        </p:commandButton>
                    </f:facet>
                </p:toolbar>

                <!-- +++++++++++++++++++++++++ -->
                <!--     Payroll Tree View     -->
                <!-- +++++++++++++++++++++++++ -->
                <p:row >
                    <p:column styleClass="ui-widget-header" style="text-align: center" >

                        <p:tree value="#{pageManager.company.payrollManager.payrollRootNode}" var="node" dynamic="false" id="treePayroll"
                                cache="false" orientation="horizontal"
                                selectionMode="single" animate="true" 
                                selection="#{pageManager.company.payrollManager.selectedPayrollNode}"
                                droppable="false">

                            <p:treeNode  >
                                <h:outputText  value="#{node}" id="treeNodePayrolls"  />
                            </p:treeNode>
                            <p:treeNode type="openPeriod" icon="pointer" >
                                <h:outputText value="#{node}" id="tnOpen"  />
                                <p:tooltip id="ttComponentOpen" 
                                           for="tnOpen" 
                                           value="#{msg['payrollPeriod_Open']}"
                                           showEffect="clip" 
                                           hideEffect="explode" />
                            </p:treeNode>
                            <p:treeNode type="closedPeriod" icon="closed-lock">
                                <h:outputText value="#{node}" id="tnClosed"  />
                                <p:tooltip id="ttComponentClosed" 
                                           for="tnClosed" 
                                           value="#{msg['payrollPeriod_Closed']}"
                                           showEffect="clip" 
                                           hideEffect="explode" />
                            </p:treeNode>
                            <p:treeNode type="unusedPeriod">
                                <h:outputText value="#{node}" id="tnUnused"  />
                                <p:tooltip id="ttComponentUnused" 
                                           for="tnUnused" 
                                           value="#{msg['payrollPeriod_Unused']}"
                                           showEffect="clip" 
                                           hideEffect="explode" />
                            </p:treeNode>

                            <p:ajax event="select" listener="#{pageManager.company.payrollManager.onNodeSelect}"/>
                        </p:tree>


                    </p:column>
                </p:row>

            </p:fieldset> 

            <!-- +++++++++++++++++++++++++ -->
            <!--   GRID VIEW (Edit) -->
            <!-- +++++++++++++++++++++++++ -->  
            <p:fieldset rendered="#{pageManager.company.payrollManager.selectedPayroll != null}" 
                        legend="#{msg['ModifyDeletePayrolls']}" styleClass="sectionHeader">


                <!-- Hint -->
                <h:graphicImage id="toolTip2" url="./images/info.png" 
                                height="15" 
                                style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                <p:tooltip id="ttComponent2" 
                           for="toolTip2" 
                           value="#{msg['hint_ModifyDeletePayrolls']}"
                           showEffect="clip" 
                           hideEffect="explode" />
                <p:toolbar>
                    <f:facet name="right" >
                        <p:commandButton actionListener="#{pageManager.company.payrollManager.deleteSelectedPayroll}" 
                                         rendered="#{pageManager.company.payrollManager.selectedPayroll.canDelete}"
                                         update=":frmCentrePage:outerPanel" ajax="true" 
                                         icon="ui-icon-circle-minus" 
                                         value="#{msg['RemovePayroll']}: #{pageManager.company.payrollManager.selectedPayroll.payrollName}"
                                         oncomplete="javascript:window.location.reload()">
                            <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmDeletePayroll']}" icon="ui-icon-alert"/>
                        </p:commandButton>

                        <p:confirmDialog global="false" style="font-size: small;border: 0">
                            <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                            <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                        </p:confirmDialog>

                    </f:facet>
                </p:toolbar>

                <p:panelGrid styleClass="nameValuePairBox " id="newCC" >
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row  rendered="#{pageManager.company.payrollManager.selectedPayroll != null}" >
                        <!-- Payroll Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Name']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.payrollManager.selectedPayroll.payrollName}"  
                                          style="width:140px"
                                          required="true"
                                          requiredMessage="'#{msg['Name']}' #{msg['IsACompulsoryField']}" >
                                <p:ajax event="change"  listener="#{pageManager.company.payrollManager.nameChanged()}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText>
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Payroll Type -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PayrollType']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu rendered="#{pageManager.company.payrollManager.selectedPayroll.canDelete}"
                                             value="#{pageManager.company.payrollManager.selectedPayroll.payrollType}"  
                                             style="width:120px">
                                <f:selectItems value="#{pageManager.listManager.listItems_PayrollType}"  />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu> 
                            <h:outputText rendered="#{!pageManager.company.payrollManager.selectedPayroll.canDelete}" 
                                          value="#{pageManager.company.payrollManager.selectedPayroll.payrollType}" 
                                          styleClass="inlineCellStyle"><p:spacer width="10" />
                            </h:outputText>
                        </p:column>
                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row rendered="#{pageManager.company.payrollManager.selectedPayroll != null}"  >
                        <!-- Tax Year Start -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['TaxYearStart']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >

                            <p:calendar rendered="#{pageManager.company.payrollManager.selectedPayroll.canDelete}"
                                        value="#{pageManager.company.payrollManager.selectedPayroll.taxYearStart}" 
                                        pattern="yyyy/MM/dd" 
                                        required="true"
                                        requiredMessage="'#{msg['TaxYearStart']}' #{msg['IsACompulsoryField']}"
                                        mask="true"
                                        size="9"
                                        navigator="true"
                                        immediate="true"
                                        mode="popup"
                                        locale="#{pageManager.locale}"
                                        maxdate="2020/01/01">
                                <p:ajax immediate="true" />
                                <p:ajax global = "false" 
                                        event="dateSelect"
                                        listener="#{pageManager.company.payrollManager.selectedPayroll.updateTaxYearEnd}" 
                                        update="frmCentrePage:outerPanel" />
                            </p:calendar> 

                            <h:outputText rendered="#{!pageManager.company.payrollManager.selectedPayroll.canDelete}" 
                                          value="#{pageManager.company.payrollManager.selectedPayroll.taxYearStartString}" 
                                          styleClass="inlineCellStyle"><p:spacer width="10" />
                            </h:outputText>

                            <h:outputText rendered="#{pageManager.company.payrollManager.selectedPayroll.canDelete}" styleClass="compulsoryIndicator" value="*" />


                        </p:column>
                        <!-- Tax Year End -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['TaxYearEnd']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:calendar rendered="#{pageManager.company.payrollManager.selectedPayroll.canDelete}"
                                        value="#{pageManager.company.payrollManager.selectedPayroll.taxYearEnd}" 
                                        pattern="yyyy/MM/dd" 
                                        required="true"
                                        requiredMessage="'#{msg['TaxYearEnd']}' #{msg['IsACompulsoryField']}"
                                        mask="true"
                                        size="9"
                                        immediate="true"
                                        navigator="true"
                                        mode="popup"
                                        locale="#{pageManager.locale}"
                                        maxdate="2020/01/01">
                                <p:ajax immediate="false" />
                            </p:calendar> 

                            <h:outputText rendered="#{!pageManager.company.payrollManager.selectedPayroll.canDelete}" 
                                          value="#{pageManager.company.payrollManager.selectedPayroll.taxYearEndString}" 
                                          styleClass="inlineCellStyle"><p:spacer width="10" />
                            </h:outputText>

                            <h:outputText rendered="#{pageManager.company.payrollManager.selectedPayroll.canDelete}" styleClass="compulsoryIndicator" value="*" />

                        </p:column>
                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row rendered="#{pageManager.company.payrollManager.selectedPayroll != null}"  >
                        <!-- Open Period -->
                        <p:column styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payrollManager.selectedPayroll.payrollID==-1}" >
                            <h:outputText value="#{msg['OpenPeriod']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" 
                                  rendered="#{pageManager.company.payrollManager.selectedPayroll.payrollID==-1}" >
                            <h:selectOneMenu style="width:120px"
                                             required="true"
                                             value="#{pageManager.company.payrollManager.selectedPayroll.requestedOpenPeriod}"
                                             requiredMessage="#{msg['newPayrollRequired']}">

                                <f:selectItems value="#{pageManager.company.payrollManager.selectedPayroll.periodStartDates}"  />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu> 
                            <p:spacer width="5" />
                            <!-- Hint -->
                            <h:graphicImage id="toolTipOpenPeriod" url="./images/info.png" 
                                            height="15" 
                                            style="position: relative !important;vertical-align: middle !important;bottom: 0px !important;"/>

                            <p:tooltip id="ttTitle" 
                                       for="toolTipOpenPeriod" 
                                       value="#{msg['ttNewPayroll']}"
                                       showEffect="clip" 
                                       hideEffect="explode" /> 
                        </p:column>
                        <!-- Tax Country -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['TaxCountry']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu rendered="#{pageManager.company.payrollManager.selectedPayroll.canDelete}"
                                             value="#{pageManager.company.payrollManager.selectedPayroll.taxCountry}" 
                                             style="width:200px">
                                <f:selectItems value="#{pageManager.listManager.listItems_TaxCountry}" />
                                <p:ajax immediate="true" />
                            </h:selectOneMenu> 
                            <h:outputText rendered="#{!pageManager.company.payrollManager.selectedPayroll.canDelete}" 
                                          value="#{pageManager.company.payrollManager.selectedPayroll.taxCountry}" 
                                          styleClass="inlineCellStyle"><p:spacer width="10" />
                            </h:outputText>
                        </p:column>
                        <!-- Tax Number -->
                        <p:column styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payrollManager.selectedPayroll.southAfrica}" >
                            <h:outputText value="#{msg['TaxNumber']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" rendered="#{pageManager.company.payrollManager.selectedPayroll.southAfrica}">
                            <p:inputText  value="#{pageManager.company.payrollManager.selectedPayroll.taxNumber}"  
                                          style="width:140px"
                                          maxlength="21">
                                <p:ajax event="change"  listener="#{pageManager.company.payrollManager.taxOrUifChanged()}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText>
                        </p:column>
                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row rendered="#{pageManager.company.payrollManager.selectedPayroll != null}"  >
                        <!-- Trade Sub Class -->
                        <p:column styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payrollManager.selectedPayroll.southAfrica}" >
                            <h:outputText value="#{msg['tradeClassification']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" rendered="#{pageManager.company.payrollManager.selectedPayroll.southAfrica}">
                            <h:selectOneMenu value="#{pageManager.company.payrollManager.selectedPayroll.tradeSubClass}" style="width: 400px;">
                                <f:selectItems value="#{pageManager.listManager.listItems_TradeClassificationSubCodesHierarchy}" />
                                <p:ajax event="change"  listener="#{pageManager.company.payrollManager.taxOrUifChanged()}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>
                        </p:column>
                    </p:row>
                    <!--     -->
                    <!-- ROW -->
                    <!--     -->
                    <p:row rendered="#{pageManager.company.payrollManager.selectedPayroll != null}">
                        <!-- SIC Code -->
                        <p:column styleClass="inlineHeadingStyle" 
                                  rendered="#{pageManager.company.payrollManager.selectedPayroll.southAfrica}" >
                            <h:outputText value="#{msg['sicCode']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" rendered="#{pageManager.company.payrollManager.selectedPayroll.southAfrica}">
                            <h:selectOneMenu value="#{pageManager.company.payrollManager.selectedPayroll.sicCode}" style="width: 400px;">
                                <f:selectItems value="#{pageManager.listManager.listItems_SICCodes}" />
                                <p:ajax event="change"  listener="#{pageManager.company.payrollManager.taxOrUifChanged()}" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>
                        </p:column>
                    </p:row>
                    <!-- 
                      CREATE / DELETE 
                    -->
                </p:panelGrid>
            </p:fieldset> 

        </p:panel>
    </h:form>


</ui:composition>