<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
        <p:panel id="outerPanel" >
            <!-- ++++++++++++++++++ -->
            <!--   SAVE / CANCEL    -->
            <!-- ++++++++++++++++++ -->   
            <ui:include src="_centre_apply_undo.xhtml" /> 
            <p:spacer height="5" />

            <p:fieldset legend="#{msg['GeneralInformation']}" styleClass="sectionHeader">
                <!-- ++++++++++++ -->
                <!--   GENERAL    -->
                <!-- ++++++++++++ -->  
                <p:panelGrid styleClass="nameValuePairBox"  >

                    <p:row  >
                        <!-- Name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Name']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.name}"
                                          required="true"
                                          requiredMessage="'#{msg['Name']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Phone -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Phone']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputMask id="telHome" 
                                         value="#{pageManager.company.phone}" 
                                         mask="(999) 999-9999">
                                <p:ajax immediate="true" />
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>

                        <!-- Email -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['EMail']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.email}" 
                                          required="true"
                                          requiredMessage="'#{msg['EMail']}' #{msg['IsACompulsoryField']}"
                                          validatorMessage="#{msg['invalidEmailFormat']}">
                                <f:validateRegex
                                    pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Fax -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Fax']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputMask id="telFax" 
                                         value="#{pageManager.company.fax}" 
                                         mask="(999) 999-9999">
                                <p:ajax immediate="true" />
                            </p:inputMask>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Registration -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['RegistrationNumber']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.registrationNo}" 
                                          required="true"
                                          requiredMessage="'#{msg['RegistrationNumber']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                        <!-- Tax No -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['TaxNumber']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:spacer width="10" />
                            <p:inputText  value="#{pageManager.company.taxNo}" 
                                          required="true"
                                          requiredMessage="'#{msg['TaxNumber']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>

                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Pension No -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PensionNumber']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.pensionNo}" >
                                <p:ajax immediate="true" />
                            </p:inputText>
                        </p:column>
                        <!-- Dipl Indemnity -->
                        <!-- Postal same as physical -->
                        <p:column  styleClass="inlineHeadingStyle" ><p:spacer width="10" />
                            <p:selectBooleanCheckbox  styleClass="booleanCheckBoxStyle" 
                                                      value="#{pageManager.company.diplomaticIndemnity}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:selectBooleanCheckbox>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:outputText value="#{msg['DiplomaticIndemnity']}" />
                        </p:column>
                    </p:row>  


                </p:panelGrid>
            </p:fieldset> 

            <p:fieldset legend="#{msg['PhysicalAddress']}" styleClass="sectionHeader">
                <!-- +++++++++++++++++++++ -->
                <!--   Physical Address    -->
                <!-- +++++++++++++++++++++ -->    
                <p:panelGrid styleClass="nameValuePairBox"  >

                    <p:row  >
                        <!-- Country -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Country']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.physCountry}" style="width: 170px;">
                                <f:selectItems value="#{pageManager.listManager.listItems_Country}" >
                                </f:selectItems>
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>
                        </p:column>
                        <!-- Province -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Province']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.physProvince}" >
                                <f:selectItems value="#{pageManager.listManager.listItems_Province}" >
                                </f:selectItems>
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Unit No -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['UnitNumber']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.physUnitNo}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText>
                        </p:column>
                        <!-- Complex -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Complex']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.physComplex}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- Street Number -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['StreetNumber']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.physStreetNo}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                        <!-- Street/Farm name -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['StreetName']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.physStreet}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                    </p:row>

                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Suburb/District -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['SuburbDistrict']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.physSuburb}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                        <!-- City/Town -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['CityTown']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.physCity}"
                                          required="true"
                                          requiredMessage="'#{msg['CityTown']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>


                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Postal Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Code']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText  value="#{pageManager.company.physCode}" 
                                          required="true"
                                          validatorMessage="'#{msg['Code']}' - #{msg['warningMustBeNumeric']}"
                                          requiredMessage="'#{msg['Code']}' #{msg['IsACompulsoryField']}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                                <f:validateDoubleRange minimum="1" maximum="9999999"/>
                            </p:inputText> 
                            <h:outputText styleClass="compulsoryIndicator" value="*" />
                        </p:column>
                    </p:row>    
                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Postal same as physical -->
                        <p:column  styleClass="inlineHeadingStyle" ><p:spacer width="10" />
                            <p:selectBooleanCheckbox  styleClass="booleanCheckBoxStyle" 
                                                      value="#{pageManager.company.postalSameAsPhysical}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:selectBooleanCheckbox><p:spacer width="10" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:outputText value="#{msg['PostalSameAsPhysical']}" />
                        </p:column>
                    </p:row>                        
                </p:panelGrid>
            </p:fieldset> 

            <p:fieldset id="fsPostalAddress" legend="#{msg['PostalAddress']}" styleClass="sectionHeader" rendered="#{!pageManager.company.postalSameAsPhysical}">
                <!-- +++++++++++++++++++++ -->
                <!--   Postal Address    -->
                <!-- +++++++++++++++++++++ --> 
                <p:panelGrid styleClass="nameValuePairBox"  >

                    <p:row  >
                        <!-- Country -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Country']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.postalCountry}" style="width: 170px;">
                                <f:selectItems value="#{pageManager.listManager.listItems_Country}" >
                                </f:selectItems>
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>
                        </p:column>
                        <!-- Province -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Province']}:" styleClass="inlineHeadingStyle" />
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <h:selectOneMenu value="#{pageManager.company.postalProvince}">
                                <f:selectItems value="#{pageManager.listManager.listItems_Province}" >
                                </f:selectItems>
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </h:selectOneMenu>
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row>
                        <!-- City/Town -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['CityTown']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.postalCity}" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                        <!-- Suburb -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['BoxBagNumber']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.postalSuburb}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                    </p:row>
                    <!-- ***************************** -->
                    <p:row  >
                        <!-- Suburb -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['Address']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.postalAddress}" style="width: 170px;" >
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                            </p:inputText> 
                        </p:column>
                        <!-- Postal Code -->
                        <p:column  styleClass="inlineHeadingStyle" >
                            <h:outputText value="#{msg['PostalCode']}:" styleClass="inlineHeadingStyle"/>
                        </p:column>
                        <p:column styleClass="inlineValueStyle" >
                            <p:inputText    value="#{pageManager.company.postalCode}"
                                            validatorMessage="'#{msg['Code']}' - #{msg['warningMustBeNumeric']}">
                                <p:ajax immediate="true" update=":frmCentrePage:outerPanel" />
                                <f:validateDoubleRange minimum="1" maximum="9999999"/>
                            </p:inputText> 
                        </p:column>
                    </p:row>    

                </p:panelGrid>
            </p:fieldset>

        </p:panel>
    </h:form>

</ui:composition>