<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="frmCentrePage" >  
    </h:form>
    <p:spacer height="10" />
    <p:panel id="outerPanel" >

        <!-- ++++++++++++++++++ -->
        <!--   SAVE / CANCEL    -->
        <!-- ++++++++++++++++++ -->   
        <ui:include src="_centre_apply_undo.xhtml" /> 
        <p:fieldset legend="#{msg['navConnection']}" styleClass="sectionHeader">

            <p:panelGrid styleClass="nameValuePairBox "  >
                <!-- +++++++++++++++++ -->
                <!--  Server Settings  -->
                <!-- +++++++++++++++++ -->    
                <p:row>
                    <!-- URL -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['ServerURL']}:" styleClass="inlineHeadingStyle" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <h:outputText value="#{pageManager.connectionURL}" styleClass="inlineHeadingStyle" />
                    </p:column>
                    <!-- Account ID -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['AccountID']}:" styleClass="inlineHeadingStyle"/>
                    </p:column>
                    <p:column styleClass="inlineValueStyle" >
                        <h:outputText value="#{pageManager.accountID}" styleClass="inlineHeadingStyle" />
                    </p:column>
                </p:row>

            </p:panelGrid>
        </p:fieldset> 
        <p:spacer height="5" />


        <p:fieldset legend="#{msg['navBuyCredits']}" styleClass="sectionHeader">

            <!-- ++++++++++++++++++   -->
            <!--   PURCHASE CREDITS   -->
            <!-- ++++++++++++++++++   -->   
            <h:panelGrid styleClass="nameValuePairBox " columns="3" border="3" >
                <!-- Credits -->
                <p:row>
                    <!-- URL -->
                    <p:column styleClass="inlineHeadingStyle" >
                        <h:outputText value="#{msg['viewPayrollCreditBalance']}:" styleClass="inlineHeadingStyle" />
                    </p:column>
                    <p:column styleClass="inlineValueStyle"  >
                        <h:outputText value="#{pageManager.payrollCredits}" styleClass="inlineHeadingStyle"  style="color: red;"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column styleClass="inlineValueStyle" style="color: red;" >
                        <h:panelGrid styleClass="nameValuePairBox "  >
                            <!-- Purchase 10 Payroll Credits -->
                            <form action="#{pageManager.pgPurchase_Payroll_10.action}" method="POST" target="_blank"> 
                                <input type="hidden" name="PAYGATE_ID" value="#{pageManager.pgPurchase_Payroll_10.payGateID}" />          
                                <input type="hidden" name="REFERENCE" value="#{pageManager.pgPurchase_Payroll_10.reference}" /> 
                                <input type="hidden" name="EMAIL" value="#{pageManager.pgPurchase_Payroll_10.email}" />          
                                <input type="hidden" name="AMOUNT" value="#{pageManager.pgPurchase_Payroll_10.amountInCents}" /> 
                                <input type="hidden" name="CURRENCY" value="#{pageManager.pgPurchase_Payroll_10.currency}" /> 
                                <input type="hidden" name="RETURN_URL" value="#{pageManager.pgPurchase_Payroll_10.returnURL}" /> 
                                <input type="hidden" name="TRANSACTION_DATE" value="#{pageManager.pgPurchase_Payroll_10.transactionTimeStamp}" />
                                <input type="hidden" name="CHECKSUM" value="#{pageManager.pgPurchase_Payroll_10.md5Checksum}" />     
                                <input type="submit" value="Purchase 10 credits @ #{pageManager.pgPurchase_Payroll_10.amountInZAR} (ZAR)" /> 
                            </form>
                            <p:spacer height="1" />
                            <!-- Purchase 50 Payroll Credits -->
                            <form action="#{pageManager.pgPurchase_Payroll_50.action}" method="POST" target="_blank"> 
                                <input type="hidden" name="PAYGATE_ID" value="#{pageManager.pgPurchase_Payroll_50.payGateID}" />          
                                <input type="hidden" name="REFERENCE" value="#{pageManager.pgPurchase_Payroll_50.reference}" /> 
                                <input type="hidden" name="EMAIL" value="#{pageManager.pgPurchase_Payroll_50.email}" />          
                                <input type="hidden" name="AMOUNT" value="#{pageManager.pgPurchase_Payroll_50.amountInCents}" /> 
                                <input type="hidden" name="CURRENCY" value="#{pageManager.pgPurchase_Payroll_50.currency}" /> 
                                <input type="hidden" name="RETURN_URL" value="#{pageManager.pgPurchase_Payroll_50.returnURL}" /> 
                                <input type="hidden" name="TRANSACTION_DATE" value="#{pageManager.pgPurchase_Payroll_50.transactionTimeStamp}" />
                                <input type="hidden" name="CHECKSUM" value="#{pageManager.pgPurchase_Payroll_50.md5Checksum}" />     

                                <input type="submit" value="Purchase 50 credits @ #{pageManager.pgPurchase_Payroll_50.amountInZAR} (ZAR)" /> 
                            </form>
                            <p:spacer height="2" />
                            <!-- Purchase 100 Payroll Credits -->
                            <form action="#{pageManager.pgPurchase_Payroll_100.action}" method="POST" target="_blank"> 
                                <input type="hidden" name="PAYGATE_ID" value="#{pageManager.pgPurchase_Payroll_100.payGateID}" />          
                                <input type="hidden" name="REFERENCE" value="#{pageManager.pgPurchase_Payroll_100.reference}" /> 
                                <input type="hidden" name="EMAIL" value="#{pageManager.pgPurchase_Payroll_100.email}" />          
                                <input type="hidden" name="AMOUNT" value="#{pageManager.pgPurchase_Payroll_100.amountInCents}" /> 
                                <input type="hidden" name="CURRENCY" value="#{pageManager.pgPurchase_Payroll_100.currency}" /> 
                                <input type="hidden" name="RETURN_URL" value="#{pageManager.pgPurchase_Payroll_100.returnURL}" /> 
                                <input type="hidden" name="TRANSACTION_DATE" value="#{pageManager.pgPurchase_Payroll_100.transactionTimeStamp}" />
                                <input type="hidden" name="CHECKSUM" value="#{pageManager.pgPurchase_Payroll_100.md5Checksum}" />     
                                <input type="submit" value="Purchase 100 credits @ #{pageManager.pgPurchase_Payroll_100.amountInZAR} (ZAR)" /> 
                            </form>
                        </h:panelGrid>
                    </p:column>
                </p:row>
            </h:panelGrid>



            <h:panelGrid styleClass="nameValuePairBox " >

            </h:panelGrid>
        </p:fieldset>
        <h:form id="frmCentrePage1" > 
            <p:spacer height="5" />
            <p:fieldset legend="#{msg['creditHistoryReport']}" styleClass="sectionHeader">
                <p:panelGrid styleClass="nameValuePairBox "  >
                    <p:row>
                        <!-- Credits -->
                        <p:column styleClass="inlineHeadingStyle" >
                            <h:outputText styleClass="headerFont" value="#{msg['viewCreditHistoryReport']}" />
                        </p:column>
                        <!-- Link to icon for PDF Extract -->
                        <p:column>
                            <h:commandLink target="_blank"
                                           actionListener="#{pageManager.printCreditHistory}">
                                <p:tooltip id="ttPDF" 
                                           for="showPDFIcon" value="#{msg['tooltipShowPDF']}"
                                           showEffect="clip" hideEffect="explode" />
                                <p:graphicImage id="showPDFIcon" url="./images/print.png" 
                                                height="30"
                                                style="text-align: center">
                                </p:graphicImage>
                            </h:commandLink>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:fieldset> 
        </h:form>
    </p:panel>

</ui:composition>