<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:remove>
        <!--
        |*********************************************************************|
        |                             ltuNorth                                |
        |*********************************************************************|
        |                   |               ltuMain                           |
        |                   |***********************************************| |
        |                   |                                               | |
        |    ltuWest        |               ltuCentre                       | |
        |                   |                                               | |
        |                   |                                               | |
        |                   |***********************************************| |
        |*********************************************************************|
        -->
    </ui:remove>

    <!-- ToDo: Create CSV extract for EFTs -->
    <!-- ToDo: Handle Year-End roll-over -->

    <f:view contentType="text/html"  locale="#{pageManager.locale}">
        <!-- ***************** -->
        <!--   HEADER SECTION  -->
        <!-- ***************** -->
        <h:head>
            <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="IE=IE10" />
                <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
                <meta http-equiv="Cache-Control" content="no-cache" />
                <meta http-equiv="Pragma" content="no-cache" />
            </f:facet>
            <f:facet name="last">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>#{pageManager.appTitle} (#{pageManager.appVersion})</title>
                <link type="text/css" rel="stylesheet" href="./CSS/CustomStyle.css" />
                <link type="text/css" rel="stylesheet" href="./CSS/icons.css" />
                <link rel="shortcut icon" href="./images/favicon.ico" />
            </f:facet>
        </h:head>
        <!-- ***************** -->
        <!--     BODY SECTION  -->
        <!-- ***************** -->
        <h:body id="body">
            <script type="text/javascript">
                $(function () {
                    /*
                     * this swallows backspace keys on any non-input element.
                     * stops backspace -> back
                     */
                    var rx = /INPUT|SELECT|TEXTAREA/i;

                    $(document).bind("keydown keypress", function (e) {
                        if (e.which == 8) { // 8 == backspace
                            if (!rx.test(e.target.tagName) || e.target.disabled || e.target.readOnly) {
                                e.preventDefault();
                            }
                        }
                    });
                });
            </script>
            <script>
                window.location.hash = "PeopleWeb";
                window.location.hash = "Again-PeopleWeb";//again because google chrome don't insert first hash into history
                window.onhashchange = function () {
                    window.location.hash = "PeopleWeb";
                }
            </script> 
            <h:form>
                <p:idleMonitor timeout="300000">
                    <p:ajax event="idle" listener="#{pageManager.onIdle}"   update="@all" />
                </p:idleMonitor>
            </h:form>
            <p:layout fullPage="true"  >
                <!-- ********************************************** -->
                <!--       NORTH - Logo and Employee Selection      -->
                <!-- ********************************************** -->
                <p:layoutUnit id="ltuNorth" 
                              position="north" size="120"  resizable="false" collapsible="false" styleClass="north" style="font-size: small;border: 0" >

                    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                    <p:dialog widgetVar="statusDialog" modal="false" draggable="false" closable="false" resizable="false" showHeader="false">
                        <p:graphicImage url="./images/ajax-loader.gif" />
                    </p:dialog>
                    <p:panelGrid styleClass="panelGridCenter" >  
                        <!-- Header - Welcome line -->
                        <p:row >
                            <p:column styleClass="ui-widget-header" style="text-align: center" >
                                <p:panelGrid styleClass="panelGridCenter" >  
                                    <p:row >
                                        <p:column width="90%" style="text-align: left;">
                                            <p:messages autoUpdate="true" id="messages" showDetail="false" />
                                        </p:column >

                                        <!-- Logo -->
                                        <p:column width="10%"  styleClass="logoPosition" >
                                            <h:graphicImage height="65" 
                                                            url="./images/CompanyBanner.png" />
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:column>
                        </p:row>

                        <!-- Action line -->
                        <p:row rendered="#{pageManager.renderNorth}"  >
                            <!-- Action buttons -->
                            <p:column colspan="1"  style="margin:0px; border: 0">
                                <h:form onkeypress="if (event.keyCode == 13) {
                                            event.keyCode = 0;
                                        }">

                                    <p:toolbar >
                                        <f:facet name="left" >

                                            <!-- Employee -->
                                            <p:commandButton  id="#{pageManager.navEmployee.buttonId}" 
                                                              value="#{pageManager.navEmployee.caption }" 
                                                              rendered="#{pageManager.loggedIn}"
                                                              actionListener="#{pageManager.setNavigation}"
                                                              ajax="true" update=":navigation :content">
                                            </p:commandButton>
                                            <!-- Pay Cycles -->
                                            <p:commandButton  id="#{pageManager.navPayCycle.buttonId}" 
                                                              rendered="#{pageManager.loggedIn}"
                                                              value="#{pageManager.navPayCycle.caption}" 
                                                              actionListener="#{pageManager.setNavigation}"
                                                              ajax="true" update=":navigation :content">
                                            </p:commandButton>
                                            <!-- Reporting -->
                                            <p:commandButton  id="#{pageManager.navReporting.buttonId}" 
                                                              rendered="#{pageManager.loggedIn}"
                                                              value="#{pageManager.navReporting.caption}" 
                                                              actionListener="#{pageManager.setNavigation}"
                                                              ajax="true" update=":navigation :content">
                                            </p:commandButton>

                                            <!-- Setup -->
                                            <p:commandButton  id="#{pageManager.navSettings.buttonId}" 
                                                              value="#{pageManager.navSettings.caption}" 
                                                              rendered="#{pageManager.loggedIn}"
                                                              actionListener="#{pageManager.setNavigation}"
                                                              ajax="true" update=":navigation :content">
                                            </p:commandButton>




                                        </f:facet>
                                        <f:facet name="left">

                                            <!-- Login -->
                                            <p:commandButton  id="#{pageManager.navLogin.buttonId}" 
                                                              rendered="#{!pageManager.loggedIn}"
                                                              value="#{msg['navLogin']}"
                                                              actionListener="#{pageManager.setNavigation}"
                                                              ajax="true" update="@all">
                                            </p:commandButton>

                                            <!-- Print -->
                                            <p:commandButton value="#{msg['navPrint']}" 
                                                             type="button" 
                                                             icon="ui-icon-print" 
                                                             rendered="#{pageManager.loggedIn}">
                                                <p:printer target=":frmCentrePage" />
                                            </p:commandButton>

                                            <p:confirmDialog global="true" 
                                                             style="font-size: small;border: 0">
                                                <p:commandButton value="#{msg['mbYes']}" type="button" styleClass="ui-confirmdialog-yes"  icon="ui-icon-check"/>
                                                <p:commandButton value="#{msg['mbNo']}" type="button" styleClass="ui-confirmdialog-no"  icon="ui-icon-close"/>
                                            </p:confirmDialog>
                                            <p:spacer width="5" />
                                            <!-- Display Tips -->
                                            <h:graphicImage rendered="#{pageManager.showTips}"
                                                            id="showTips" url="./images/icon-tip.png" 
                                                            height="25">
                                            </h:graphicImage>
                                            <p:spacer width="5" />
                                            <p:overlayPanel id="imgPanel" for="showTips" showEffect="clip" hideEffect="clip" 
                                                            >
                                                <p:dataList value="#{pageManager.tips}" 
                                                            var="tip" type="definition"
                                                            lazy="true"
                                                            styleClass="hintSpacing">
                                                    <p:spacer width="5" />
                                                    <p:graphicImage value="./images/#{tip.type}.png"
                                                                    />
                                                    <p:spacer width="5" />
                                                    #{tip.message}
                                                    <p:spacer width="5" />
                                                </p:dataList>
                                            </p:overlayPanel>


                                        </f:facet>
                                        <f:facet name="right" rendered="#{pageManager.loggedIn}">

                                            <p:spacer width="5" />
                                            <p:commandButton  rendered="#{pageManager.loggedIn}"
                                                              id="#{pageManager.navPreferences.buttonId}" 
                                                              value="#{pageManager.navPreferences.caption}"
                                                              actionListener="#{pageManager.setNavigation}"
                                                              ajax="true" update="@all">
                                            </p:commandButton>
                                            <!-- Log out -->
                                            <p:spacer width="10" />
                                            <p:commandButton  rendered="#{pageManager.loggedIn}"
                                                              id="#{pageManager.navLogout.buttonId}" 
                                                              value="#{msg['navLogout']}"
                                                              actionListener="#{pageManager.setNavigation}"
                                                              ajax="true" update="@all">
                                                <p:confirm header="#{msg['Confirmation']}" message="#{msg['ConfirmLogOut']}" icon="ui-icon-alert"/>
                                            </p:commandButton>
                                            <p:spacer width="10" />



                                        </f:facet>
                                    </p:toolbar>

                                </h:form>
                            </p:column>
                        </p:row>
                    </p:panelGrid>  
                </p:layoutUnit>

                <!-- ***************************************** -->
                <!--       MAIN - Main User Interface     -->
                <!-- ***************************************** -->

                <p:layoutUnit id="ltuMain" position="center" size="auto" style="font-size: small; border: 0;" >
                    <h:panelGroup id="content" layout="block">
                        <p:layout fullPage="false"  >


                            <!-- ***************************************** -->
                            <!--       CENTER - General User Interface     -->
                            <!-- ***************************************** -->
                            <p:layoutUnit id="ltuCenter" size="10" maxSize="1652" position="center" style="font-size: small; border: 0"  >
                                <!-- This page is dynamically selected, based on the user's action in the Action bar -->
                                <ui:include src="#{pageManager.selectedAction.mainNavigationPage}" />   
                            </p:layoutUnit>



                            <!-- **************************************************************************** -->
                            <!--       WEST - Action bar, for selecting processes and/or actions to perform   -->
                            <!-- **************************************************************************** -->
                            <p:layoutUnit rendered="#{pageManager.renderWest}"  
                                          maxSize="250" size="250" id="ltuWest" 
                                          position="west"  style="font-size: small; padding-left: 20px" >
                                <div style="position: fixed; max-width: 230px;">
                                    <h:panelGroup id="navigation" layout="block">
                                        <ui:include src="#{pageManager.selectedAction.sectionNavigationPage}" />    
                                    </h:panelGroup>
                                    <!-- Available Credits -->
                                    <p:spacer height="15"/>
                                    <p:commandButton id="#{pageManager.navSettingsServerInfo.buttonId}" 
                                                     value="#{msg['viewPayrollCreditBalance']}: #{pageManager.payrollCredits}"  
                                                     class="ui-navigation-button-special" 
                                                     ajax="true"  
                                                     actionListener="#{pageManager.setNavigation}"
                                                     update=":content" />
                                </div>
                            </p:layoutUnit>

                        </p:layout>
                    </h:panelGroup>
                </p:layoutUnit>
            </p:layout>
            <ui:include src="_infuse_olark.xhtml" />
        </h:body>

    </f:view>


</html>

