/* 
    Created on : 14 Apr 2014, 9:40:48 AM
    Author     : lterblanche
*/
.ui-tooltip {
    max-width: 500px;
}

.ui-login {
    margin: 0 auto;
}

.ui-inputtext{
    font-weight: normal !important;
}
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.hintSpacing {
    line-height: 2em !important;
}

.sectionHeader {
    margin-bottom:10px;
    
} 

.panelColumns td {
    vertical-align: top; 
} 
.panelColumns {
    width: 100%;
} 
.ui-fieldset-legend{
    font-size: large;
}

.sectionHeader .ui-state-default {
    background:rgba(0, 0, 0, 0);
    border:0px solid #68727B;
    color: #000000;
    font-weight: bold;
    margin-bottom:2px; 
    text-align: left
}


.sectionHeader .ui-state-active {
    background:rgba(0, 0, 0, 0);
    border:1px solid #68727B;
    color: #AAAAAA;
    font-weight: bold;
    margin-bottom:2px; 
    text-align: left
}

.payEntityEarningRow{
    background: #c8ffc8  !important ;
}
.payEntityDeductionRow{
    background: #f2a3a5  !important ;
    color: black !important;
}
 
.payEntityInterimRow{
    background: #FFFFFF  !important ;
}
.payEntityLoanRow{
    background: burlywood  !important ;
}
.payEntitySavingRow{
    background: burlywood  !important ;
}
.payEntityDefaultRow{
    background: white  !important ;
}


.ui-treenode-content {
    background: #FFFFFF !important;
    border:3px solid #68727B;
    //color: #222222;
    font-weight: bold;
    margin-bottom:2px; 
    text-align: left
}
.booleanCheckBoxStyle .ui-chkbox-box{
    border: 1px solid #AAAAAA; 
    background-color: #CCCCCC;
}

.ui-radiobutton-icon{
    border: 1px solid #AAAAAA; 
}

.ui-layout-container {
    overflow-x: visible !important;
    overflow-y: visible !important;
}


.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

ui-layout-resizer, .ui-layout-resizer-north, .ui-layout-resizer-open, .ui-layout-resizer-north-open{ 
    width: 0px !important; 
    height:30px !important; 
}

.ui-layout-unit {
    border: 0 !important;
}
.ui-menu .ui-menuitem-link {
    font-size: small;
    font-weight:400;
    line-height:16px;
    text-decoration:none;
}

.panelColumns .ui-datatable .ui-datatable-data tr{
    height : 10px !important;
}


.ui-menubar .ui-widget-header h1, .ui-menubar .ui-widget-header h2, .ui-menubar .ui-widget-header h3, .ui-menubar .ui-widget-header h4, .ui-menubar .ui-widget-header h5, .ui-menubar .ui-widget-header h6 {
    padding:0.4em 0.3em;
    font-size: small;
}

.compulsoryIndicator{
    font-variant-position: super;
    font-weight: bold;
    color:#ff0000;
}
.ui-inputfield {
    border: 1px solid #AAAAAA !important;
}

.ui-icon.mnuCompany {
    background-image: url('../icons/company.gif');
    background-position: 0 0;
    padding-right: 0.3em;
}

.ui-icon.mnuEmployee {
    background-image: url('../icons/employee.gif');
    background-position: 0 0;
    padding-right: 0.3em;
}

.ui-panelgrid-even {
    border: 0px !important;
}
.ui-panelgrid-odd {
    border: none !important;
}


.ui-autocomplete { 
    vertical-align: top;
}
.ui-autocomplete-input {
    vertical-align: top !important;
    height: 20px;
    width: 160px;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    border:0 none;
    margin:1px 0;
    padding:3px 5px;
    text-align:left;
    white-space:nowrap;
    font-size: small;
}

.ui-selectonemenu .ui-selectonemenu-label {
    border:none;
    display:block;
    float:left;
    font-weight:lighter;
    overflow:hidden;
    white-space:nowrap;
    width:100%;
}


.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
    padding: 0.5em !important;
    margin-right: 2em !important;

}

.ui-button{
    vertical-align: top;
}

.ui-navigation-button{
    vertical-align: top;
    width: 100%;
}

.ui-navigation-button-special{
    vertical-align: top;
    background-color: white !important;
    width: 100%;
}


.ui-panelmenu-header{
    font-weight: normal;
    text-align: left;

}
.ui-button-text{
    font-weight: normal;
    vertical-align: central;
    text-align: center;
    //color: #222222;
}

.ui-button-icon-only{
    width: 20px !important;
}
/*
Logo Display
*/
.logoPosition {
    vertical-align: top;
    text-align: right;
    margin:0px;
    margin-left:  500px !important;
    margin-right: auto !important;
}


/*
*************************************************************
 DISPLAY
*************************************************************
*/

.panelGridCenter {
    margin: 0 auto;
    border: none !important;
    width: 100%;
}

.panelGridCenter tr {
    border: none !important;   
}

.panelGridCenter td {
    border-color: darkgray;
}

.navigationGrid {
    margin: 0 auto;
    border: none !important;
    width: 100%;
}


.navigationGrid td {
    border: 1px red !important;   
}

.navigationGrid tr {
    border-style: solid !important;   
    border: 1px lightgray;
}

.EmployeeSelectionInnerGrid tr {
    border: none !important;
}

.EmployeeSelectionInnerGrid tr td  {
    border: 1px black !important;
}
/* Input box/query/list */
.inlineInputStyle {
    margin-left: 10px;
    font-weight: normal !important;
}
/* Input prompt */
.inlineHeadingStyle {
    margin-left: 10px;
    font-weight: bolder;
    text-align: right !important;
}
.inlineValueStyle .ui-inputmask{
    margin-left: 10px;
    font-weight: normal !important;
    text-align: left !important;
}

.inlineHintStyle{
    font-style: italic;
}


.attention{
    font-weight: bold;
    color: #ff0000;
}
/* Column definition */
.navHeaderFont{
    font-weight: bolder !important;
    font-size: large;
    border-style: none;
    padding: 3px 5px;
}

.ui-autocomplete-item .ui-state-highlight{
    background-color: red !important;
}

.nameValuePairBox  {
    margin: 0 auto;
    border: none !important;
    width: 100%;
}
.nameValuePairBox td  {
    border: none;
    width: 80px !important;
}

.ui-panelgrid-cell {
    border: none !important;
}

.ui-panelgrid td {
    padding:4px 1px;
}

.editFormHeader {
    text-align: left !important;
    font-weight: bolder;
    font-size: medium;
}

.editFormButton {
    text-align: right !important;
    font-weight: bolder;
    font-size: large;
}

.editFormHeaderToolbar {
    width: 100%; 
    background: #f2a3a5;
}

.hintBlock .ui-accordion-header{
    background-color: #ffeeee;
}

.hintBlock .ui-accordion-content{
    background-color: #fff6f6;
}

.zeroSize {
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 0px;
    height: 0px;
}

.ui-datatable.payslipStyle th {
    background: #af180c;
    border: none;
    font-size: 1em;
    color: white;
}


.reportDataTable .ui-datatable .ui-datatable-header{
    height: 35px !important;
}

@media print {
    @page{
        size: A4 landscape;
        margin: 5px;
    }
    nav, aside {
        display: none;
    }
    img {
        max-width: 0px;
    }
    ul, img {
        page-break-inside: avoid;
    }

    header nav, footer {
        display: none;
    }
}