/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Sep 2014, 4:28:16 PM
    Author     : lterblanche
*/

.closed-lock{
    background: url(../images/icon-lock-closed.png) no-repeat !important;
    height:20px;
    width:20px;
    padding-right: 3px;
    background-size: contain;
}

.pointer{
    background: url(../images/icon-pointing-right.png) no-repeat  !important;
    height:20px;
    width:20px;
    padding-right: 8px;
    background-size: contain;
}

.ui-datatable .ui-row-editor .ui-icon-pencil {
    background-image: url(../images/icon-edit.png) !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 90%;
}

.ui-datatable .ui-row-editor .ui-icon-check {
    background-image: url(../images/icon-editapply.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90% 90%;
}

.ui-datatable .ui-row-editor .ui-icon-close {
    background-image: url(../images/icon-editundo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90% 90%;
}


